//
// Badge
// --------------------------------------------------

.badge {
	display: inline-block;
	font-weight: $badge-font-weight;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: $badge-border-radius;

	@include touch-or-bp-down(sm) {
		font-size: $badge-font-size-mobile;
		padding: $badge-padding-y-mobile $badge-padding-x-mobile;
	}

	@include mouse-and-bp-up(md) {
		font-size: $badge-font-size;
		padding: $badge-padding-y $badge-padding-x;
	}
}

.badge-pill {
	border-radius: $badge-pill-border-radius;

	html:not(.specifity) & {
		padding-right: $badge-pill-padding-x;
		padding-left: $badge-pill-padding-x;
	}
}
