//
// Details list
// --------------------------------------------------

.details-list {
	margin: 0 0 $space-xs;

	li {
		display: flex;
		align-items: center;

		@include touch-or-bp-down(sm) {
			height: $line-height-large-touch;
			padding: 0 $default-padding-x-touch;
		}

		@include mouse-and-bp-up(md) {
			height: $line-height-large;
			padding: 0 $default-padding-x;

			> .icon {
				&:first-child {
					margin-right: $space-xs;
				}
			}

			> .btn {
				flex: 0 0 auto;

				@include state("li:not(:focus-within)") {
					opacity: 0.01;
				}

				@include state("li:hover", "li:focus-within") {
					opacity: 1;
				}

				&:last-child {
					margin-left: 1px; // Optical $space-xs
					margin-right: -$space-min - $input-border-width;
				}
			}
		}

		a {
			flex: 1 1 auto;
			color: $details-list-link-color;
			@include text-truncate;
		}

		.no-link {
			flex: 1 1 auto;
			color: $details-list-no-link-color;
		}
	}
}

