//
// Keyboard focus
// --------------------------------------------------

// Outline of checkboxes/radios can’t be restored in Edge once it is disabled
.mouse:not(.keyboard) #{$scope} :focus,
.touch:not(.keyboard) #{$scope} :focus {
	outline: none;
}

.keyboard #{$scope} :focus {
	outline: $outline-width solid $focus-color;
	outline-offset: $outline-offset;
	position: relative;
}

// Hide modal outline
[tabindex="-1"] {
	&:focus {
		outline: none;
	}
}
