@use "../abstracts/variables";
@use "../themes/common";

// Outline of checkboxes/radios can’t be restored in Edge once it is disabled
.mouse:not(.keyboard) :focus,
.touch:not(.keyboard) :focus {
	outline: none;
}

.keyboard :focus {
	outline: variables.$outline-width solid common.$focus-color;
	outline-offset: variables.$outline-offset;
	position: relative;
}

// Hide modal outline
[tabindex="-1"] {
	&:focus {
		outline: none;
	}
}
