//
// Forms
// --------------------------------------------------

::placeholder {
	color: $placeholder-color;
}

.form { // We do not use a form element for its side effects
	@include variant(".modal form") {
		margin: ($form-section-margin - $modal-inner-padding)
			(-$modal-inner-padding);
	}
}

.form-group {
	@include touch-or-bp-down(sm) {
		display: flex;
		padding-top: $input-border-width;
		position: relative;

		&::before,
		&::after {
			position: absolute;
			left: 0;
			right: 0;
			height: $input-border-width;
			background-color: $input-border-color;
			z-index: 2;
		}

		&::before {
			content: "";
			top: 0;
		}

		&:last-child {
			padding-bottom: $input-border-width;

			&::after {
				content: "";
				bottom: 0;
			}
		}
	}

	@include touch-keyboard-or-bp-down(sm) {
		&:focus-within {
			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				height: $outline-width;
				background-color: $focus-color;
				z-index: 2;
			}

			&:before {
				bottom: calc(100% - #{$input-border-width});
			}

			&:after {
				top: calc(100% - #{$input-border-width});
			}
		}
	}
}

label {
	.editing &,
	.form-group & {
		@include touch-or-bp-down(sm) {
			flex: 0 0 auto;
			line-height: $input-btn-height-touch;
			padding: 0 ($input-btn-padding-x-touch / 2) 0 $input-btn-padding-x-touch;
			background-color: $input-bg;
			color: $label-color;

			.icon {
				vertical-align: top;
				margin-top: ($input-btn-height-touch - 28px) / 2;
			}
		}
	}
}

.input-group {
	flex: 1 1 auto;
	display: flex;
	min-width: 0;
	position: relative;

	.icon-spin {
		position: absolute;

		@include touch-or-bp-down(sm) {
			right: $input-btn-padding-x-touch;
			top: calc(50% - #{$space-lg / 2});
		}
	}

	&.textarea {
		@include touch-or-bp-down(sm) {
			margin-top: -6px;
			padding-bottom: 7px;
		}
	}

	&.busy {
		&.textarea {
			&::after {
				content: "";
				position: absolute;
				right: 0;
				background: $body-bg;
			}

			.icon-spin {
				top: auto;
				z-index: 2; // Over generated content 'backdrop'
			}

			// Align backdrop and spinner with last line
			@include touch-or-bp-down(sm) {
				&::after,
				.icon-spin {
					right: $input-btn-padding-x-touch;
					bottom: 9px;
				}
			}

			@include mouse-and-bp-up(md) {
				&::after,
				.icon-spin {
					bottom: 1px;
					width: $icon-spin-size-sm;
					height: $icon-spin-size-sm;
				}
			}
		}
	}
}

.form-control {
	flex: 1 1 auto;
	display: block;
	width: 100%;
	color: $input-color;
	background-color: $input-bg;

	@include touch-or-bp-down(sm) {
		height: $input-btn-height-touch;
		padding: 0 $input-btn-padding-x-touch 0 ($input-btn-padding-x-touch / 2);
		border: none;
	}

	@include touch-keyboard-or-bp-down(sm) {
		&:focus {
			outline: none;
		}
	}

	@include mouse-and-bp-up(md) {
		padding: 0 $input-btn-padding-x;
		border: $input-border-width solid $input-border-color;
	}

	.busy:not(.textarea) & {
		@include touch-or-bp-down(sm) {
			padding-right: $input-btn-padding-x-touch + $space-lg + 1px;
		}
	}

	@at-root #{selector-append(textarea, &)} {
		@include touch-or-bp-down(sm) {
			padding-left: $input-btn-padding-x-touch;
		}
	}

	&.Select {
		@include mouse-and-bp-up(md) {
			padding: 0;
			border: none;
		}
	}
}

textarea {
	resize: vertical;

	.auto-resizer & {
		resize: none;
	}
}

.native-select-wrap {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	min-width: 0;
	position: relative;
	background-color: $input-bg;

	select {
		appearance: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;

		&:focus {
			position: absolute; // Reset

			& + .form-control {
				color: $focus-color;
			}
		}
	}

	.form-control {
		@include text-truncate(clip);
		padding-right: 0;
		margin-right: $input-btn-padding-x-touch;
		line-height: $input-btn-height-touch; // Center text vertically
	}
}

input[type="checkbox"] {
	@include touch-or-bp-down(sm) {
		-webkit-appearance: none;
		appearance: none;
		flex: 0 0 auto;
		width: $space-lg;
		height: $space-lg;
		border-radius: $space-lg / 2;
		background-color: $input-bg;
		border: $input-border-width solid $checkbox-border-touch;

		&:checked {
			border: 0;
			background: image-url("icons/tick.svg") no-repeat 0 0 $checkbox-border-touch;
		}
	}

	@include touch-keyboard-or-bp-down(sm) {
		&:focus {
			outline: none;
			box-shadow: 0 0 0 $input-btn-focus-width $btn-secondary-color;
		}
	}
}
