//
// Forms
// --------------------------------------------------

.input-group {
	flex: 1 1 auto;
	display: flex;
	position: relative;

	.icon-spin {
		position: absolute;
	}

	.editable-control {
		& + .icon-spin {
			width: $space-md;
			height: $space-md;
			top: 0;
			right: 0;
		}
	}
}

.form-control {
	display: block;
	width: 100%;
	background-color: $input-bg;

	@include touch-or-bp-down(sm) {
		padding: 0;
		border: none;
	}

	@include mouse-and-bp-up(md) {
		padding: 0 $input-btn-padding-x;
		border: $input-border-width solid $input-border-color;
	}
}
