//
// Grid
//

.col {
	flex: 1 1 0;
	width: 100%;
	max-width: 100%;
	position: relative;
}

@for $i from 1 through $grid-columns {
	.col-#{$i} {
		@include mouse-and-bp-up(md) {
			flex: 0 0 calc( 100% / (#{$grid-columns / $i}) );
			max-width: calc( 100% / (#{$grid-columns / $i}) );
		}
	}
}
