//
// Loading cover
// --------------------------------------------------

.loading-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $z-index-loading-cover;
	background-color: $shade-0;

	.icon-z {
		html:not(.specifity) & {
			color: $primary;
		}
	}
}
