//
// Loading cover
// --------------------------------------------------

.loading-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $z-index-loading-cover;
	background-color: var(--color-background);

	.icon-z {
		@include scopedVariant("html:not(.specifity)") {
			color: var(--accent-red);
		}
	}

	.circular-progress-bar {
		position: absolute;

		svg {
			width: 100px;
			height: 100px;
			transform: rotate(-90deg);
			overflow: initial;
		}

		circle {
			stroke-width: 20px;
			fill: none;

			&.back {
				stroke: $shade-2;
			}

			&.front {
				position: relative;
				stroke-position: inside;
				stroke: var(--accent-blue);
				z-index: 1;
			}
		}
	}
}
