@use "../abstracts/variables";
@use "../themes/common";

.scrollbar-style-permanent {
	::-webkit-scrollbar {
		width: variables.$scrollbar-size;
		height: variables.$scrollbar-size;

		&-track {
			background-color: common.$scrollbar-bg;
		}

		&-thumb {
			background-color: common.$scrollbar-color;
			border-radius: 6px;
			border: variables.$space-min solid common.$scrollbar-bg;
			background-clip: content-box;
			min-width: variables.$space-lg + 2 * variables.$space-min;
			min-height: variables.$space-lg + 2 * variables.$space-min;

			&:active {
				border-width: variables.$space-min * 0.5;
			}
		}

		&-corner {
			background: common.$scrollbar-bg;
		}
	}
}
