//
// Sidebar
// --------------------------------------------------

.sidebar {
	background: $sidebar-bg;
	overflow: hidden;
	position: relative;

	@include bp-down(xs) {
		position: absolute;
		top: $line-height-large-touch;
		left: 0;
		right: 0;
		bottom: 0;
	}

	@include touch-or-bp-down(sm) {
		line-height: $line-height-large-touch;
	}

	@include mouse-and-bp-up(md) {
		padding: $space-min 0;
	}

	@include bp-up(sm) {
		flex: 0 0 $sidebar-width-sm;
	}

	@include bp-up(md) {
		flex: 0 0 $sidebar-width-md;
		line-height: $line-height-large;
	}

	@include bp-up(lg) {
		flex: 0 0 $sidebar-width-lg;

		.touch & {
			flex: 0 0 $sidebar-width-lg-touch;
		}
	}
}
