//
// Sidebar
// --------------------------------------------------

.sidebar {
	background: $sidebar-bg;
	overflow: auto;
	position: relative;

	@include touch-or-bp-down(sm) {
		line-height: $line-height-large-touch;
	}

	@include bp-up(sm) {
		flex: 0 0 $sidebar-width-sm;
	}

	@include bp-up(md) {
		flex: 0 0 $sidebar-width-md;
		line-height: $line-height-large;
	}

	@include bp-up(lg) {
		flex: 0 0 $sidebar-width-lg;

		.touch & {
			flex: 0 0 $touch-sidebar-width-lg;
		}
	}
}