//
// Transitions
// --------------------------------------------------

.fade {
	will-change: opacity;

	&-enter {
		opacity: 0;

		&-active {
			opacity: 1;
			transition: opacity $fade-transition;
		}
	}

	&-exit {
		opacity: 1;

		&-active {
			opacity: 0;
			transition: opacity $fade-transition;
		}
	}
}
