//
// Transitions
// --------------------------------------------------

.fade {
	will-change: opacity;

	&-enter {
		opacity: 0 !important;

		&-active {
			opacity: 1 !important;
			transition: opacity $fade-transition !important;
		}
	}

	&-exit {
		opacity: 1 !important;

		&-active {
			opacity: 0 !important;
			transition: opacity $fade-transition !important;
		}
	}
}
