#{$scope} {
	.embedded-footer {
		align-items: center;
		background-color: $touch-footer-darker-bg;
		display: flex;
		flex-direction: row;
		height: 32px;
		justify-content: flex-end;
		padding: 0 $space-sm;

		@include touch-or-bp-down(sm) {
			height: 42px;
		}

		@include hairline(top, $touch-header-border);

		.embedded-tag-selector {
			display: flex;
			flex-direction: row;
			flex: auto;

			.tag-summary {
				line-height: 32px;

				@include touch-or-bp-down(sm) {
					line-height: 42px;
				}
			}
		}

		.embedded-see-on-zotero {
			html.touch & {
				line-height: 42px;
			}
		}
	}
}
