#{$scope} {
	.embedded-header {
		align-items: center;
		background-color: $touch-footer-darker-bg;
		display: flex;
		flex-direction: row;
		height: 32px + 2 * $space-sm;
		justify-content: space-between;
		padding: $space-sm 0;

		@include scopedVariant(".view-item-details-active") {
			@include hairline(bottom, $touch-header-border);
		}

		a:hover {
			text-decoration: none;
			.icon {
				color: $link-hover-color;
			}
		}

		.embedded-collection-picker {
			flex: 1 1 15%;

			.item-container {
				display: flex;
				margin-left: $space-min;

				.icon {
					flex: 0 0 auto;
					margin-right: $space-xs;
				}

				[class*="icon-chevron"] {
					transform: scaleY(-1);
					margin-top: 2px;
				}

				@include mouse-keyboard-and-bp-up(md) {
					&:focus {
						border-color: $btn-secondary-color;
						box-shadow: 0 0 0 $input-btn-focus-width $btn-secondary-color;
					}

					@include state(".item-container.active") {
						&, .icon {
							color: $icon-active-color;
						}
					}
				}
			}
		}

		.embedded-info-view {
			flex: 1 1 30%;
			text-align: center;
			line-height: 32px;
		}

		.search {
			flex: 1 1 20%;
		}

		.column-selector {
			flex: 0 0 32px;
			padding: 3px;
		}

		.back {
			margin-left: $space-min + 10px;
			border-color: transparent;

			[class*="icon-chevron"] {
				transform: rotate(-90deg);
			}
		}
	}
}
