//
// Flex
//

#{$scope} {
	.flex-row {
		flex-grow: 1; // Do not set flex-basis as it conflicts with grid classes
		display: flex;
		min-width: 0; // Fix truncation
	}

	.flex-column {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 0; // Fix truncation
	}

	.justify-content-end {
		justify-content: flex-end;
	}

	.justify-content-between {
		justify-content: space-between;
	}

	.justify-center {
		justify-content: center;
	}

	.align-items-center {
		align-items: center;
	}
}
