//
// Visibility
// --------------------------------------------------


// Responsive visibility

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include bp-up($bp) {
      display: none !important;
    }
  }

  .hidden-#{$bp}-down {
    @include bp-down($bp) {
      display: none !important;
    }
  }
}


// Responsive visibility for 'mouse devices' only

@each $bp in map-keys($grid-breakpoints) {
	body:not(.touch) .hidden-mouse-#{$bp}-up {
		@include bp-up($bp) {
			display: none !important;
		}
	}

  body:not(.touch) .hidden-mouse-#{$bp}-down {
    @include bp-down($bp) {
      display: none !important;
    }
  }
}

body:not(.touch) .hidden-mouse {
	display: none !important;
}


// Responsive visibility for 'touch devices' only

@each $bp in map-keys($grid-breakpoints) {
	.touch .hidden-touch-#{$bp}-up {
		@include bp-up($bp) {
			display: none !important;
		}
	}

  .touch .hidden-touch-#{$bp}-down {
    @include bp-down($bp) {
      display: none !important;
    }
  }
}

.touch .hidden-touch {
	display: none !important;
}


// Screen readers only

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
