//
// Attachment list
// --------------------------------------------------

.attachment-list {
	.attachment {
		&.selected {
			background-color: $attachment-selected-bg;

			&:focus-within {
				color: $attachment-focus-color;
				background-color: $attachment-focus-bg;

				.icon {
					color: $attachment-focus-color;
				}
			}
		}

		> .icon:first-child,
		.truncate {
			@include variant(".attachment.no-link") {
				opacity: $no-link-opacity;
			}
		}

		.truncate {
			flex: 1 1 auto;
		}
	}
}
