@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/mixins/selectors";
@use "../../abstracts/variables";
@use "../../themes/common";

//
// Attachment list
// --------------------------------------------------

.attachment-list {
	.attachment {
		> .icon-spin {
			@include breakpoints.touch-or-bp-down(sm) {
				margin-left: 13px;
				margin-right: 4px;
			}
		}

		> .icon:first-child,
		.truncate {
			@include selectors.state(".attachment.no-link") {
				opacity: common.$no-link-opacity;
			}
		}

		> .btn-icon {
			@include breakpoints.touch-or-bp-down(sm) {
				padding: variables.$space-min;
			}
		}


		> .btn-icon .icon {
			@include breakpoints.touch-or-bp-down(sm) {
				@include selectors.state(".attachment:not(.selected)") {
					color: var(--color-accent);
				}
			}
		}

		> .btn-icon:last-child {
			@include breakpoints.touch-or-bp-down(sm) {
				margin-right: -(variables.$input-btn-padding-x-touch) - variables.$border-width;
			}
		}
	}
}
