//
// Attachment list
// --------------------------------------------------

.attachment-list {
	.attachment {
		> .icon-spin {
			@include touch-or-bp-down(sm) {
				margin-left: 13px;
				margin-right: 4px;
			}
		}

		> .icon:first-child,
		.truncate {
			@include variant(".attachment.no-link") {
				opacity: $no-link-opacity;
			}
		}

		> .btn-icon:last-child {
			@include touch-or-bp-down(sm) {
				margin-right: -$input-btn-padding-x-touch - $border-width;
			}
		}
	}
}
