//
// Attachment pane
// --------------------------------------------------

.tab-pane.attachments {
	@include mouse-and-bp-only(md) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content auto;
		grid-auto-flow: column;
		height: 100%;

		&.active {
			display: grid;
		}
	}

	@include mouse-and-bp-up(lg) {
		height: 100%; // Fix rich-editor height in Safari
	}

	&.dnd-target {
		position: relative;
		@include dnd-target;
	}

	> .toolbar {
		height: $toolbar-height-touch;

		@supports not (-webkit-font-smoothing: subpixel-antialiased) {
			.scrollbar-style-permanent & {
				height: $toolbar-height-touch + $border-width;
				border-bottom: $border-width solid $attachments-toolbar-border-color;
			}
		}

		.counter {
			margin-right: $space-xs;
		}

		> .btn-default {
			@include state(".btn-file:active .btn-default") {
				color: $icon-active-color;
			}
		}
	}

	.scroll-container-mouse {
		flex: 1 1 0;

		@supports not (-webkit-font-smoothing: subpixel-antialiased) {
			.scrollbar-style-permanent & {
				padding-top: $space-min / 2;
			}
		}
	}

	.attachment-details {
		display: flex;
		flex-direction: column;

		@include mouse-and-bp-only(md) {
			border-left: $border-width solid $attachment-details-border-color;
			grid-column: 2;
			grid-row: 1 / 3;
		}

		@include mouse-and-bp-up(lg) {
			flex: 0 0 calc(50% + 42px); // Same size for scrollable area in attachment-list and rich-editor for an average of a 2 line metadata-list
			border-top: $border-width solid $attachment-details-border-color;
		}

		&.no-selection {
			justify-content: center;
			align-items: center;
		}
	}

	.placeholder {
		font-size: $font-size-h1;
		color: $attachment-placeholder-color;
	}

	.rich-editor {
		@include mouse-and-bp-up(md) {
			border-top: $border-width solid $editor-border-color;
		}
	}
}
