//
// Attachment pane
// --------------------------------------------------

.tab-pane.attachments {
	&.dnd-target {
		position: relative;

		&::before {
			background-color: $shade-4;
			bottom: 0;
			content: "";
			left: 0;
			opacity: 0.5;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.scroll-container-mouse {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.toolbar {
			position: sticky;
			bottom: 0;
			height: $toolbar-height-touch;
			background-color: $panel-bg;

			.btn-link {
				color: $icon-color;

				@include state(".btn-file:active .btn-link") {
					color: $icon-active-color;
				}
			}
		}
	}
}
