node_modules
/lib
/sass
/build
/data
/cert
/tmp
/_*
.DS_Store
coverage
visualizer
.nyc_output
.secret.json

src/static/reader/
src/static/pdf-worker/
src/static/note-editor/
src/static/fonts/
src/static/js/citeproc.js
src/static/locales/

/playwright
local.log