[submodule "modules/pdf-reader"]
	path = modules/pdf-reader
	url = https://github.com/zotero/pdf-reader.git

[submodule "modules/pdf-worker"]
	path = modules/pdf-worker
	url = https://github.com/zotero/pdf-worker.git
