//
// Bibliography
//

// CSL styles only work correctly with content-box
.csl-entry {
	word-wrap: break-word; // Break long URLs
	margin: 0 !important; // Override entry-spacing defined in CSL

	&,
	* {
		box-sizing: content-box;
	}
}

.csl-left-margin {
	word-wrap: normal;
}

.bibliography {
	// Revert global base styles that should not apply to the bibliography
	// (https://github.com/zotero/dataserver/issues/114)

	ul, ol {
		list-style: revert;
	}
}
