//
// Buttons
// --------------------------------------------------

.btn {
	padding: $btn-padding;
	cursor: pointer;
	border: $border-width solid transparent;
	color: $text-color;
	transition:
		color $btn-transition,
		background-color $btn-transition,
		border-color $btn-transition,
		box-shadow $btn-transition;

	@include mouse-and-bp-up(md) {
		border-radius: $btn-border-radius;
	}

	&:focus:not(.btn-link) {
		outline: none;
	}

	&:not(:disabled) {
		cursor: pointer;
	}

	&[disabled] {
		opacity: 0.5;
		cursor: default;
	}
}

.btn-link {
	display: inline;
	padding: 0;
	border: 0;
	color: $link-color;
	background-color: transparent;
}


// Icon button

.btn-icon {
	background: $btn-icon-bg;
	line-height: 1;

	@include touch-or-bp-down(sm) {
		padding: $input-btn-padding-y-touch $input-btn-padding-x-touch;
	}

	@include touch-keyboard-or-bp-down(sm) {
		&:focus {
			outline: $outline-width solid $focus-color;
			outline-offset: -$outline-width;
		}
	}

	@include mouse-and-bp-up(md) {
		padding: $space-min;
	}

	@include mouse-keyboard-and-bp-up(md) {
		&:focus {
			border-color: $btn-secondary-color;
			box-shadow: 0 0 0 $input-btn-focus-width $btn-secondary-color;
		}
	}

	.icon {
		vertical-align: top;
	}

	&:active {
		.icon {
			color: $icon-active-color;
		}
	}

	&.active {
		background: $btn-icon-active-bg;

		.icon {
			color: $btn-icon-active-color;
		}
	}
}


// Twisty

.twisty {
	display: block;
	width: $space-md;
	height: $space-md;
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
	transition: transform $twisty-transition;

	.icon-triangle {
		vertical-align: top;
		transform: rotate(90deg);
	}
}


