//
// Buttons
// --------------------------------------------------

.btn {
	padding: $input-btn-padding-y $input-btn-padding-x;
	cursor: pointer;
	border: $border-width solid transparent;
	color: $text-color;
	background-color: transparent;
	transition:
		color $input-btn-transition,
		background-color $input-btn-transition,
		border-color $input-btn-transition,
		box-shadow $input-btn-transition;

	@include touch-or-bp-down(sm) {
		padding: 0 $default-padding-x-touch;
	}

	@include mouse-and-bp-up(md) {
		border-radius: $input-btn-border-radius;
	}

	&:focus:not(.btn-link) {
		outline: none;
	}

	&:not(:disabled) {
		cursor: pointer;
	}

	&:disabled {
		opacity: 0.5;
		cursor: default;
	}

	.icon {
		position: relative;
		top: -2px;
		margin-right: $space-min;
	}
}

.btn-circle,
.btn-icon {
	.icon {
		position: static;
		vertical-align: top;
		margin: 0;
	}
}

// Icon button

.btn-icon {
	line-height: 1;

	@include touch-or-bp-down(sm) {
		padding: $input-btn-padding-y-touch $input-btn-padding-x-touch;
	}

	@include touch-keyboard-or-bp-down(sm) {
		&:focus {
			outline: $outline-width solid $focus-color;
			outline-offset: -$outline-width;
		}
	}

	@include mouse-and-bp-up(md) {
		padding: $space-min;

		&.active {
			background-color: $btn-icon-active-bg;
		}
	}

	@include mouse-keyboard-and-bp-up(md) {
		&:focus {
			border-color: $btn-secondary-color;
			box-shadow: 0 0 0 $input-btn-focus-width $btn-secondary-color;
		}
	}

	.icon {
		position: static;
		margin: 0;

		@include mouse-and-bp-up(md) {
			@include state(".btn-icon:active") {
				color: $icon-active-color;
			}

			@include state(".btn-icon.active") {
				color: $btn-icon-active-color;
			}
		}
	}
}

.btn-link {
	display: inline;
	border: 0;
	color: $link-color;
	background-color: transparent;

	html:not(.specifity) & {
		padding: 0;
	}

	.icon {
		color: inherit;
	}
}

.btn-lg {
	font-size: $font-size-lg;
	padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
}

.btn-xl {
	// 48px height
}

.btn-xxl {
	// 64px height
}

.btn-primary {
	@include button-variant($btn-primary-color);
}

.btn-outline-primary {
	@include button-variant($btn-primary-color, $outline: true);
}

.btn-secondary {
	@include button-variant($btn-secondary-color);
}

.btn-outline-secondary {
	@include button-variant($btn-secondary-color, $outline: true);
}

.btn-outline-light {
	@include button-variant($btn-light-color, $outline: true);
}


// Circle button

.btn-circle {
	@include touch-or-bp-down(sm) {
		width: $space-lg;
		height: $space-lg;
		padding: 0;
		border-radius: 50%;
		line-height: 1; // Center icon vertically
	}
}


// Twisty

.twisty {
	display: block;
	width: $space-md;
	height: $space-md;
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
	transition: transform $twisty-transition;

	.icon-triangle {
		vertical-align: top;
		transform: rotate(90deg);
	}
}

.btn-group {
	display: inline-flex;

	> .btn {
		position: relative;

		&:hover,
		&:focus {
			z-index: 1;
		}

		&:not(:last-of-type) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:not(:first-of-type) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			margin-left: -$input-border-width;
		}

		// Prevent dark border due to overlap
		& + .btn:disabled {
			margin-left: 0;
			border-left-width: 0;
		}
	}

	> .dropdown-toggle {
		&.btn-lg {
			padding-left: $input-btn-padding-x-lg - 3px; // Square button
			padding-right: $input-btn-padding-x-lg - 3px;
		}
	}
}
