//
// Buttons
// --------------------------------------------------

.btn {
	border: 0;
	color: $btn-color;
	background: $btn-bg;
	border-radius: $btn-border-radius;
	padding: $btn-padding;
	cursor: pointer;

	&:focus {
		background: darken($btn-bg, 5%);
		outline: none;
	}

	&:active {
		color: darken($btn-color, 20%);
	}
}


// Twisty

// Container keeps the layout stable when there is no twisty
.twisty-container {
	flex: 0 0 auto;
	width: $space-md;
	height: $space-md;
	margin-right: $space-min;

	@include touch-or-bp-down(sm) {
		display: none;
	}
}

.twisty {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	background: transparent;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	&:focus {
		outline: none;

		&::after{
			border-left-color: $twisty-focus-color;

			.selected & {
				border-left-color: $twisty-focus-color-selected;
			}
		}
	}

	&::after {
		content: "";
		box-sizing: border-box;
		position: absolute;
		left: 4px;
		top: 3px;
		width: 15.588px;
		height: 9px;
		border-width: 4.5px 7.794px;
		border-style: solid;
		border-color: transparent;
		border-left-color: $twisty-color;
		transform-origin: 3.5px 4.5px;
		transition: all $twisty-transition;
	}
}