//
// Color picker
// --------------------------------------------------

.dropdown {
	.color-picker {
		grid-gap: $space-min;

		@include touch-or-bp-down(sm) {
			grid-template-columns: repeat(8, $space-thumb);
			grid-template-rows: repeat(5, $space-thumb);
			padding: $space-min;
		}

		@include mouse-and-bp-up(md) {
			grid-template-columns: repeat(8, $space-md);
			grid-template-rows: repeat(5, $space-md);
			padding: $space-min;
		}

		@include state(".dropdown.show") {
			display: grid;
		}
	}

	.color-picker-option {
		@include mouse-and-bp-up(md) {
			width: 100%;
			height: 100%;

			&[data-color="#ffffff"],
			&.clear {
				padding: 0;
				border: $border-width solid #ddd;
			}

			&.clear {
				background:	image-url("icons/x.svg") center center no-repeat;
			}
		}
	}
}
