//
// Collection tree
// --------------------------------------------------

#collection-tree {
	padding: $collection-tree-padding-vertical 0;

	h4 {
		color: $collection-tree-headings-color;
		margin: 0;
		padding: 0 $collection-tree-padding-horizontal;
	}

	ul {
		li {
			a {
				display: block;
				color: $collection-tree-link-color;
				padding: 0 $collection-tree-padding-horizontal;
			}

			&.active {
				a {
					color: $touch-collection-tree-active-link-color;
					background: $touch-collection-tree-active-link-bg;

					@include media-breakpoint-up(md) {
						color: $collection-tree-active-link-color;
						background: $collection-tree-active-link-bg;
					}
				}
			}
		}
	}

	@for $i from 1 through $collection-tree-max-levels {
		$sel: if($i == 1, "ul", selector-nest($sel, "ul"));

		#{$sel} {
			a {
				padding-left:
					$collection-tree-padding-horizontal
					+ $collection-tree-indent
					* ($i - 1);
			}
		}
	}

	.level {
		.level {
			display: none;
		}

		.open {
			> .level {
				display: block;
			}
		}
	}
}