//
// Color picker
// --------------------------------------------------

.color-picker {
	input {
		display: none;
	}

	.color-picker-grid {
		grid-gap: $space-min;

		@include touch-or-bp-down(sm) {
			grid-template-columns: repeat(8, $space-thumb);
			grid-template-rows: repeat(5, $space-thumb);
			padding: $space-min;
		}

		@include mouse-and-bp-up(md) {
			grid-template-columns: repeat(8, $space-md);
			grid-template-rows: repeat(5, $space-md);
			padding: $space-min;
		}

		@include scopedVariant(".tag-color-manager") {
			@include touch-or-bp-down(sm) {
				grid-template-columns: repeat(3, $space-thumb);
				grid-template-rows: repeat(3, $space-thumb);
				padding: $space-min;
			}

			@include mouse-and-bp-up(md) {
				grid-template-columns: repeat(3, $space-md);
				grid-template-rows: repeat(3, $space-md);
				padding: $space-min;
			}
		}

		@include state(".color-picker.show") {
			display: grid;
		}
	}

	.color-picker-option {
		border: none;

		@include mouse-and-bp-up(md) {
			width: 100%;
			height: 100%;

			&:focus {
				outline: $outline-width solid $focus-color;
			}

			&[data-color="#ffffff"],
			&.clear {
				padding: 0;
				border: $border-width solid #ddd;
			}

			&.clear {
				background:	image-url("icons/x.svg") center center no-repeat;
			}
		}
	}
}
