.modal.copy-citation-modal {
	max-width: 720px;
	width: unset;

	@include bp-down(xs) {
		max-width: unset;
		width: 100%;
	}

	.modal-body {
		@include mouse-and-bp-up(md) {
			padding-top: 0;
		}
	}

	.bubbles {
		--bubble-height: 28px;
		--bubble-horizontal-margin: 2px;
		--bubble-rows-gap: 5px;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--bubble-rows-gap);
		row-gap: var(--bubble-rows-gap);
		max-height: calc(3.5 * (var(--bubble-height) + var(--bubble-rows-gap)));
		padding: 8px 16px;
		margin-bottom: 16px;
		overflow: auto;
		margin-left: -16px;
		margin-right: -16px;
		width: calc(100% + 32px);

		.bubble {
			border-radius: 5px;
			padding: 0 8px;
			white-space: nowrap;
			height: var(--bubble-height);
			background-color: var(--fill-quinary);
			cursor: pointer;

			.dropmarker {
				transform: rotate(180deg);
			}
		}
	}

	.bubble-popover {
		@include touch-or-bp-down(sm) {
			// there is no `.buttons-wrap` on mobile, so we add some bottom padding
			padding-bottom: $space-lg;
		}

		.form {
			display: flex;
			flex-direction: column;

			.select, .select-control {
				height: 100%;
			}

			@include touch-or-bp-down(sm) {
				.form-group:first-child {
					// On desktop these are two separate form groups, but on mobile merged looks better
					margin-bottom: -1px;
				}
			}
		}

		.buttons-wrap {
			display: flex;

			.right {
				flex: 1 0 auto;
				display: flex;
				justify-content: flex-end;

				.btn + .btn {
					margin-left: $space-sm;
				}
			}
		}
	}
}
