@use "../abstracts/functions/asset-url";
@use "../abstracts/mixins/breakpoints";
@use "../abstracts/mixins/selectors";
@use "../abstracts/mixins/utilities";
@use "../abstracts/variables";
@use "../themes/common";

.copy-citation-modal {
	max-height: calc(100vh - 64px);
	min-height: 360px; // on touch, allow enough space for the slide-down editor
	width: unset;

	@include breakpoints.bp-down(xs) {
		max-width: unset;
		max-height: unset;
		width: 100%;
	}

	@include breakpoints.mouse-and-bp-up(md) {
		width: 720px;
		min-height: 480px; // allow enough space for dropdowns to be fully contained within the modal
	}

	.modal-body {
		display: flex;
		flex-direction: column;

		@include breakpoints.mouse-and-bp-up(md) {
			padding-top: 0;
		}
	}

	.bubbles {
		--bubble-height: 28px;
		--bubble-horizontal-margin: 2px;
		--bubble-rows-gap: 5px;

		display: flex;
		flex-flow: row wrap;
		gap: var(--bubble-rows-gap);
		row-gap: var(--bubble-rows-gap);
		max-height: calc(3.5 * (var(--bubble-height) + var(--bubble-rows-gap)));
		padding: 8px 16px;
		margin-bottom: 16px;
		overflow: auto;
		margin-left: -16px;
		margin-right: -16px;
		width: calc(100% + 32px);

		.bubble {
			border-radius: 5px;
			padding: 0 8px;
			white-space: nowrap;
			height: var(--bubble-height);
			background-color: var(--fill-quinary);
			cursor: pointer;

			&.dnd-source {
				opacity: 0;
			}

			.dropmarker {
				// Rotate the `use` element inside the SVG, not the SVG itself, to avoid creating a
				// new stacking context, which would render the chevron on top of the dropdown of
				// the style selector options.
				use {
					transform: rotate(180deg);
					transform-origin: 50% 50%;
					transform-box: fill-box;
				}
			}
		}
	}

	.copy-citation-container {
		overflow-y: scroll;

		@include selectors.state(".loading .copy-citation-container") {
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.bubble-popover {
		.form {
			flex: 0 1 auto;
			display: flex;
			flex-direction: column;

			.select, .select-control {
				height: 100%;
			}
		}

		.buttons-wrap {
			display: flex;

			.right {
				flex: 1 0 auto;
				display: flex;
				justify-content: flex-end;

				.btn + .btn {
					margin-left: variables.$space-sm;
				}
			}
		}
	}

	.citation-touch-editor {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: variables.$z-index-modal + 2;
		display: flex;
		padding: 0;
		flex-direction: column;
		background-color: common.$panel-bg;

		@include breakpoints.touch-or-bp-down(sm) { // keep to match specificity
			.form {
				margin: 0; // reset the negative margin
				padding: variables.$space-sm 0;
			}
		}

		h5 {
			@include utilities.text-truncate(ellipsis);

			margin-top: variables.$space-xs;
			padding: 0 variables.$space-sm;
			text-align: center;
		}

		.form-group:has(+ .buttons-wrap) {
			margin-bottom: variables.$space-sm;
		}

		.col-form-label::after {
			content: ':';
		}

		.col {
			display: flex;
		}

		.buttons-wrap {
			display: flex;

			.right {
				flex: 1 0 auto;
				display: flex;
				justify-content: flex-end;

				.btn + .btn {
					margin-left: variables.$space-sm;
				}
			}

			@include breakpoints.touch-or-bp-down(sm) {
				padding: 0 variables.$space-md;
			}
		}
	}
}


.copy-citation-modal .citation-touch,
.drag-layer .citation-touch {
	&.dnd-source {
		opacity: 0;
	}

	.label {
		flex: 1 1 0;
		text-align: left;
		background: asset-url.image-url("icons/chevron-13.svg") no-repeat right variables.$space-sm center common.$input-bg;
	}

	.drag-handle {
		align-items: center;
		align-self: stretch;
		border-left: 1px solid common.$input-border-color;
		display: flex;
		flex: 0 0 auto;
		padding-left: variables.$default-padding-x-touch;
		padding-right: calc(variables.$default-padding-x-touch - variables.$space-sm); // adjust for form-row padding
		touch-action: manipulation;

		@include selectors.state(".editing .creators-entry") {
			display: flex;
		}

		.icon-grip {
			color: var(--color-shade-4);
		}
	}
}
