.crash-handler {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	max-width: 640px;
	text-align: center;
	width: 100%;
	color: $shade-9;

	h1 {
		font-size: $font-size-h1;
	}

	p {
		margin-top: 1em;
	}

	textarea {
		border: 1px solid $shade-3;
		color: $shade-9;
		padding: 1em;
		resize: none;
		max-width: calc(100% - 2em);
	}
}
