//
// Description List
// --------------------------------------------------

dl {
	margin: $dl-margin;
	line-height: $dl-line-height;

	dt,
	dd {
		@include css-truncate;
	}

	dt {
		color: $dt-color;
		margin-top: $space-min;
	}

	dd {
		margin: 0;
	}

	&.dl-horizontal {
		@include bp-up($dl-horizontal-bp) {
			display: flex;
			flex-wrap: wrap;
			line-height: $dl-horizontal-line-height;

			dt {
				flex: 0 0 $dl-horizontal-offset;
				text-align: right;
				padding-right: ($dl-horizontal-gutter / 2);
				margin-top: 0;
			}

			dd {
				flex: 0 0 calc(100% - #{$dl-horizontal-offset});
				padding-left:
				  $dl-horizontal-gutter / 2
				  - $editable-border-width
				  - $editable-padding-horizontal;
				max-width: 100%;
				overflow: visible;
			}
		}
	}

	.empty {
		@include touch-or-bp-down(md) {
			display: none;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	div.editable {
		padding-left: $editable-border-width + $editable-padding-horizontal;
		height: 100%;
	}

  .editable-control {
    left: auto;
    width: 100%;
  }
}