//
// Details list
// --------------------------------------------------

.details-list {
	margin: $space-xs 0;

	li {
		display: flex;
		align-items: center;

		@include mouse-and-bp-up(md) {
			line-height: $line-height-large; // Prevent flickering between cursor default/pointer states
			padding: 0 $default-padding-x;

			> .icon {
				&:first-child {
					margin-right: $space-xs;
				}
			}

			> .btn {
				&:last-child {
					margin-left: 1px; // Optical $space-xs
					margin-right: -$space-min - $input-border-width;

					@include state("li:not(:focus-within)") {
						visibility: hidden;
					}

					@include state("li:hover", "li:focus-within") {
						visibility: visible;
					}
				}
			}
		}

		a {
			flex: 1 1 auto;
			color: $details-list-link-color;
			@include text-truncate;
		}

		.no-link {
			flex: 1 1 auto;
			color: $details-list-no-link-color;
		}
	}
}

