@use "../abstracts/functions/asset-url";
@use "../abstracts/variables";
@use "../themes/common";

.drag-layer {
	position: fixed;
	inset: 0;
	z-index: variables.$z-index-drag-layer;
	pointer-events: none;
	touch-action: none;
	overflow: hidden;
}

.creator-drag-preview {
	$handle-width: 2 * variables.$default-padding-x-touch + variables.$space-lg;

	display: flex;
	align-items: center;
	min-height: variables.$line-height-large-touch;
	padding-left: 2 * variables.$default-padding-x-touch + variables.$space-lg;
	padding-right: 2 * variables.$default-padding-x-touch + variables.$space-lg + variables.$input-border-width;
	box-shadow: 0 2px 20px common.$creator-drag-preview-shadow;
	background:
		linear-gradient(
			to left,
			transparent,
			transparent $handle-width,
			common.$input-border-color $handle-width,
			common.$input-border-color ($handle-width + variables.$input-border-width),
			transparent ($handle-width + variables.$input-border-width)
		),
		asset-url.image-url("icons/minus-circle-touch.svg")
			no-repeat variables.$default-padding-x-touch center,
		asset-url.image-url("icons/chevron-13.svg")
			no-repeat right ($handle-width + 4px) center,
		asset-url.image-url("icons/grip.svg")
			no-repeat right variables.$default-padding-x-touch center common.$input-bg;

	.creator-type {
		flex: 0 0 calc(
			#{variables.$metadata-list-offset} - #{variables.$metadata-list-gutter-mobile * 0.5}
		);
		color: common.$key-color;
		margin-right: variables.$metadata-list-gutter-mobile * 0.5;
	}

	.name {
		padding-left: variables.$metadata-list-gutter-mobile * 0.5;
		padding-right: variables.$creators-value-padding-right-touch;
	}
}

.citation-touch-drag-preview {
	min-height: variables.$line-height-large-touch;
}

.items-drag-indicator {
	position: absolute;
	display: flex;
	align-items: center;
	height: variables.$item-table-row-height;
	color: common.$items-drag-indicator-color;
	background-color: common.$items-drag-indicator-bg;
	opacity: 0.8;
	padding: 0 variables.$space-sm;
	border-radius: variables.$item-table-row-height * 0.5;
	transform: translate(-50%, -50%);

	.icon {
		margin-right: variables.$space-xs;
	}
}
