@use "../abstracts/mixins/breakpoints";
@use "../abstracts/mixins/dropdown";
@use "../abstracts/mixins/selectors";
@use "../themes/common";

.dropdown {
	position: relative;

	.dropdown-toggle {
		&.btn-icon {
			vertical-align: top;
		}

		[class*="icon-chevron"] {
			transform: scaleY(-1);
			vertical-align: -2px; // Works for btn-lg
		}

		@include selectors.state(".dropdown.show") {
			&.btn-link,
			&.btn-icon {
				@include breakpoints.mouse-and-bp-up(md) {
					color: common.$icon-active-color;

					.icon {
						color: common.$icon-active-color;
					}
				}
			}
		}
	}

	.dropdown-menu {
		@include dropdown.dropdown-menu;

		@include selectors.state(".dropdown.show") {
			display: block;
		}
	}

	.dropdown-item {
		@include dropdown.dropdown-item;

		.keyboard & {
			&:focus {
				color: var(--primary-on-accent);
				background-color: var(--color-accent);
			}
		}
	}

	.dropdown-divider {
		@include dropdown.dropdown-divider;
	}
}
