@use "../abstracts/mixins/breakpoints";
@use "../abstracts/mixins/dropdown";
@use "../abstracts/mixins/selectors";
@use "../abstracts/variables";
@use "../themes/common";

.dropdown {
	.dropdown-toggle {
		&.btn-icon {
			vertical-align: top;
		}

		[class*="icon-chevron"] {
			transform: scaleY(-1);
			vertical-align: -2px; // Works for btn-lg
		}

		@include selectors.state(".dropdown.show") {
			&.btn-link,
			&.btn-icon {
				@include breakpoints.mouse-and-bp-up(md) {
					color: common.$icon-active-color;

					.icon {
						color: common.$icon-active-color;
					}
				}
			}
		}
	}
}

.dropdown-menu {
	@include dropdown.dropdown-menu;

	&.show {
		display: block;
	}

	&.portal {
		position: absolute;
		top: 0;
		left: 0;
		z-index: variables.$z-index-modal-dropdown;
	}
}

.dropdown-item {
	@include dropdown.dropdown-item;

	.keyboard & {
		&:focus {
			color: var(--primary-on-accent);
			background-color: var(--color-accent);
		}
	}
}

.dropdown-divider {
	@include dropdown.dropdown-divider;
}
