.dropdown {
	.dropdown-menu {
		background-color: $menu-bg;
		box-shadow: $menu-box-shadow;
		border-radius: $menu-border-radius;
		z-index: $z-index-menu;
		display: none;

		@include mouse-and-bp-up(md) {
			padding: $space-min 0;
			margin: $space-min 0;
		}

		@include state(".dropdown.show") {
			display: block;
		}
	}

	.dropdown-item {
		display: block;
		width: 100%;
		border: none;
		text-align: left;
		line-height: $line-height-base; // Prevent inheritance
		background-color: transparent;
		margin: 0;

		@include mouse-and-bp-up(md) {
			padding: ($input-btn-padding-y + $input-border-width) $input-btn-padding-x;
		}

		&:hover,
		&:focus {
			background-color: $menu-item-hover-bg;
		}

		&:focus {
			outline: none;
		}
	}

	.dropdown-divider {
		margin-top: $space-min;
		margin-bottom: $space-min;
		border-top: $input-border-width solid $menu-devider;
	}
}
