.dropdown {
	position: relative;

	.dropdown-toggle {
		&.btn-icon {
			vertical-align: top;
		}

		[class*="icon-chevron"] {
			transform: scaleY(-1);
			vertical-align: -2px; // Works for btn-lg
		}

		@include state(".dropdown.show") {
			&.btn-link,
			&.btn-icon {
				@include mouse-and-bp-up(md) {
					color: $icon-active-color;

					.icon {
						color: $icon-active-color;
					}
				}
			}
		}
	}

	.dropdown-menu {
		@include dropdown-menu;

		@include state(".dropdown.show") {
			display: block;
		}
	}

	.dropdown-item {
		@include dropdown-item;

		@include scopedVariant(".keyboard") {
			&:focus {
				color: var(--primary-on-accent);
				background-color: var(--color-accent);
			}
		}
	}

	.dropdown-divider {
		@include dropdown-divider;
	}
}
