//
// Editable
// --------------------------------------------------

.editable {
	flex: 1 1 auto;
	min-width: 0; // Fix truncation

	@include mouse-and-bp-up(md) {
		line-height: normal;
	}

	.editable-content {
		white-space: pre-wrap;
		padding: $editable-padding;
		border: $input-border-width solid transparent;
		width: calc(100% + #{2 * $editable-border-width});
		margin: -$editable-border-width;
		border-radius: $editable-border-radius;
		cursor: pointer;

		@include state(".editable:hover") {
			@include mouse-and-bp-up(md) {
				background-color: $editable-hover-bg; // Use transparency so you can see through the comma between last and first name
			}
		}

		&.placeholder {
			color: $placeholder-color;
		}

		@include state(".empty .editable") {
			&:before {
				content: "\00a0";
			}
		}
	}

	.editable-control {
		flex: 1 1 auto;
		font: inherit;
		line-height: normal;
		text-align: inherit;
		margin: -($editable-border-width + $editable-padding);
		width: calc(
			100% + #{2 * ($editable-border-width + $editable-padding)}
		);
		padding: $editable-padding;
		border: $editable-border-width solid $editable-border-color;
		color: $editable-color;
		background: $editable-bg;
		border-radius: $editable-border-radius;

		&:focus {
			outline: none;
		}

		@include state(".busy .editable-control") {
			margin: -$editable-border-width;
			width: calc(
				100% + #{2 * ($input-border-width + $editable-padding)}
			);
			border: $input-border-width solid transparent;
			background-color: transparent;

			@include state(".editable:hover") {
				@include mouse-and-bp-up(md) {
					background-color: $editable-hover-bg;
				}
			}
		}

		@include state(".busy:not(.textarea)") {
			padding-right: $icon-spin-size-sm + $editable-padding + 1px;
		}
	}

	&:not(.textarea) {
		.editable-content {
			@include text-truncate;
		}

		.busy {
			.editable-control {
				@include text-truncate;
			}
		}
	}

	.icon-spin {
		top: 0;
		right: 0;
	}

	// Textarea
	&.textarea {

		// Correct shade for 'backdrop'
		.input-group {
			&.busy {
				&::after {
					@include mouse-and-bp-up(md) {
						background-color: $editable-backdrop-bg;

						@include state(".editable:hover") {
							background-color: $editable-backdrop-hover-bg;
						}
					}
				}
			}
		}

		// Same height for textarea editable-content hover state like other editables
		// No padding for visual 2px padding between border and text selection in editable-control
		.editable-content,
		.editable-control {
			line-height: $line-height-base;
			padding-top: 0;
			padding-bottom: 0;
		}

		// Compensate border
		.editable-content {
			margin-top: -1px;
			margin-bottom: -1px;
		}

		// Compensate border
		.editable-control {
			margin-top: -$editable-border-width;
			margin-bottom: -$editable-border-width;

			@include state(".input-group:not(.busy) .editable-control") {
				height: calc(100% + #{2 * $editable-border-width}); // Fix height in Firefox (#143)
			}

			@include state(".busy .editable-control") {
				border: $input-border-width solid transparent;
				margin-top: -1px;
				margin-bottom: -1px;
			}
		}
	}
}

.pseudo-editable {
	@include touch-or-bp-down(sm) {
		flex: 1 1 auto;
		border: none;
		padding: 0;
		background-color: transparent;
	}

	@include mouse-and-bp-up(md) {
		line-height: normal;

		.Select-control {
			padding: $editable-padding;
			border: $input-border-width solid transparent;
			width: calc(100% + #{2 * $editable-border-width});
			margin: -$editable-border-width;
			background-color: transparent;
			cursor: pointer;
			transition: none;
		}

		&:hover {
			.Select-control {
				background-color: $editable-hover-bg;
				border-color: transparent;
			}
		}

		.Select-value {
			padding: 0 $editable-padding;
		}

		&.Select--single {
			&.has-value {
				.Select-value {
					padding-right: $space-md;

					@include state(".busy .pseudo-editable") {
						padding-right: $icon-spin-size-sm + $editable-padding + 1px;
					}
				}
			}
		}

		.Select-arrow {
			display: none;
		}

		&.is-focused {
			.Select-control {
				border-color: $input-focus-color;
				background-color: $input-bg;
				border-radius: 1px;
			}

			.Select-arrow {
				display: block;

				@include state(".busy .pseudo-editable") {
					display: none;
				}
			}
		}

		.Select-menu-outer {
			left: -$editable-padding;
			top: calc(100% + #{$space-min + $input-border-width + $editable-padding + $input-border-width});
			right: -$editable-padding;
		}
	}

	& + .icon-spin {
		right: 0;
	}
}
