//
// Editable
// --------------------------------------------------

.editable {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 0; // Fix truncation

	@include bp-up(sm) {
  	padding-left: $editable-border-width + $editable-padding-horizontal;

		&.editing {
			padding-left: 0;
		}
	}

	.editable-value {
		@include css-truncate;
		flex: 1 1 auto;
		line-height: normal; // Flex alignment is more consistent
	}

	.icon-spin {
		flex: 0 0 auto;
		margin-left: $space-xs;
	}
}

.editable-control {
	flex: 1 1 0;
	font: {
		family: inherit;
		size: inherit;
		weight: inherit;
	}
	text-align: inherit;
	line-height: normal;
	padding: $editable-padding-vertical $editable-padding-horizontal;
	border: $editable-border-width solid $editable-border-color;
	color: $editable-color;
	background: $editable-bg;
	border-radius: $editable-border-radius;
	margin: -2em 0; // For the sake of safety
	background-clip: padding-box;

	.select & {
		z-index: 2;
	}

	&:focus {
		box-shadow: none; // Override generic focus styles
	}
}

// @TODO: very rudementary styling, .creators field needs real styling
.creators {
	width: 100%;

	.editable-value {
		min-height: 24px;
		min-width: 50px;
	}

	.creators-entry {
		display: flex;
		align-items: flex-start;
		@include horizontal;
	}
}
