//
// Icon
// --------------------------------------------------

.icon {
	display: inline-block;

	@include touch-or-bp-down(sm) {
		color: $icon-color-touch;
	}

	@include mouse-and-bp-up(md) {
		color: $icon-color;
	}
}

.icon-spin {
	@keyframes spin {
		0% {
			transform: rotate(0);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	display: block; // todo
	width: $icon-spin-size-md;
	height: $icon-spin-size-md;
	animation: spin 1s linear infinite;

	@include mouse-and-bp-up(md) {
		color: $spinner-color;
	}

	&.large {
		width: $icon-spin-size-lg;
		height: $icon-spin-size-lg;
	}

	&.small {
		width: $icon-spin-size-sm;
		height: $icon-spin-size-sm;
	}

	&.inline {
		width: $icon-spin-size-sm;
		height: $icon-spin-size-sm;
		display: inline;
	}
}
