//
// Icon
// --------------------------------------------------

.icon-remove-from-collection,
.icon-library-read-only {
	&[width="20"] {
		margin: -2px;
	}
}

.icon-add-to-collection,
.icon-remove-from-collection {
	&[width="32"] {
		margin: -4px;
	}
}

.icon-library-read-only {
	&[width="32"] {
		margin: -2px;
	}
}

.icon-crescent-circle,
.icon-crescent-circle-active {
	margin-left: -2px;
}

.icon-circle, .icon-crescent-circle {
	color: $icon-circle-color;

	@each $colorHex, $colorVar in $tagColorsLookupItemsTable {
		&[data-color="#{$colorHex}"] {
			// for known tag colors we're overriding the color set with style
			// attribute to match equivalent theme color, hence !important
			color: var($colorVar) !important;
		}
	}
}
