//
// Icon
// --------------------------------------------------

.icon {
	flex: 0 0 auto; // Prevent scaling
	display: inline-block;
	vertical-align: middle;
	color: $icon-color; // Avoid media query here so it is easier to modify the color

	@include touch-or-bp-down(sm) {
		color: $icon-color-touch;
	}
}

.icon-spin {
	@keyframes spin {
		0% {
			transform: rotate(0);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	display: block; // todo
	width: $icon-spin-size-md;
	height: $icon-spin-size-md;
	animation: spin 1s linear infinite;

	@include mouse-and-bp-up(md) {
		color: $spinner-color;
	}

	&.large {
		width: $icon-spin-size-lg;
		height: $icon-spin-size-lg;
	}

	&.small {
		width: $icon-spin-size-sm;
		height: $icon-spin-size-sm;

		path {
			stroke-width: 1.2px;
		}
	}

	&.inline {
		width: $icon-spin-size-sm;
		height: $icon-spin-size-sm;
		display: inline;
	}

	&.centered {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.icon-remove-from-collection,
.icon-library-read-only {
	&[width="20"] {
		margin: -2px;
	}
}

.icon-add-to-collection,
.icon-remove-from-collection {
	&[width="32"] {
		margin: -4px;
	}
}

.icon-library-read-only {
	&[width="32"] {
		margin: -2px;
	}
}

.icon-crescent-circle,
.icon-crescent-circle-active {
	margin-left: -2px;
}

.icon-circle {
	color: $icon-circle-color;
}
