//
// Inline feedback
//

.inline-feedback {
	display: block;
	position: relative;

	.shorter {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		visibility: hidden;
	}

	.feedback {
		font-style: italic;
	}

	&.active {
		:not(.feedback) {
			visibility: hidden;
		}

		.feedback {
			visibility: visible;
		}
	}
}
