.input-group {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include bp-up(sm) {
  	padding-left: $editable-border-width + $editable-padding-horizontal;

		&.editing {
			padding-left: 0;
		}
	}

	.icon-spin {
		flex: 0 0 auto;
		margin-left: $space-xs;
	}
}