//
// Items
// --------------------------------------------------

.items {

	@include bp-down(xs) {
		position: absolute;
		left: 0;
		top: $line-height-large-touch;
		right: 0;
		bottom: 0;
		background: $items-bg;
		transform: translate3d(100%, 0, 0);

		&.active {
			transform: translate3d(0, 0, 0);
			transition: 0.6s transform cubic-bezier(0.23, 1, 0.32, 1);
		}
	}

	@include bp-up(sm) {
		flex: 1 1 auto;
	}

	@include bp-only(sm) {
		height: 100%;
		position: relative;
	}

	@include bp-only(md) {
		flex-direction: column;
	}

	@include bp-up(md) {
		display: flex;
	}
}


.items-container {
	@include bp-down(xs) {
		display: flex;
		height: 100%;
	}


	@include bp-only(sm) {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	@include bp-up(sm) {
		display: flex;
		flex-direction: column;
		padding-left: $space-min;
	}

	@include bp-only(md) {
		flex: 1 1 0;
		height: 50%;
	}

	@include bp-up(lg) {
		flex: 1 1 auto;
		padding: 0 $space-min;
	}
}