//
// Item details
// --------------------------------------------------

.item-details {
	background: $item-details-bg;

	@include bp-only(sm) {
		display: none; // dev only
	}

	@include bp-only(md) {
		border-left: $space-min solid $body-bg;
		flex: 1 1 0;
	}

	@include bp-up(lg) {
		flex: 0 0 $item-details-width-lg;

		.touch & {
			flex: 0 0 $touch-item-details-width-lg;
		}
	}
}