//
// Items
// --------------------------------------------------

#items {
	@include bp-up(sm) {
		flex: 1 1 auto;
	}

	@include bp-only(md) {
		flex-direction: column;
	}

	@include bp-up(md) {
		display: flex;
	}

	#items-container {
		flex: 1 1 auto;
		padding: 0 $space-min;
		display: flex;
		flex-direction: column;

		@include bp-only(md) {
			flex: 1 0 0;
		}
	}
}