//
// Item details
// --------------------------------------------------

#item-details {
	background: $item-details-bg;

	@include media-breakpoint-up(lg) {
		flex: 0 0 $item-details-width-lg;

		.touch & {
			flex: 0 0 $touch-item-details-width-lg;
		}
	}
}