//
// Item list
// --------------------------------------------------

.item-list {

	@include mouse-and-bp-up(md) {
		display: table;
		width: 100%;
	}

	.item {
		@include mouse-and-bp-up(md) {
			display: table-row;
		}
	}

	.metadata {
		@include mouse-and-bp-up(md) {
			display: table-cell;
		}
	}
}