//
// Item list
// --------------------------------------------------

.item-list-wrap {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.item-list-head th,
.item-list .metadata {
	@include mouse-and-bp-up(md) {
		&:first-child {
			padding-left: $space-sm;
		}

		&:last-child {
			padding-right: $space-sm;
		}

		&:nth-child(1) {
			width: 40%;
		}

		&:nth-child(2) {
			width: 20%;
		}

		&:nth-child(3) {
			width: 10%;
		}

		&:nth-child(4) {
			width: 20%;
		}

		&:nth-child(5) {
			width: 5%;
		}

		&:nth-child(6) {
			width: 5%;
		}
	}
}

.item-list-head {
	box-sizing: content-box; // Border-box results in buggy flex layout
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: {
		top: 1px solid $item-list-head-border;
		bottom: 1px solid $item-list-head-border;
	}

	th {
		height: $item-list-head-height;
		text-align: left;
		font-weight: 400;
		padding: 0 $space-xs;
		color: $item-list-head-color;
		position: relative;
		@include css-truncate;

		&:before {
			content: " ";
			position: absolute;
			left: 0;
			top: 2px;
			bottom: 2px;
			width: 1px;
			background: $item-list-head-border;
		}

		&:first-child:before {
			content: none;
		}
	}
}

.item-list-body {
	overflow-y: scroll;
	flex: 1 1 auto;
	background-attachment: local;

	@include bp-only(sm) {
		background-image: repeating-linear-gradient(to bottom, $item-odd-bg 0,
			$item-odd-bg $item-list-row-height-sm,
			transparent $item-list-row-height-sm,
			transparent (2 * $item-list-row-height-sm));
	}

	@include mouse-and-bp-up(md) {
		padding-top: 3px;
		background-image: repeating-linear-gradient(to bottom, $items-odd-bg 3px,
			$items-odd-bg ($item-list-row-height-md + 3px),
			transparent ($item-list-row-height-md + 3px),
			transparent (2 * $item-list-row-height-md + 3px));
	}
}

.item-list {
	@include mouse-and-bp-up(md) {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.item {
		&.active {
			color: $item-active-color;
			background: $item-active-bg;
		}

		@include mouse-and-bp-up(md) {
			display: table-row;
		}
	}

	.metadata {
		@include mouse-and-bp-up(md) {
			display: table-cell;
			height: $item-list-row-height-md;
			vertical-align: middle;
			padding: 0 $space-xs 0 ($space-xs + 1px);
			@include css-truncate;
		}
	}

	.author,
	.year {
		display: inline;

		@include mouse-and-bp-up(md) {
			display: table-cell;
		}
	}

	.year {
		margin-left: 4px;

		&:before {
			content: "(";
		}

		&:after {
			content: ")";
		}

		@include mouse-and-bp-up(md) {
			&:before,
			&:after {
				content: none;
			}
		}
	}
}