//
// Library
// --------------------------------------------------

.library {
	@include bp-up(sm) {
		display: flex;
		width: 100%;
	}
}

.items {
	@include bp-down(xs) {
		position: absolute;
		left: 0;
		top: $line-height-large-touch;
		right: 0;
		bottom: 0;
		background: $items-bg;
		transform: translate3d(100%, 0, 0);
		transition: transform $nav-transition;

		.view-item-list-active & {
			transform: translate3d(0, 0, 0);
		}

		.view-item-details-active & {
			transform: translate3d(-25%, 0, 0);
		}
	}

	@include bp-up(sm) {
		flex: 1 1 auto;
	}

	@include bp-only(sm) {
		height: 100%;
		position: relative;
  	overflow: hidden;
	}

	@include bp-up(sm) {
		margin-left: $space-min;
	}

	@include bp-only(md) {
		flex-direction: column;
	}

	@include bp-up(md) {
		display: flex;
	}
}

.items-container {
	@include bp-down(xs) {
		display: flex;
		height: 100%;
		flex-direction: column;
	}

	@include bp-only(sm) {
		position: absolute;
		top: $line-height-large-touch + $space-min;
		right: 0;
		bottom: 0;
		left: 0;
		transition: $nav-transition;

		.view-item-details-active & {
			transform: translate3d(-25%, 0, 0);
		}
	}

	@include bp-up(sm) {
		display: flex;
		flex-direction: column;
	}

	@include bp-only(md) {
		flex: 1 1 0;
		height: 50%;
	}

	@include bp-up(lg) {
		flex: 1 1 auto;
		padding-right: $space-min;
	}
}
