//
// Mobile nav
// --------------------------------------------------

#mobile-nav {
	bottom: 0;
	background: $mobile-nav-bg;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: $mobile-nav-width;
}