//
// Navbar
// --------------------------------------------------

#navbar {
	display: flex;
	justify-content: space-between;
	height: $navbar-height-xs + $space-min;
	font-size: $navbar-font-size;
	width: 100%;
	@include mobile-navbar-nav-transition(width);

	&:before {
		content: " ";
		position: absolute;
		z-index: $z-index-navbar-bg;
		left: 0;
		top: 0;
		width: 100%;
		box-sizing: border-box;
		height: $navbar-height-xs + $space-min;
		background: $navbar-bg;
		border-bottom: $space-min solid $navbar-border;
	}

	@include media-breakpoint-up(sm) {
		flex: 0 0 auto;
		height: $navbar-height-sm;
		background: $navbar-bg;
		margin-bottom: $space-min;

		&:before {
			content: none;
		}
	}

	.navbar-brand,
	&:before {
		@include mobile-navbar-nav-transition(transform);
	}

	.navbar-nav-opened & {
		@include media-breakpoint-down(xs) {
			@include navbar-transform;
		}

		.navbar-brand,
		&:before {
			@include media-breakpoint-down(xs) {
				@include content-transform;
			}
		}
	}

	.navbar-brand,
	.navbar-toggle {
		position: relative;
		z-index: $z-index-navbar;
	}

	a {
		color: $navbar-link-color;
	}

	.navbar-brand {
		margin: 0;

		a {
			display: block;
			background: url("../static/images/zotero-logo.svg") center 11px no-repeat;
			background-size: $navbar-brand-width-xs $navbar-brand-height-xs;
			height: 100%;
			text-indent: -200%;
			white-space: nowrap;
			width: $navbar-brand-width-xs + 2 * $navbar-padding-horizontal;

			@include media-breakpoint-up(sm) {
				background: {
					position: center 19px;
					size: $navbar-brand-width-sm $navbar-brand-height-sm;
				}
				width: $navbar-brand-width-sm + 2 * $navbar-padding-horizontal;
			}
		}
	}

	.navbar-nav {
		background: $silver;
		position: fixed;
		z-index: $z-index-mobile-nav;
		top: 0;
		right: 0;
		bottom: 0;
		width: $navbar-nav-mobile-width;
		@include mobile-navbar-nav-transition(transform);

		@include media-breakpoint-down(xs) {
			@include mobile-navbar-nav-transform;

			.navbar-nav-opened & {
				transform: translate3d(0, 0, 0);
			}
		}

		@media (min-width: $navbar-breakpoint) {
			background-color: transparent;
			display: flex;
			position: static;
			margin-right: auto;
			z-index: auto;
		}

		ul {
			@include media-breakpoint-up(sm) {
				display: flex;
			}
		}

		li {
			display: flex;
		}

		a {
			@include media-breakpoint-up(sm) {
				align-items: center;
				display: flex;
				padding: 0 $navbar-padding-horizontal;
			}
		}

		.active a {
			@include media-breakpoint-up(sm) {
				color: $navbar-link-active-color;
				box-shadow: inset 0 (-$navbar-active-indicator) $asphalt;
			}
		}
	}

	.navbar-right {
		display: none;

		@include media-breakpoint-up(sm) {
			display: block;
		}
	}

	.navbar-toggle {
		border: none;
		background: transparent;
		padding: 0 $space-md;
		height: $navbar-height-xs;

		&:focus {
			outline: none;
		}

		@include media-breakpoint-up(sm) {
			display: none;
		}

		.icon-bar {
			display: block;
			width: $icon-bar-width;
			height: $icon-bar-height;
			background: $icon-bar-bg;

			& + .icon-bar {
				margin-top: $icon-bar-spacing;
			}
		}

		&:focus {
			.icon-bar {
				background: $icon-bar-bg-focus;
			}
		}
	}
}