@use "../abstracts/variables";
@use "../themes/common";

//
// Popover
// --------------------------------------------------

.popover {
	position: absolute;
	top: 0;
	left: 0;
	font-size: variables.$font-size-base;
	word-wrap: break-word;
	background-color: common.$popover-bg;
	box-shadow: common.$popover-box-shadow;
	border-radius: variables.$popover-border-radius;
	display: none;
	z-index: variables.$z-index-popover;

	&.show {
		display: block;
	}

	.popover-close {
		display: flex;
		justify-content: flex-end;
	}

	.popover-arrow {
		position: absolute;
		display: block;
		width: variables.$popover-arrow-width;
		height: variables.$popover-arrow-height;
		margin: 0 variables.$popover-border-radius;

		&::before,
		&::after {
			position: absolute;
			display: block;
			content: "";
			border-color: transparent;
			border-style: solid;
		}
	}
}

.popover-top {
	margin-bottom: variables.$popover-arrow-height;

	> .popover-arrow {
		bottom: calc((#{variables.$popover-arrow-height} + #{variables.$popover-border-width}) * -1);

		&::before {
			bottom: 0;
			border-width: variables.$popover-arrow-height (variables.$popover-arrow-width * 0.5) 0;
			border-top-color: common.$popover-arrow-outer-color;
		}

		&::after {
			bottom: variables.$popover-border-width;
			border-width: variables.$popover-arrow-height (variables.$popover-arrow-width * 0.5) 0;
			border-top-color: common.$popover-arrow-color;
		}
	}
}

.popover-right {
	margin-left: variables.$popover-arrow-height;

	> .arrow,
	> .popover-arrow {
		left: calc((#{variables.$popover-arrow-height} + #{variables.$popover-border-width}) * -1);
		width: variables.$popover-arrow-height;
		height: variables.$popover-arrow-width;
		margin: variables.$popover-border-radius 0; // make sure the arrow does not touch the popover's rounded corners

		&::before {
			left: 0;
			border-width: (variables.$popover-arrow-width * 0.5) variables.$popover-arrow-height (variables.$popover-arrow-width * 0.5) 0;
			border-right-color: common.$popover-arrow-outer-color;
		}

		&::after {
			left: variables.$popover-border-width;
			border-width: (variables.$popover-arrow-width * 0.5) variables.$popover-arrow-height (variables.$popover-arrow-width * 0.5) 0;
			border-right-color: common.$popover-arrow-color;
		}
	}
}

.popover-bottom {
	margin-top: variables.$popover-arrow-height;

	> .arrow,
	> .popover-arrow {
		top: calc((#{variables.$popover-arrow-height} + #{variables.$popover-border-width}) * -1);

		&::before {
			top: 0;
			border-width: 0 (variables.$popover-arrow-width * 0.5) variables.$popover-arrow-height (variables.$popover-arrow-width * 0.5);
			border-bottom-color: common.$popover-arrow-outer-color;
		}

		&::after {
			top: variables.$popover-border-width;
			border-width: 0 (variables.$popover-arrow-width * 0.5) variables.$popover-arrow-height (variables.$popover-arrow-width * 0.5);
			border-bottom-color: common.$popover-arrow-color;
		}
	}
}

.popover-left {
	margin-right: variables.$popover-arrow-height;

	> .arrow,
	> .popover-arrow {
		right: calc((#{variables.$popover-arrow-height} + #{variables.$popover-border-width}) * -1);
		width: variables.$popover-arrow-height;
		height: variables.$popover-arrow-width;
		margin: variables.$popover-border-radius 0; // make sure the arrow does not touch the popover's rounded corners

		&::before {
			right: 0;
			border-width: (variables.$popover-arrow-width * 0.5) 0 (variables.$popover-arrow-width * 0.5) variables.$popover-arrow-height;
			border-left-color: common.$popover-arrow-outer-color;
		}

		&::after {
			right: variables.$popover-border-width;
			border-width: (variables.$popover-arrow-width * 0.5) 0 (variables.$popover-arrow-width * 0.5) variables.$popover-arrow-height;
			border-left-color: common.$popover-arrow-color;
		}
	}
}

.popover-header {
	padding: variables.$popover-header-padding-y variables.$popover-header-padding-x;
	font-size: variables.$popover-header-font-size;
	color: common.$popover-header-color;
	background-color: common.$popover-header-bg;
	border-bottom: variables.$popover-border-width solid common.$popover-header-border-color;
	border-top-left-radius: variables.$popover-border-radius;
	border-top-right-radius: variables.$popover-border-radius;

	&:empty {
		display: none;
	}
}

.popover-body {
	padding: variables.$popover-body-padding-y variables.$popover-body-padding-x;
	color: common.$popover-body-color;
}
