.rich-editor {
	background-color: #fff;

	.btn-icon {
		&:hover {
			background-color: $btn-icon-hover-bg;;
		}
	}

	.dropdown {
		pre {
			margin: 0;
		}
	}

	.editor-container {
		background-color: $shade-0;
		margin: 0.5em 1em;
		min-height: 5em;
	}
}
