.rich-editor {
	display: flex;
	flex-direction: column;
	background-color: $editor-bg;

	@include mouse-and-bp-up(md) {
		flex: 1 1 0;
	}

	@include mouse-and-bp-up(lg) {
		border-top: $border-width solid $editor-border-color;
	}

	.editor-container,
	.mce-tinymce,
	.mce-stack-layout,
	.mce-edit-area {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
	}

	.editor-container {
		border-top: $border-width solid #e6e6e6;
	}

	.mce-container {
		box-shadow: none;
		border: none;
	}

	iframe {
		flex: 1 1 0;
		height: 0 !important; // Force iframe to smaller heights than 100px
	}

	.btn-icon {
		@include state(".btn-icon:hover", ".btn-group:hover .btn-icon") {
			background-color: $btn-icon-hover-bg;;
		}
	}

	.btn-group {
		.btn-icon {
			&:last-child {
				margin-left: 0;

				@include state(".btn-group:hover") {
					&::before {
						content: "";
						position: absolute;
						top: 2px;
						bottom: 2px;
						left: 0;
						width: $input-border-width;
						background: $btn-icon-separator-color;
					}
				}
			}
		}

		[class*="icon-chevron"] {
			@include mouse-and-bp-up(md) {
				margin: 0 -4px;
			}
		}
	}

	.dropdown {
		pre {
			margin: 0;
		}
	}
}
