//
// Spinner
// --------------------------------------------------

.spinner {
	display: block;

	$spinner-opacities: (
		0%, 100%: (1, 0.25, 0.25, 0.25, 0.4, 0.55, 0.7, 0.85),
		12.5%:    (0.85, 1, 0.25, 0.25, 0.25, 0.4, 0.55, 0.7),
		25%:      (0.7, 0.85, 1, 0.25, 0.25, 0.25, 0.4, 0.55),
		37.5%:    (0.55, 0.7, 0.85, 1, 0.25, 0.25, 0.25, 0.4),
		50%:      (0.4, 0.55, 0.7, 0.85, 1, 0.25, 0.25, 0.25),
		62.5%:    (0.25, 0.4, 0.55, 0.7, 0.85, 1, 0.25, 0.25),
		75%:      (0.25, 0.25, 0.4, 0.55, 0.7, 0.85, 1, 0.25),
		87.5%:    (0.25, 0.25, 0.25, 0.4, 0.55, 0.7, 0.85, 1)
	);

	@keyframes loading {
		@each $keyframe, $opacity in $spinner-opacities {
			@at-root {
				#{$keyframe} {
					box-shadow:
					  0 -2em 0        rgba($spinner-color, nth($opacity, 1)),
					  1.4em -1.4em 0  rgba($spinner-color, nth($opacity, 2)),
					  2em 0 0         rgba($spinner-color, nth($opacity, 3)),
					  1.4em 1.4em 0   rgba($spinner-color, nth($opacity, 4)),
					  0 2em 0         rgba($spinner-color, nth($opacity, 5)),
					  -1.4em 1.4em 0  rgba($spinner-color, nth($opacity, 6)),
					  -2em 0 0        rgba($spinner-color, nth($opacity, 7)),
					  -1.4em -1.4em 0 rgba($spinner-color, nth($opacity, 8));
				}
			}
		}
	}

	&::after {
		content: "";
		display: block;
		font-size: 6px; // Integer for stable rendering
		width: 1em;
		height: 1em;
		margin: 2em auto;
		border-radius: 50%;
		animation: loading 0.75s linear infinite;
		transform: rotate(-9deg);
	}
}