//
// Style installer
//

.style-installer {
	.form-control {
		margin-top: $space-xs;

		@include touch-or-bp-down(sm) {
			margin-top: 0;
		}
	}

	.style-list {
		list-style: none;
		padding: 0;
		margin: $space-lg (-$space-md) 0;

		@include touch-or-bp-down(sm) {
			margin: $space-xl 0 0 0;
		}
	}

	.style {
		display: flex;
		flex-direction: column;
		border-top: 1px solid $metadata-separator-color;
		padding: ($space-lg - 9px) $space-md $space-lg $space-md;

		@include touch-or-bp-down(sm) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: $space-sm;
		}

		.btn {
			flex: 0 0 auto;
			align-self: center; // In column
			margin-left: $space-sm;
			min-width: $space-max - $space-xs;

			@include touch-keyboard-or-bp-down(sm) {
				&:focus {
					outline: $outline-width solid $focus-color;
					outline-offset: -$outline-width;
				}
			}

			@include mouse-keyboard-and-bp-up(md) {
				&:focus {
					border-color: $btn-secondary-color;
					box-shadow: 0 0 0 $input-btn-focus-width $btn-secondary-color;
				}
			}
		}
	}

	.style-title {
		flex: 1 1 auto;
		margin-bottom: $space-md - 7px; // Space between baseline and x-height

		@include touch-or-bp-down(sm) {
			margin-bottom: 0;
		}
	}
}
