//
// Tabs
// --------------------------------------------------

.tabs {
	display: flex;
	border-bottom: $border-width solid $tabs-border-color;

	&.justified {
		width: 100%;
	}

	li {
		flex: 0 0 auto;
		display: flex;

		@include variant(".tabs.justified") {
			flex: 1 1 0;
		}

		a {
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $tab-inactive-color;
			padding: 0 $tabs-padding-x;
			height: $tabs-height;

			@include touch-or-bp-down(sm) {
				height: $tabs-height-touch;
			}

			&:hover {
				color: $tab-active-color;
			}

			&:focus {
				.keyboard & {
					outline-offset: -$outline-width;
				}
			}

			@include state("li.active") {
				color: $tab-active-color;
				box-shadow: inset 0 -1px $tab-active-color, 0 1px $tab-active-color;
			}

			@include variant(".tabs.compact") {
				padding: 0 $tabs-compact-padding-x;
			}
		}
	}

	.icon {
		margin-right: $space-xs;
	}
}

.tab-pane {
	@include touch-and-bp-only(md) {
		display: none;
	}

	@include mouse-and-bp-up(md) {
		display: none;
	}

	&.active {
		@include touch-and-bp-only(md) {
			display: block;
		}

		@include mouse-and-bp-up(md) {
			display: block;
		}
	}

	&.loading {
		html:not(.specifity) & {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 0;
		}
	}

	& + .tab-pane {
		@include touch-or-bp-down(sm) {
			border-top: $space-min solid $body-bg;
		}

		@include touch-and-bp-only(md) {
			border-top: 0;
		}
	}
}
