//
// Tag selector
// --------------------------------------------------

.library .tag-selector {
	height: 160px;
	position: relative; // required for scroll offset calculation
}

.tag-selector {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@include bp-down(xs) {
		display: none; // Dev only
	}
}

.tag-selector-container {
	flex: 1 1 auto;
	justify-content: space-between;
	overflow: auto;
	height: auto;
	// max-height: 160px;
}

.tag-selector-filter-container {
	height: auto;
	flex: 0 0 2.5em;
	display: flex;
	flex-direction: row;
	padding: .5em .25em;
}

.tag-selector-list {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.tag-selector-filter {
	flex: 1 0 40px;
	min-width: 40px;
}

.tag-selector-actions {
	flex: 0 0 32px;
}

.tag-selector-item {
	border-radius: 1em;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	padding: .05em .5em;
	margin: 0;

	&.placeholder {
		position: relative;
		vertical-align: middle;
		&::before {
			content: " ";
			background: $shade-3;
			width: 100%;
			position: absolute;
			height: 1rem;
			top: -.5rem;
		}
	}

	&.selected {
		background-color: $secondary;
		border: 1px solid $secondary;
	}

	&.colored {
		font-weight: bold;
	}

	&.disabled {
		opacity: .6;
		cursor: auto;
		pointer-events: none;
	}

	&:not(.disabled):hover {
		background-color: lighten($secondary, 15%);
		border: 1px solid $secondary;
	}
}
