//
// Toolbar
// --------------------------------------------------

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: $toolbar-height;
	flex: 0 0 auto;
	padding: 0 $default-padding-horizontal;
	margin-bottom: $space-min;

	.toolbar-left,
	.toolbar-center,
	.toolbar-right {
		display: flex;
		align-items: center;
	}

	.toolbar-left {
		margin-right: auto;
	}

	.toolbar-center {
		margin: 0 auto;
	}

	.toolbar-right {
		margin-left: auto;
	}

	.btn + .btn {
		margin-left: $space-min / 2;
	}

	.dropdown-wrapper {
		display: inline-block;
	}
}