//
// Toolbar
// --------------------------------------------------

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex: 0 0 auto;
	white-space: nowrap;

	@include touch-or-bp-down(sm) {
		height: $line-height-large-touch;
		padding: 0 $default-padding-x-touch;
	}

	@include mouse-and-bp-up(md) {
		height: $toolbar-height;
		padding: 0 $default-padding-x;
		color: $toolbar-color;
	}

	@include variant(".toolbar.dense") {
		html:not(.specifity) & {
			padding: 0 ($space-min / 2);
		}
	}

	.toolbar-left,
	.toolbar-center,
	.toolbar-right,
	.toolbar-justified {
		flex: 1 1 0;
		display: flex;
		align-items: center;
	}

	.toolbar-left {
		margin-right: auto;

		@include touch-or-bp-down(sm) {
			padding-right: 3px;
		}
	}

	.toolbar-center {
		margin: 0 auto;
		justify-content: center;

		@include touch-or-bp-down(sm) {
			padding: 0 3px;
		}
	}

	.toolbar-right {
		margin-left: auto;
		justify-content: flex-end;

		@include touch-or-bp-down(sm) {
			padding-left: 3px;
			position: relative; // Above touch-nav
		}
	}

	.toolbar-justified {
		flex: 1 1 auto;

		@include touch-or-bp-down(sm) {
			margin: 0 (-$default-padding-x-touch);
		}
	}

	.tool-group {
		display: flex;
		align-items: center;

		@include variant(".toolbar .toolbar-justified") {
			flex: 1 1 auto;
			justify-content: space-around;
		}

		> * + * {
			margin-left: $space-min / 2;

			@include variant(".toolbar .toolbar-justified") {
				margin: 0;
			}
		}

		& + .tool-group {
			margin-left: $space-lg;
		}

		@include variant(".toolbar.dense") {
			position: relative;

			&::before {
				position: absolute;
				left: 0;
				top: 2px;
				bottom: 2px;
				width: $border-width;
				background-color: $tool-group-separator-color;
			}

			& + .tool-group {
				margin-left: $space-min / 2;
				padding-left: $space-min / 2 + $border-width;

				&::before {
					content: "";
				}
			}
		}
	}
}
