//
// Touch footer
// --------------------------------------------------

.touch-footer {
	flex: 0 0 auto;
	@include hairline(top, $touch-footer-border);
	padding: $border-width 0;
	height: $touch-footer-height;
	background-color: $touch-footer-bg;
	color: $touch-footer-color;

	&.darker {
		background-color: $touch-footer-darker-bg;
	}
}
