//
// Touch header
// --------------------------------------------------

.touch-header {
	overflow: hidden;
	position: relative;

	@include touch-or-bp-down(sm) {
		flex: 0 0 $line-height-large-touch;
		background: $body-bg;
		color: $touch-header-color;
		height: $line-height-large-touch;
	}

	nav,
	ul,
	li {
		height: 100%;
	}

	.icon-previous {
		position: absolute;
		left: $default-padding-x-touch;
		top: ($line-height-large-touch - $space-md) / 2;
		z-index: 2;
		transform: rotate(-90deg);
	}

	ul {
		position: relative;
	}

	.center-axis,
	.inner {
		height: 100%;
		transition: transform $nav-transition;
	}

	li {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		transition: transform $nav-transition, color $nav-transition,
			opacity $nav-transition-duration ease;
	}

	.center-axis {
		transform: translate3d(50%, 0, 0);
	}

	.inner {
		max-width: calc((100% - 4 * #{$default-padding-x-touch}) / 3 - 4px); // Todo: see #73
	}

	.inner {
		position: absolute;
		transform: translate3d(-50%, 0, 0);
		display: flex;
		align-items: center;
	}

	.before-last {
		transform: translate3d(-100%, 0, 0);
		opacity: 0;
		transition: transform $nav-transition, color $nav-transition,
			opacity $nav-transition;
	}

	.previous {
		z-index: 1;
		color: $touch-header-link-color;

		.center-axis {
			transform: translate3d(($default-padding-x-touch + $space-md), 0, 0);
		}

		.inner {
			transform: translate3d(0, 0, 0);
			cursor: pointer;
		}
	}

	.next {
		transform: translate3d(100%, 0, 0);
		opacity: 0;
		transition: transform $nav-transition, opacity $nav-transition;
	}

	// Options menu & edit button
	.dropdown,
	.btn-edit {
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 1;
	}

	.btn {
		color: $btn-options-color;
		background: $btn-options-bg;
	}

	// Options menu
	.dropdown {
		right: $default-padding-x-touch - $space-min;
		display: flex;
		align-items: center;
	}

	// Edit button
	.btn-edit {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;

		&:active {
			color: $btn-options-focus-color;
		}
	}
}
