//
// Touch header
// --------------------------------------------------

.touch-header {
	flex: 0 0 auto;
	line-height: $line-height-base; // Reset for correct outline size
	background-color: $touch-header-bg;
	color: $touch-header-color;
	height: $touch-header-height;
	position: relative;
	@include hairline(top, "color-shade-4");
	@include hairline(bottom, "color-shade-4");
	padding: $border-width 0;

	&.darker {
		background-color: $touch-header-darker-bg;
	}

	.select-button {
		@include bp-up(sm) {
			margin-left: $space-md;
		}
	}
}
