@use "../../abstracts/variables";

.tab-pane.tags {
	.toolbar {
		position: sticky;
		top: 0;
		height: variables.$toolbar-height-touch;

		.counter {
			margin-right: variables.$space-xs;
		}
	}

	.scroll-container-mouse {
		display: flex;
		flex-direction: column;
	}
}
