.tag-color-manager {
	display: flex;
	padding: $space-lg;
	flex-direction: column;
	background-color: $panel-bg;

	@include touch-or-bp-down(sm) {
		padding: 0;

		.form {
			margin: 0;
		}
	}

	.col {
		display: flex;
	}

	.info {
		flex: 0 0 auto;
		margin: 1em 0;

		& + .info {
			margin: 0 0 1em 0;
		}

		@include touch-or-bp-down(sm) {
			padding: 0 $space-md;
		}
	}

	.buttons-wrap {
		display: flex;

		.right {
			flex: 1 0 auto;
			display: flex;
			justify-content: flex-end;

			.btn + .btn {
				margin-left: $space-sm;
			}
		}

		@include touch-or-bp-down(sm) {
			padding: 0 $space-md;
		}
	}

	.color-swatch {
		width: $space-md;
		height: $space-md;
		margin-top: 4px;
		margin-left: 4px;
		margin-right: -4px;

		@include touch-or-bp-down(sm) {
			width: $space-lg;
			height: $space-lg;
			margin-top: 8px;
		}
	}
}
