//
// Breakpoints
// --------------------------------------------------

@mixin bp-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin bp-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin bp-only($name, $breakpoints: $grid-breakpoints) {
  @include bp-up($name, $breakpoints) {
    @include bp-down($name, $breakpoints) {
     	@content;
    }
  }
}


// Normalized media query mixins
@mixin bp-up-normalized($name, $breakpoints: $grid-breakpoints) {
	@include bp-up($name, $breakpoints: $grid-breakpoints) {
		html:not(.specifity) & {
			@content;
		}
	}
}

@mixin bp-down-normalized($name, $breakpoints: $grid-breakpoints) {
	@include bp-down($name, $breakpoints: $grid-breakpoints) {
		html:not(.specifity) & {
			@content;
		}
	}
}

@mixin bp-only-normalized($name, $breakpoints: $grid-breakpoints) {
	@include bp-only($name, $breakpoints: $grid-breakpoints) {
		html:not(.specifity) & {
			@content;
		}
	}
}


// Touch breakpoints
@mixin touch-and-bp-up($name, $breakpoints: $grid-breakpoints) {
	@include bp-up($name, $breakpoints: $grid-breakpoints) {
	  html.touch & {
			@content;
		}
	}
}

@mixin touch-and-bp-only($name, $breakpoints: $grid-breakpoints) {
	html.touch & {
  	@include bp-only($name, $breakpoints: $grid-breakpoints) {
			@content;
		}
	}
}

@mixin touch-or-bp-up($name, $breakpoints: $grid-breakpoints) {
	@include bp-up($name, $breakpoints: $grid-breakpoints) {
	  html:not(.specifity) & { // Normalize specifity
			@content;
		}
	}

  html.touch & {
	  @content;
  }
}

@mixin touch-or-bp-down($name, $breakpoints: $grid-breakpoints) {
	@include bp-down($name, $breakpoints: $grid-breakpoints) {
	  html:not(.specifity) & { // Normalize specifity
			@content;
		}
	}

  html.touch & {
	  @content;
  }
}

@mixin touch-or-bp-only($name, $breakpoints: $grid-breakpoints) {
  @include bp-only($name, $breakpoints: $grid-breakpoints) {
	  html:not(.specifity) & { // Normalize specifity
			@content;
		}
	}

  html.touch & {
	  @content;
  }
}


// Touch + keyboard breakpoints
@mixin touch-keyboard-and-bp-up($name, $breakpoints: $grid-breakpoints) {
	@include bp-up($name, $breakpoints: $grid-breakpoints) {
	  html.touch.keyboard & {
			@content;
		}
	}
}

@mixin touch-keyboard-and-bp-only($name, $breakpoints: $grid-breakpoints) {
	html.touch.keyboard & {
  	@include bp-only($name, $breakpoints: $grid-breakpoints) {
			@content;
		}
	}
}

@mixin touch-keyboard-or-bp-up($name, $breakpoints: $grid-breakpoints) {
	@include bp-up($name, $breakpoints: $grid-breakpoints) {
	  html:not(.specifity).keyboard & { // Normalize specifity
			@content;
		}
	}

  html.touch.keyboard & {
	  @content;
  }
}

@mixin touch-keyboard-or-bp-down($name, $breakpoints: $grid-breakpoints) {
	@include bp-down($name, $breakpoints: $grid-breakpoints) {
	  html:not(.specifity).keyboard & { // Normalize specifity
			@content;
		}
	}

  html.touch.keyboard & {
	  @content;
  }
}

@mixin touch-keyboard-or-bp-only($name, $breakpoints: $grid-breakpoints) {
  @include bp-only($name, $breakpoints: $grid-breakpoints) {
	  html:not(.specifity).keyboard & { // Normalize specifity
			@content;
		}
	}

  html.touch.keyboard & {
	  @content;
  }
}

// Mouse breakpoints
@mixin mouse-and-bp-up($name, $breakpoints: $grid-breakpoints) {
	html:not(.touch) & {
		@include bp-up($name, $breakpoints: $grid-breakpoints) {
			@content;
		}
	}
}

@mixin mouse-and-bp-down($name, $breakpoints: $grid-breakpoints) {
	html:not(.touch) & {
		@include bp-down($name, $breakpoints: $grid-breakpoints) {
			@content;
		}
	}
}

@mixin mouse-and-bp-only($name, $breakpoints: $grid-breakpoints) {
	html:not(.touch) & {
  	@include bp-only($name, $breakpoints: $grid-breakpoints) {
			@content;
		}
	}
}

// Mouse + keyboard breakpoints
@mixin mouse-keyboard-and-bp-up($name, $breakpoints: $grid-breakpoints) {
	html:not(.touch).keyboard & {
		@include bp-up($name, $breakpoints: $grid-breakpoints) {
			@content;
		}
	}
}

@mixin mouse-keyboard-and-bp-down($name, $breakpoints: $grid-breakpoints) {
	html:not(.touch).keyboard & {
		@include bp-down($name, $breakpoints: $grid-breakpoints) {
			@content;
		}
	}
}

@mixin mouse-keyboard-and-bp-only($name, $breakpoints: $grid-breakpoints) {
	html:not(.touch).keyboard & {
  	@include bp-only($name, $breakpoints: $grid-breakpoints) {
			@content;
		}
	}
}
