// stylelint-disable no-descending-specificity
@use "../variables";

@mixin button-variant($color-name, $outline: null) {
	background-color: if(sass($outline): transparent; else: var(--#{$color-name}));
	border-color: if(sass($outline): var(--#{$color-name}); else: transparent);

	&,
	.icon {
		&:not(.specifity) {
			color: if(sass($outline): var(--#{$color-name}); else: var(--primary-on-accent));
		}
	}

	&:hover {
		@media (hover: hover) {
			background-color: var(--#{$color-name}-lighter);
			border-color: if(sass($outline): var(--#{$color-name}-lighter); else: transparent);
			box-shadow: 0 2px 4px var(--color-button-shadow);
		}

		&,
		.icon {
			&:not(.specifity) {
				color: var(--primary-on-accent);
			}
		}
	}

	&:active,
	.show > &.dropdown-toggle {
		background-color: var(--#{$color-name}-darker);
		border-color: if(sass($outline): var(--#{$color-name}-darker); else: transparent);
		box-shadow: none;

		&,
		.icon {
			&:not(.specifity) {
				color: var(--primary-on-accent);
			}
		}
	}

	&:disabled {
		background-color: if(sass($outline): transparent; else: var(--#{$color-name}));
		border-color: if(sass($outline): var(--#{$color-name}); else: transparent);
		box-shadow: none;

		&,
		.icon {
			&:not(.specifity) {
				color: if(sass($outline): var(--#{$color-name}); else: var(--primary-on-accent));
			}
		}
	}

	&:focus {
		.keyboard & {
			box-shadow: 0 0 0 variables.$input-btn-focus-width var(--#{$color-name});

			&:hover {
				border-color: if(sass($outline): var(--#{$color-name}-lighter); else: transparent);
				box-shadow:
					0 0 0 variables.$input-btn-focus-width var(--#{$color-name}-lighter),
					0 4px 4px var(--color-button-shadow);
			}

			&:active {
				box-shadow: 0 0 0 variables.$input-btn-focus-width var(--#{$color-name}-darker);
			}
		}
	}

	&.success,
	.btn-group.success > & {
		background-color: variables.$btn-success-color;

		&:hover {
			@media (hover: hover) {
				background-color: var(--accent-green-lighter);
			}
		}

		&:active {
			background-color: var(--accent-green-darker);
		}

		&:focus {
			.keyboard & {
				box-shadow: 0 0 0 variables.$input-btn-focus-width var(--accent-green);

				&:hover {
					border-color: if(sass($outline): var(--#{$color-name}-lighter); else: transparent);
					box-shadow:
						0 0 0 variables.$input-btn-focus-width var(--accent-green-lighter),
						0 4px 4px var(--color-button-shadow);
				}

				&:active {
					box-shadow: 0 0 0 variables.$input-btn-focus-width var(--accent-green-darker);
				}
			}
		}
	}
}
