//
// Hairline
// --------------------------------------------------

// Use padding to compensate the hairline where needed
// Todo: use 0.5px border once Chrome is ready (Chromium issue 623495)

@mixin hairline-1x($side, $color, $start, $direction, $position) {
	background: linear-gradient(
		$direction,
		mix($color, $body-bg, 50%) 0%,
		mix($color, $body-bg, 50%) 1px,
		transparent 1px
	) no-repeat $position;
}

@mixin hairline-2x($direction, $color, $size, $position) {
	background: linear-gradient(
		$direction,
		$color 0%,
		$color 51%,
		transparent 51%
	) no-repeat $position / ($size);
}

@mixin hairline($side, $color, $start: null, $end: null, $touch-only: null) {
	$specs: (
		top: (
			top: 0,
			right: auto,
			bottom: auto,
			left: if($start, $start, 0),
			direction: to bottom,
			position: 0 0,
			size: 100% 1px,
			width: calc(100% - #{if($start, $start, 0px)} - #{if($end, $end, 0px)}),
			height: 1px
		),
		right: (
			top: if($start, $start, 0),
			right: 0,
			bottom: auto,
			left: auto,
			direction: to left,
			position: right 0 top 0,
			size: 1px 100%,
			width: 1px,
			height: calc(100% - #{if($start, $start, 0px)} - #{if($end, $end, 0px)})
		),
		bottom: (
			top: auto,
			right: auto,
			bottom: 0,
			left: if($start, $start, 0),
			direction: to top,
			position: left 0 bottom 0,
			size: 100% 1px,
			width: calc(100% - #{if($start, $start, 0px)} - #{if($end, $end, 0px)}),
			height: 1px
		),
		left: (
			top: if($start, $start, 0),
			right: auto,
			bottom: auto,
			left: 0,
			direction: to right,
			position: 0 0,
			size: 1px 100%,
			width: 1px,
			height: calc(100% - #{if($start, $start, 0px)} - #{if($end, $end, 0px)})
		)
	);

	$top: map-get(map-get($specs, $side), top);
	$right: map-get(map-get($specs, $side), right);
	$bottom: map-get(map-get($specs, $side), bottom);
	$left: map-get(map-get($specs, $side), left);
	$direction: map-get(map-get($specs, $side), direction);
	$position: map-get(map-get($specs, $side), position);
	$size: map-get(map-get($specs, $side), size);
	$width: map-get(map-get($specs, $side), width);
	$height: map-get(map-get($specs, $side), height);

	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: $z-index-hairline;
		top: $top;
		right: $right;
		bottom: $bottom;
		left: $left;
		width: $width;
		height: $height;
	}

	@if $touch-only == true {
		@include touch-or-bp-down(sm) {
			&::before {
				@include hairline-1x($side, $color, $start, $direction, $position);
			}
		}
	} @else {
		&::before {
			@include hairline-1x($side, $color, $start, $direction, $position);
		}
	}

	@include touch-or-bp-down(sm) {
		@media (min-resolution: 2dppx) {
			&::before {
				@include hairline-2x($direction, $color, $size, $position);
			}
		}
	}
}

@mixin hairline-disabled {
	&::before {
		content: none !important;
	}
}
