//
// Hairline
// --------------------------------------------------

@mixin hairline-gradient($direction, $color, $size, $position: 0 0) {
		background: linear-gradient(
		$direction,
		$color 0%,
		$color 51%,
		transparent 51%
	) no-repeat $position / ($size);
}

@mixin hairline($side, $color, $start: 0px) {
	$directions: (
		top: (
			direction: to bottom,
			position: $start 0,
			size: 100% 1px
		),
		right: (
			direction: to left,
			position: 0 $start,
			size: 1px 100%
		),
		bottom: (
			direction: to top,
			position: $start 0,
			size: 100% 1px
		),
		left: (
			direction: to right,
			position: 0 $start,
			size: 1px 100%
		)
	);

	$direction: map-get(map-get($directions, $side), direction);
	$position: map-get(map-get($directions, $side), position);
	$size: map-get(map-get($directions, $side), size);

	@if $side == top or $side == bottom {
		border-#{$side}: $border-width solid transparent;
		background: linear-gradient(
			$direction,
			mix($color, $body-bg, 50%) 0%,
			mix($color, $body-bg, 50%) 1px,
			transparent 1px
		) no-repeat $position;
		background-origin: border-box;
	}

	@if $side == left or $side == right {
		border-#{$side}: $border-width solid mix($color, $body-bg, 50%);
	}

	@include touch-or-bp-down(sm) {
		@media (min-resolution: 2dppx) {
			@if $side == top or $side == bottom {
				border-#{$side}: $border-width solid transparent;
				@include hairline-gradient($direction, $color, $size, $position);
			}

			@if $side == left or $side == right {
				border-#{$side}: 0;

				&::before {
					content: "";
					position: absolute;
					z-index: $z-index-hairline;
					#{$side}: 0;
					top: $start;
					width: 1px;
					height: calc(100% - #{$start});
					@include hairline-gradient($direction, $color, $size);
				}
			}
		}
	}

	position: relative;
}
