//
// Navbar
// --------------------------------------------------


// Mobile navbar transition

@mixin mobile-navbar-nav-transition($property) {
	transition: #{$property} 0.3s ease-out;
}


// Navbar transform

@mixin navbar-transform {
	left: -($navbar-nav-mobile-width + $space-min);
}


// Content transform

@mixin content-transform {
	transform: translate3d(-($navbar-nav-mobile-width +$space-min), 0, 0);
}


// Mobile navbar nav transform

@mixin mobile-navbar-nav-transform {
	transform: translate3d(($navbar-nav-mobile-width / 2), 0, 0);
}