//
// Selectors
// --------------------------------------------------

@mixin state($state) {
	$space-index: str-index($state, " ");
	$selectors: ();

	@if $space-index == null {
		$selectors: simple-selectors($state);
	} @else {
		$selectors: append($selectors, str-slice($state, 1, ($space-index - 1)));
		$selectors: append($selectors, str-slice($state, ($space-index + 1)));
	}

	@each $sel in $selectors {
		@if str-index(#{&}, $sel) != null {
			@at-root #{selector-replace(&, $sel, $state)} {
				@content;
			}
		}
	}
}
