@use 'sass:color';
@use "sass:map";

@mixin light-dark($prop, $light-color, $dark-color) {
	@media (prefers-color-scheme: light) {
		#{$prop}: $light-color;
	}

	@media (prefers-color-scheme: dark) {
		#{$prop}: $dark-color;
	}
}

@mixin derive-colors($colors) {
	@each $name, $color in $colors {
		--#{$name}: #{$color};
	}


	--color-accent: var(--accent-blue);
	--primary-on-accent: var(--accent-white);
	--accent-blue-lighter: #{lighten(map.get($colors, "accent-blue"), 4%)};
	--accent-blue-darker: #{darken(map.get($colors, "accent-blue"), 8%)};
	--accent-green-lighter: #{lighten(map.get($colors, "accent-green"), 4%)};
	--accent-green-darker: #{darken(map.get($colors, "accent-green"), 8%)};
	--accent-red-lighter: #{lighten(map.get($colors, "accent-red"), 4%)};
	--accent-red-darker: #{darken(map.get($colors, "accent-red"), 8%)};
	--color-shade-0-50: #{transparentize(map.get($colors, "color-shade-0"), 0.5)};
	--color-shade-10-50: #{transparentize(map.get($colors, "color-shade-10"), 0.5)};
	--color-shade-2-50: #{transparentize(map.get($colors, "color-shade-2"), 0.5)};

	--color-text-selection-bg: rgba(map.get($colors, "accent-blue"), 0.2);
	--color-text-selection-bg: rgba(map.get($colors, "accent-blue"), 0.2);
	--color-dnd-target: rgba(map.get($colors, "accent-blue"), 0.25);

	// composite (opaque) colors
	--color-quinary-on-background: #{color.mix(
		map.get($colors, "color-background"), color.change(map.get($colors, "fill-quinary"), $alpha: 1), 100% * (1 - color.alpha(map.get($colors, "fill-quinary")))
	)};
	--color-quarternary-on-background: #{color.mix(
		map.get($colors, "color-background"), color.change(map.get($colors, "fill-quarternary"), $alpha: 1), 100% * (1 - color.alpha(map.get($colors, "fill-quarternary")))
	)};
	--color-quinary-on-sidepane: #{color.mix(
		map.get($colors, "color-sidepane"), color.change(map.get($colors, "fill-quinary"), $alpha: 1), 100% * (1 - color.alpha(map.get($colors, "fill-quinary")))
	)};
	--color-quarternary-on-sidepane: #{color.mix(
		map.get($colors, "color-sidepane"), color.change(map.get($colors, "fill-quarternary"), $alpha: 1), 100% * (1 - color.alpha(map.get($colors, "fill-quarternary")))
	)};
	--color-stripe-on-background: #{color.mix(
		map.get($colors, "color-background"), color.change(map.get($colors, "color-stripe"), $alpha: 1), 100% * (1 - color.alpha(map.get($colors, "color-stripe")))
	)};

	// background materials
	--material-background: var(--color-background);
	--material-background50: var(--color-background50);
	--material-background70: var(--color-background70);
	--material-button: var(--color-button);
	--material-control: var(--color-control);
	--material-menu: var(--color-menu);
	--material-sidepane: var(--color-sidepane);
	--material-tabbar: var(--color-tabbar);
	--material-toolbar: var(--color-toolbar);
	--material-mix-quinary: var(--color-quinary-on-background);
	--material-mix-quarternary: var(--color-quarternary-on-background);
	--material-stripe: var(--color-stripe-on-background);

	// border materials
	--material-border-transparent: 1px solid transparent;
	--material-border: 1px solid var(--color-border);
	--material-border50: 1px solid var(--color-border50);
	--material-panedivider: 1px solid var(--color-panedivider);
	--material-border-quinary: 1px solid var(--fill-quinary);
	--material-border-quarternary: 1px solid var(--fill-quarternary);
}
