//
// Utilities
// --------------------------------------------------

@mixin text-truncate($text-overflow: ellipsis) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: $text-overflow;
}

@mixin multiline-truncate($lines, $text-overflow: ellipsis) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: $text-overflow;

	@supports (-webkit-line-clamp: #{$lines}) {
  	display: -webkit-box;
  	-webkit-line-clamp: $lines;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: $text-overflow;
  	white-space: normal; // Reset
		min-height: $lines * $line-height-computed;
  }
}
