.add-related-modal {
	max-height: calc(100vh - 96px);
	width: 900px;
	max-width: 90vw;

	.modal-body {
		overflow: hidden;

		@include mouse-and-bp-up(md) {
			display: flex;
			flex-direction: row;
		}
	}

	.collection-tree {
			@include mouse-and-bp-up(md) {
			padding: 8px;
			overflow: auto;
			line-height: $line-height-large;
			z-index: 1; // Fix #531
			flex: 0 0 280px;
		}
	}
}
