.add-related-modal {
	@include mouse-and-bp-up(md) {
		max-height: calc(100vh - 96px);
		width: 900px;
		max-width: 90vw;
	}

	.modal-body {
		overflow: hidden;

		@include mouse-and-bp-up(md) {
			display: flex;
			flex-direction: row;
			padding: 0;
		}
	}

	.collection-tree {
			@include mouse-and-bp-up(md) {
			padding: 8px;
			overflow: auto;
			line-height: $line-height-large;
			z-index: 1; // Fix #531
		}
	}
}
