//
// Bibliography modal
//

.bibliography-modal {
	.modal-content {
		@include mouse-and-bp-up(md) {
			min-height: calc(100vh - 2 * #{$space-xl});
		}
	}

	.modal-body {
		@include mouse-and-bp-up(md) {
			flex: 1 1 auto;
			padding-top: 0;

			&.loading {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.form {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}

	.bibliography-options {
		@include mouse-and-bp-up(md) {
			flex: 0 0 auto;
			position: sticky;
			top: 0;
			background-color: $modal-content-bg;
		}
	}

	.bibliography-container {
		@include state(".loading .bibliography-container") {
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
