@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/mixins/selectors";
@use "../../abstracts/variables";
@use "../../themes/common";

.identifier-picker-modal {
	.modal-body {
		overflow: auto;
		max-height: calc(100vh - 96px);

		@include breakpoints.mouse-and-bp-up(md) {
			max-height: calc(90vh - 96px - 32px); // 90% of the screen, accounting for the modal header and modal margin
		}
	}

	.modal-footer-left {
		.btn-link + .btn-link {
			margin-left: variables.$space-sm;
		}
	}

	.results {
		margin: 0 - variables.$modal-inner-padding;
		padding: 0;
		list-style: none;

		@include breakpoints.mouse-and-bp-up(md) {
			margin: 0;
		}
	}

	.result {
		border-top: 1px solid common.$result-border-color;
		padding: variables.$result-padding;
		cursor: pointer;
		display: flex;

		&:first-child {
			border-top: none;
		}

		&:hover {
			background-color: common.$result-hover-bg;

			.badge {
				background-color: common.$result-hover-bg;
				border-color: var(--color-identifier-badge-hover-border);
			}
		}

		&:focus, &:focus-within {
			.keyboard & {
				outline: 3px solid var(--accent-blue);
				outline-offset: -3px;
			}
		}

		.label {
			flex: 1 1 auto;
		}

		.badge {
			margin-bottom: 6px;
		}

		.title {
			margin: 0;
			font-size: variables.$font-size-h3;
			line-height: 1.5rem;
			font-weight: 600;
		}

		.title-container {
			margin-right: variables.$space-min + variables.$space-min * 0.5;
		}

		.description {
			margin: 0;
		}

		.checkbox-wrap {
			display: flex;
			flex: 0 0 32px;
			justify-content: center;
			align-items: center;
		}

		.badge {
			display: inline-block;
			font-size: variables.$badge-font-size;
			font-weight: 400;
			line-height: 1;
			padding: variables.$badge-padding-y variables.$badge-padding-x;
			border-radius: variables.$border-radius-sm;

			&:empty {
				display: none;
			}
		}

		.badge-light {
			border: 1px solid common.$badge-light-border-color;
			background-color: common.$badge-light-bg;
		}

	}

	.more-button-wrap {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: variables.$space-lg;

		@include breakpoints.mouse-and-bp-up(md) {
			margin-top: 0;
		}
	}
}
