.manage-tags.modal {
	position: relative;

	.modal-body {
		flex: 1 1 auto;
		display: flex;
	}

	.tag-manager-list-container {
		flex-direction: column;
		display: flex;
		flex: 1 1 auto;
	}

	.fade-overlay {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0, .5);
		z-index: $z-index-modal + 1;
	}

	.tag-color-manager {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: $modal-content-bg;
		z-index: $z-index-modal + 2;
	}
}
