@use "../../abstracts/variables";
@use "../../themes/common";

.manage-tags.modal {
	position: relative;

	.modal-body {
		flex: 1 1 auto;
		display: flex;
	}

	.tag-manager-list-container {
		flex-direction: column;
		display: flex;
		flex: 1 1 auto;
	}

	.tag-color-manager {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: common.$modal-content-bg;
		z-index: variables.$z-index-modal + 2;
	}
}
