@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/mixins/utilities";
@use "../../themes/common";

.recognize-modal {
	@include breakpoints.mouse-and-bp-up(md) {
		width: 550px;
	}

	.recognize-progress {
		progress {
			width: 100%;
		}
	}

	.recognize-table {
		margin-top: 1em;
		height: 200px;
		margin-left: -16px;
		margin-right: -16px;
	}

	.recognize-list {
		margin-top: 1em;
		height: 250px;

		@include breakpoints.bp-down(xs) {
			height: 100%; // single column, popup takes up full height
		}

		.parent-item-title-container {
			color: common.$item-creator-date-color;
			display: flex;
			align-items: center;
		}

		.parent-item-title {
			@include utilities.text-truncate;
		}

		.metadata-status-icon {
			margin-right: 8px;

			&.spin {
				animation: spin 2s linear infinite;
			}
		}
	}
}
