.recognize-modal {
	@include mouse-and-bp-up(md) {
		width: 550px;
	}
}

.recognize-progress {
	progress {
		width: 100%;
	}
}

.recognize-table {
	margin-top: 1em;
	height: 200px;
	margin-left: -16px;
	margin-right: -16px;
}

.recognize-list {
	margin-top: 1em;
	height: 200px;
}
