@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/variables";

// .modal-item-picker used for Add Related and Change Parent Item modals
.modal-item-picker {
	@include breakpoints.mouse-and-bp-up(md) {
		max-height: calc(100vh - 96px);
		width: 900px;
		max-width: 90vw;
	}

	.modal-body {
		overflow: hidden;

		@include breakpoints.mouse-and-bp-up(md) {
			display: flex;
			flex-direction: row;
			padding: 0;
		}
	}

	.modal-header {
		.right {
			@include breakpoints.mouse-and-bp-up(md) {
				display: flex;

				.search {
					margin-right: variables.$space-md;
				}
			}
		}
	}

	.searchbar {
		// in modal, searchbar takes the entire width of the header (normally a space for "..." button behind is left)
		position: absolute;
	}

	.touch-modal-searchbar-toggle {
		background: transparent;
		border: none;
		position: absolute;
		right: variables.$space-md;

		&.hidden {
			display: none;
		}
	}

	.collection-tree {
		@include breakpoints.mouse-and-bp-up(md) {
			padding: 8px;
			overflow: auto;
			line-height: variables.$line-height-large;
			z-index: 1; // Fix #531
		}
	}
}
