@use "../../abstracts/variables";

.modal-notes {
	.icon-previous {
		color: var(--accent-blue);
		position: absolute;
		left: variables.$default-padding-x-touch;
		top: (variables.$line-height-large-touch - variables.$space-md) * 0.5;
		z-index: 2;
		transform: rotate(-90deg);
	}

	.btn-link-label {
		padding-left: variables.$default-padding-x-touch;
	}
}
