.modal-notes {
	.icon-previous {
		position: absolute;
		left: $default-padding-x-touch;
		top: ($line-height-large-touch - $space-md) * 0.5;
		z-index: 2;
		transform: rotate(-90deg);
	}

	.btn-link-label {
		padding-left: $default-padding-x-touch;
	}
}
