.modal-settings {
	overflow: visible;

	.form-group:not(.checkbox) {
		@include touch-or-bp-down(sm) {
				.col-form-label {
					flex: 0 0 33%;
				}

				.col {
					flex: 0 0 66%;
					overflow: hidden;
				}
			}
	}
}
