//
// Style installer
//

.style-installer {
	.modal-body {
		padding-top: 0;
		padding-bottom: 0;
	}

	.search-bar {
		position: sticky;
		top: 0;
		z-index: 1;
		padding: $modal-inner-padding 0;

		@include touch-or-bp-down(sm) {
			background-color: $modal-content-bg-touch;
		}

		@include mouse-and-bp-up(md) {
			background-color: $modal-content-bg;
		}
	}

	.style-list {
		padding: 0 $space-xs;
		margin-bottom: $modal-inner-padding;

		&:empty {
			display: none;
		}

		.style {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-top: $border-width solid $modal-border-color;
			padding: $space-xs 0;

			&:first-child {
				border-top: none;
			}

			.btn {
				flex: 0 0 auto;

				@include mouse-and-bp-up(md) {
					min-width: 70px;
				}
			}
		}
	}
}
