//
// Base styles
// --------------------------------------------------

*,
::before,
::after {
	box-sizing: border-box;
}

html,
body,
#zotero-web-library,
.library-container {
	height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba($shade-10, 0); // Transparent highlight color

	@include bp-down(sm) {
		font-size: $font-size-mobile; // 1rem
	}

	@include bp-up(md) {
		font-size: $font-size-base; // 1rem
	}

	&.touch {
		font-size: $font-size-mobile; // 1rem
	}
}

body {
	background: $body-bg;
	color: $text-color;
	font-family: $font-family-base;
	cursor: default;
	user-select: none;

	@include touch-or-bp-down(sm) {
		line-height: $line-height-base-mobile;
	}

	@include mouse-and-bp-up(sm) {
		line-height: $line-height-base;
	}
}

a {
	cursor: pointer;
}

[data-widget="library"] {
	overflow: hidden; // Prevent any overflow
}

#zotero-web-library {
	overflow: hidden; // Fix scaling, rendering, and positioning issues in Chrome device emulator
}

.library-container {
	display: flex;
	flex-direction: column;

	&.no-transitions {
		* {
			transition: none !important; // Disable all transitions on initial load
		}
	}
}

.site-wrapper {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	min-height: 0;

	@media (max-width: $navbar-breakpoint - 1px) {
		overflow: hidden; // Do not overlap open mobile navbar nav
		transition: transform $mobile-navbar-nav-transition;

		.navbar-nav-opened & {
			transform: translate3d($content-transform, 0, 0);
		}
	}

	@media (max-width: 360px - 1px) {
		.navbar-nav-opened & {
			transform: translate3d(-264px, 0, 0); // 4" devices
		}
	}
}

main {
	flex: 1 1 auto;
	display: flex;
	background: $main-bg;
	min-height: 0;
	position: relative; // Needed to fix weird touch layout in Chrome’s device emulator
}
