//
// Base styles
// --------------------------------------------------

* {
	box-sizing: border-box;
}

html,
body,
#zotero-web-library,
.library-container {
	height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba($shade-10, 0); // Transparent highlight color

	@include bp-down(sm) {
		font-size: $font-size-mobile; // 1rem
	}

	@include bp-up(md) {
		font-size: $font-size-base; // 1rem
	}

	&.touch {
		font-size: $font-size-mobile; // 1rem
	}
}

body {
	background: $body-bg;
	color: $text-color;
	font: {
		family: $font-family-base;
	}
	line-height: $line-height-base;
	cursor: default;
	user-select: none;
}

[data-widget="library"] {
	overflow: hidden; // Prevent any overflow
}

#zotero-web-library {
	overflow: hidden; // Fix scaling, rendering, and positioning issues in Chrome device emulator
}

.library-container {
	display: flex;
	flex-direction: column;

	&.no-transitions {
		* {
			transition: none !important; // Disable all transitions on initial load
		}
	}
}

main {
	flex: 1 1 auto;
	display: flex;
	background: $main-bg;
	position: relative;
	z-index: $z-index-main;
	left: 0;

	@include bp-down(xs) {
		overflow: hidden; // Do not overlap open mobile navbar nav
		transition: left $mobile-navbar-nav-transition;

		.navbar-nav-opened & {
			left: $content-transform;
		}
	}
}
