//
// Type
// --------------------------------------------------


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}


// Lists

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}