//
// Item details
// --------------------------------------------------

.item-details {
	background: $item-details-bg;

	@include bp-down(sm) {
		@include same(right, bottom, left, 0);
		top: $line-height-large-touch;
		position: absolute;
		transform: translate3d(100%, 0, 0);
		transition: transform $nav-transition;

		.view-item-details-active & {
			transform: translate3d(0, 0, 0);
		}
	}

	@include bp-down(xs) {
		top: 0;

		.view-item-details-active & {
			transform: translate3d(25%, 0, 0);
		}
	}

	@include bp-only(md) {
		flex: 0 0 50%;

		@include state(".select-mode .item-details") {
			display: none;
		}
	}

	@include bp-up(lg) {
		flex: 0 0 $item-details-width-lg;
		min-width: 0; // Fix truncation
		@include hairline(left, $item-details-border);

		.touch & {
			flex: 0 0 $item-details-width-lg-touch;
		}
	}

	.touch-header {
		background-color: mix($shade-10, $touch-header-bg, 2%);
	}

	.panel-header {
		@include touch-or-bp-down(sm) {
			display: none;
		}

		@include touch-and-bp-only(md) {
			display: block;
			position: relative;
		}

		.btn-edit {
			position: absolute;
			right: 0;
			top: 0;
			height: calc(100% - #{$border-width});
			padding: 0 $default-padding-x-touch;

			&:focus {
				.keyboard & {
					outline: $outline-width solid $focus-color;
					outline-offset: -$outline-width;
				}
			}
		}
	}

	.toolbar {
		margin: $space-min 0 ($space-md - 2px);
	}

	// Two column layout for md screens
	@include bp-only(md) {

		// Optimize tabs layout
		.tabs.compact {
			li {
				a {
					padding: 0 $default-padding-x-touch;
				}
			}
		}

		// 2 columns layout
		.row {
			display: flex;
		}

		.col {
			flex: 0 0 50%;
			position: relative;
			min-width: 0; // Fix truncation
		}
	}

	.info-view {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: $info-view-font-size;
		color: $info-view-color;
	}
}
