//
// Item details
// --------------------------------------------------

.item.details {
	background: $item-details-bg;

	@include bp-down(sm) {
		@include same(right, bottom, left, 0);
		top: $line-height-large-touch + $space-min;
		position: absolute;
		transform: translate3d(100%, 0, 0);
		transition: transform $nav-transition;

		.view-item-details-active & {
			transform: translate3d(0, 0, 0);
		}
	}

	@include bp-down(xs) {
		top: 0;

		.view-item-details-active & {
			transform: translate3d(25%, 0, 0);
		}
	}

	@include bp-only(md) {
		flex: 1 1 0;
		height: 50%;
	}

	@include bp-up(lg) {
		flex: 0 0 $item-details-width-lg;

		.touch & {
			flex: 0 0 $touch-item-details-width-lg;
		}
	}

	.panel-header {
		@include touch-or-bp-down(sm) {
			display: none;
		}
	}

	.toolbar {
		margin: $space-min 0 ($space-md - 2px);
	}

	.item-title,
	.tab-pane-heading {
		@include mouse-and-bp-up(md) {
			display: none;
		}
	}

	.item-title {
		border-bottom: 2px solid $separator-color;
		padding-bottom: 10px;
		margin: 10px $default-padding-horizontal-touch 9px;
	}

	.abstract-heading {
		@include touch-or-bp-down(sm) {
			margin-top: 9px;
			border-top: 2px solid $separator-color;
			padding-top: 11px;
		}
	}

	.tab-pane-heading {
		padding: 0 $default-padding-horizontal;
	}

	// Two column layout for md screens
	@include bp-only(md) {

		// Optimize tabs layout
		.tabs.compact {
			li {
				a {
					padding: 0 $default-padding-horizontal-touch;
				}
			}
		}

		// 2 columns layout
		.row {
			display: flex;
		}

		.col {
			flex: 0 0 50%;
			position: relative;
		}
	}

	.dl-horizontal {
		margin-top: 3px;

		dd.select {
			overflow: visible;
		}

		@include bp-down(xs) {
			dt {
				padding-right: $default-padding-horizontal-touch;
			}

			dd {
				padding-left: $default-padding-horizontal-touch;
			}
		}

		@include touch-or-bp-down(sm) {
			dt {
				padding-left: $default-padding-horizontal-touch;
			}

			dd {
				padding-right: $default-padding-horizontal-touch;
			}
		}

		@include mouse-and-bp-up(md) {
			dt {
				padding-left: $default-padding-horizontal;
			}

			dd {
				padding-right: $default-padding-horizontal;
			}
		}

		@include bp-only(md) {
			margin-top: -3px;

			dd {
				padding-right: ($dl-horizontal-gutter + 1px);
			}
		}
	}
}
