.touch-details-drilldown {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: $touch-header-height;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $z-index-rich-editor-touch;
	background-color: $panel-bg;
	transform: translate3d(100%, 0, 0);
	transition: transform $nav-transition;

	@include bp-down(xs) {
		top: 0;
		transform: translate3d(125%, 0, 0);
	}

	@include touch-and-bp-up(lg) {
		left: auto;
		width: $item-details-width-lg-touch;
	}

	.view-note-active &.touch-note,
	.view-attachment-active &.touch-attachment {
		transform: translate3d(0, 0, 0);

		@include bp-down(xs) {
			transform: translate3d(25%, 0, 0);
		}
	}

	@each $drilldown in note, attachment {
		&.touch-#{$drilldown} {
			@include bp-down(xs) {

				// Start searching in note drilldown

				// Init

				.search-active.view-#{$drilldown}-active & {
					transform: translate3d(0, 0, 0);
					transition: none;
				}

				// Search results
				// => No styles needed
			}
		}
	}
}
