@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/mixins/hairline";
@use "../../abstracts/mixins/selectors";
@use "../../abstracts/variables";
@use "../../themes/common";

@use "sass:map";

.touch-details-drilldown {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: variables.$touch-header-height;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: variables.$z-index-details-drilldown;
	background-color: common.$panel-bg;
	transform: translate3d(100%, 0, 0);
	transition: transform variables.$nav-transition;

	@include breakpoints.bp-down(xs) {
		top: 0;
		transform: translate3d(125%, 0, 0);
	}

	@include breakpoints.touch-and-bp-up(lg) {
		left: auto;
		width: variables.$item-details-width-lg-touch;
		border-left: 1px solid var(--color-shade-2);
	}

	.view-note-active & {
		&.touch-note {
			transform: translate3d(0, 0, 0);

			@include breakpoints.bp-down(xs) {
				transform: translate3d(25%, 0, 0);
			}
		}
	}

	.view-attachment-active & {
		&.touch-attachment {
			transform: translate3d(0, 0, 0);

			@include breakpoints.bp-down(xs) {
				transform: translate3d(25%, 0, 0);
			}
		}

		.rich-editor {
			@include hairline.hairline(top, "color-shade-4");
		}
	}

	.touch-tag-selector-active & {
		@include breakpoints.bp-down(sm) {
			bottom: -(variables.$touch-footer-height);
		}

		@include breakpoints.touch-and-bp-only(md) {
			bottom: -(variables.$touch-footer-height);
		}
	}

	@each $drilldown in note, attachment {
		&.touch-#{$drilldown} {
			@include breakpoints.bp-down(xs) {
				.search-active.view-#{$drilldown}-active & {
					transform: translate3d(0, 0, 0);
					transition: none;
				}
			}
		}
	}

	&.editing {
		.metadata .value {
			@include breakpoints.touch-or-bp-down(sm) {
				$textarea-padding: (variables.$space-thumb - variables.$font-size-mobile * variables.$line-height-base-mobile) * 0.5;
				padding-top: $textarea-padding;
				padding-bottom: $textarea-padding;
			}
		}
	}
}
