//
// Item list
// --------------------------------------------------

.items-table-wrap,
.items-list-wrap {
	flex: 1 1 auto;
	// display: flex;
	flex-direction: column;

	&.reordering {
		cursor: move;
	}

	&.resizing {
		cursor: ew-resize;
	}

	@include bp-down(sm) {
		box-shadow: inset 0 1px $item-list-head-border;
	}

	.icon {
		@include mouse-and-bp-up(md) {
			color: $link-color;
		}
	}
}

.items-list {
	background-image:
		repeating-linear-gradient(
			to bottom,
			$item-odd-bg 0,
			$item-odd-bg $item-list-row-height,
			transparent $item-list-row-height,
			transparent (2 * $item-list-row-height)
		);
	background-attachment: local;

	.item {
		// Items in the list are fixed at 68px height
		padding: $item-list-padding-y $item-list-padding-x;
		padding-right: $item-list-padding-right;

		&.active {
			color: $item-active-color;
			background: $item-active-bg;
		}

		&.placeholder {
			.metadata {
				display: block;
				height: 12px;
				width: 100px;
				background: lightgray;
			}

			.creator-year {
				background: gainsboro;
			}
		}

		.metadata {
			@include text-truncate;
			position: relative;
		}

		.creator-year {
			display: flex;
			color: $item-creator-date-color;

			@include state(".item.active") {
				color: $item-active-color;
				opacity: 0.67;
			}

			.creator,
			.year {
				@include text-truncate;
			}

			.creator {
				flex: 0 1 auto;
			}

			.year {
				flex: 0 0 auto;

				&:not(:empty) {
					&::before {
						content: "(";
						white-space: pre;
					}

					&::after {
						content: ")";
					}
				}
			}

			.creator:not(:empty) + .year:not(:empty) {
				&::before {
					content: " (";
					white-space: pre;
				}
			}
		}

		.icon-chevron-13 {
			position: absolute;
			right: 12px;
			top: ($item-list-row-height - $space-md) / 2;
			transform: rotate(90deg);
			color: $item-list-chevron-color;

			@include state(".item.active") {
				color: $item-active-color;
			}
		}
	}
}

//.items-list {
//	.item {
//		.checkbox {
//			pointer-events: none; // these are purely decorative
//			margin-right: $space-sm;
//		}
//	}
//}
