//
// Item list
// --------------------------------------------------

.item-list-wrap {
	flex: 1 1 auto;
	// display: flex;
	flex-direction: column;

	&.reordering {
		cursor: move;
	}

	&.resizing {
		cursor: ew-resize;
	}

	@include bp-down(sm) {
		box-shadow: inset 0 1px $item-list-head-border;
	}
}

.item-list-head th,
.item-list .metadata {
	@include mouse-and-bp-up(md) {
		// &:first-child {
		// 	padding-left: $space-sm;
		// }

		// &:last-child {
		// 	padding-right: $space-sm;
		// }

		// &:nth-child(1) {
		// 	width: 40%;
		// }

		// &:nth-child(2) {
		// 	width: 20%;
		// }

		// &:nth-child(3) {
		// 	width: 10%;
		// }

		// &:nth-child(4) {
		// 	width: 20%;
		// }

		// &:nth-child(5) {
		// 	width: 5%;
		// }

		// &:nth-child(6) {
		// 	width: 5%;
		// }
	}
}

.item-list-head {
	// box-sizing: content-box; // border-box results in buggy flex layout
	// table-layout: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	border-spacing: 0; // border-collapse results in buggy height
	border: {
		top: 1px solid $item-list-head-border;
		bottom: 1px solid $item-list-head-border;
	}

	> div {
		height: $item-list-head-height;
		text-align: left;
		font-weight: 400;
		padding: 0 $space-xs;
		color: $item-list-head-color;
		position: relative;
		@include text-truncate;

		.resizing &,
		.reordering & {
			user-select: none;
		}
	}
}

.item-list-body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; // Momentum scrolling
	flex: 1 1 auto;
	background-attachment: local;

	.view-item-details-active & {
		overflow: hidden; // Prevent scrolling in inactive state
	}

	// can't use this because of virtualisation
	// @include bp-only(sm) {
	// 	background-image: repeating-linear-gradient(to bottom, $item-odd-bg 0,
	// 		$item-odd-bg $item-list-row-height-sm,
	// 		transparent $item-list-row-height-sm,
	// 		transparent (2 * $item-list-row-height-sm));
	// }

	// @include mouse-and-bp-up(md) {
	// 	padding-top: 3px;
	// 	background-image: repeating-linear-gradient(to bottom, $items-odd-bg 3px,
	// 		$items-odd-bg ($item-list-row-height-md + 3px),
	// 		transparent ($item-list-row-height-md + 3px),
	// 		transparent (2 * $item-list-row-height-md + 3px));
	// }
}

.item-list {
	@include mouse-and-bp-up(md) {
		// display: table;
		// table-layout: fixed;
		width: 100%;
	}

	.reorder-target {
		&::before {
			content: "•";
			color: $red;
		}
		left: 2px;
		position: absolute;
	}

	.resize-handle {
		bottom: 2px;
		cursor: ew-resize;
		left: 0;
		position: absolute;
		top: 2px;
		width: 8px; // actual handle width for cursor grip

		&::before {
			background: $item-list-head-border;
			bottom: 0;
			content: "";
			left: 2px;
			position: absolute;
			top: 0;
			width: 1px; // rendered handle width for visual
		}
	}

	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		user-select: none;
		width: 100%;

		@include bp-down(sm) {
			padding: $item-touch-padding-vertical $item-touch-padding-horizontal;
		}

		@include touch-or-bp-up(md) {
			padding: $item-touch-padding-vertical $item-touch-padding-horizontal;
		}

		@include mouse-and-bp-up(md) {
			// display: table-row;
		}

		&.odd { // can't use nth-child(odd) because of virtualisation
			background: $item-odd-bg;

			// @include bp-up(sm) {
			// 	background: inherit;
			// }
		}

		&.active {
			color: $item-active-color;
			background: $item-active-bg;
		}
	}

	.metadata {
		&.title {
			.icon {
				margin-right: $space-xs;
			}
		}

		@include mouse-and-bp-up(md) {
			// display: table-cell;
			height: $item-list-row-height-md;
			vertical-align: middle;
			padding: 0 $space-xs 0 ($space-xs + 1px);
			@include text-truncate;
		}
	}

	.author,
	.year {
		// display: inline;

		@include mouse-and-bp-up(md) {
			// display: table-cell;
		}
	}

	.year {
		margin-left: 4px;

		&:before {
			content: "(";
		}

		&:after {
			content: ")";
		}

		@include mouse-and-bp-up(md) {
			&:before,
			&:after {
				content: none;
			}
		}
	}
}

.column-selector {
	.tick {
		display: inline-block;
		width: $space-md;
	}
}
