//
// Item list
// --------------------------------------------------

.items-table-wrap,
.items-list-wrap {
	flex: 1 1 auto;
	// display: flex;
	flex-direction: column;

	&.reordering {
		cursor: move;
	}

	&.resizing {
		cursor: ew-resize;
	}

	@include bp-down(sm) {
		box-shadow: inset 0 1px $item-list-head-border;
	}

	.icon {
		@include mouse-and-bp-up(md) {
			color: $link-color;
		}
	}
}

.items-list {
	.item {
		// items in the list are fixed at 42px height
		padding: $space-xs;
		@include text-truncate;

		&.odd { // can't use nth-child(odd) because of virtualisation
			background: $item-odd-bg;
		}

		&.active {
			color: $item-active-color;
			background: $item-active-bg;
		}

		.checkbox {
			pointer-events: none; // these are purely decorative
			margin-right: $space-sm;
		}
	}
}
