//
// Item table
// --------------------------------------------------

.items-table-head {
	// box-sizing: content-box; // border-box results in buggy flex layout
	// table-layout: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	border-spacing: 0; // border-collapse results in buggy height
	border: {
		top: 1px solid $item-list-head-border;
		bottom: 1px solid $item-list-head-border;
	}

	> div {
		height: $item-list-head-height;
		text-align: left;
		font-weight: 400;
		padding: 0 $space-xs;
		color: $item-list-head-color;
		position: relative;
		@include text-truncate;

		.resizing &,
		.reordering & {
			user-select: none;
		}
	}
}

.items-table-body {
	// overflow-y: scroll;
	// -webkit-overflow-scrolling: touch; // Momentum scrolling
	// flex: 1 1 auto;
	// background-attachment: local;
	//
	// .view-item-details-active & {
	// 	overflow: hidden; // Prevent scrolling in inactive state
	// }
}

.items-table {
	@include mouse-and-bp-up(md) {
		// display: table;
		// table-layout: fixed;
		width: 100%;
	}

	.ReactVirtualized__Table__Grid {
		padding-top: $space-min;
	 	background-image: repeating-linear-gradient(to bottom, $items-odd-bg $space-min,
	 		$items-odd-bg ($item-table-row-height + $space-min),
	 		transparent ($item-table-row-height + $space-min),
	 		transparent (2 * $item-table-row-height + $space-min));
	 	background-attachment: local;
	}

	.reorder-target {
		&::before {
			content: "•";
			color: $red;
		}
		left: 2px;
		position: absolute;
	}

	.resize-handle {
		bottom: 2px;
		cursor: ew-resize;
		left: 0;
		position: absolute;
		top: 2px;
		width: 8px; // actual handle width for cursor grip

		&::before {
			background: $item-list-head-border;
			bottom: 0;
			content: "";
			left: 2px;
			position: absolute;
			top: 0;
			width: 1px; // rendered handle width for visual
		}
	}

	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		user-select: none;
		width: 100%;

		//@include bp-down(sm) {
		//	padding: $item-padding-y-touch $item-padding-x-touch;
		//}
		//
		//@include touch-or-bp-up(md) {
		//	padding: $item-padding-y-touch $item-padding-x-touch;
		//}

		@include mouse-and-bp-up(md) {
			// display: table-row;
		}

		&.active {
			color: $item-active-color;
			background: $item-active-bg;
		}
	}

	.colored-square {
		width: 12px;
		height: 12px;
		display: inline-block;
		margin-right: $space-xs;
		vertical-align: middle;
	}

	.placeholder-icon {
		display: block;
		height: 12px;
		width: 12px;
		display: inline-block;
		margin-right: $space-xs;
		vertical-align: middle;
		background: blue;
	}

	.placeholder {
		display: block;
		height: 12px;
		width: 100px;
		background: lightgray;
		display: inline-block;
	}

	.metadata {
		&.title {
			.icon {
				margin-right: $space-xs;
				vertical-align: middle;
			}
		}

		@include mouse-and-bp-up(md) {
			// display: table-cell;
			height: $item-table-row-height;
			vertical-align: middle;
			padding: 0 $space-xs 0 ($space-xs + 1px);
			@include text-truncate;
		}
	}

	.author,
	.year {
		// display: inline;

		@include mouse-and-bp-up(md) {
			// display: table-cell;
		}
	}

	.year {
		margin-left: 4px;

		&:before {
			content: "(";
		}

		&:after {
			content: ")";
		}

		@include mouse-and-bp-up(md) {
			&:before,
			&:after {
				content: none;
			}
		}
	}
}

.column-selector {
	.tick {
		display: inline-block;
		width: $space-md;
	}
}
