@use "../../abstracts/mixins/selectors";
@use "../../abstracts/variables";
@use "../../themes/common";
@use "sass:map";

.items-table-wrap {
	flex: 1 1 auto;
	flex-direction: column;
	position: relative;

	&.reordering {
		cursor: move; // IE
	}

	&.resizing {
		cursor: ew-resize; // Needed when resizing is laggy
	}

	.icon-spin {
		position: absolute;
		left: calc(50% - #{variables.$icon-spin-size-lg * 0.5});
		top: calc(50% - #{variables.$icon-spin-size-lg * 0.5} + #{variables.$line-height-large * 0.5});
	}

	&.dnd-target {
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			pointer-events: none;
			background-color: transparent;
			outline: 2px solid var(--fill-secondary);
			outline-offset: -2px;
			opacity: 0.5;
		}
	}
}

.items-table {
	.items-table-head {
		display: flex;
		flex-direction: row;
		align-items: center;
		border: {
			top: var(--material-panedivider);
			bottom: var(--material-panedivider);
		}


		.column-header {
			display: flex;
			height: variables.$item-table-head-height;
			text-align: left;
			padding: 0 variables.$space-min;
			color: common.$item-table-head-color;
			position: relative;
			min-width: 0; // Fix truncation

			&:focus {
				.keyboard & {
					outline-offset: -(variables.$outline-width);
				}
			}

			&::before {
				content: "";
				background: common.$item-table-head-border;
				position: absolute;
				top: 2px;
				bottom: 2px;
				left: 0;
				width: variables.$border-width;

				@include selectors.state(".column-header:focus") {
					.keyboard & {
						content: none;
					}
				}
			}

			&::after {
				content: "";
				position: absolute;
				top: 2px;
				right: 0;
				bottom: 2px;
				width: variables.$border-width;
				box-shadow: variables.$border-width 0 common.$item-table-head-border;
			}

			&:first-child {
				&::before {
					content: none;
				}
			}

			&:last-child {
				&::after {
					html:not(.scrollbar-style-permanent) & {
						content: none;
					}
				}
			}

			&:active {
				.items-table-wrap:not(.resizing) & {
					background-color: common.$item-table-head-active-bg;

					&::before {
						top: 0;
						bottom: 0;
					}

					& + div {
						&::before {
							top: 0;
							bottom: 0;
						}
					}
				}
			}

			.header-content {
				flex: 1 1 auto;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 variables.$space-min 0 (variables.$space-min + variables.$border-width);
				min-width: 0; // Fix truncation

				@include selectors.state(".column-header.reorder-source") {
					opacity: 0.5;
				}

				@include selectors.state(".column-header:first-child") {
					padding-left: variables.$space-sm - variables.$space-min;
				}

				@include selectors.state(".column-header:not(.attachment):last-child") {
					padding-right: variables.$space-sm - variables.$space-min;
				}
			}

			.sort-indicator {
				color: inherit;
				margin: 0 -4px 0 -5px;
			}

			&[aria-sort="descending"] {
				.sort-indicator {
					transform: scaleY(-1);
				}
			}

			.resize-handle {
				position: absolute;
				top: 2px;
				bottom: 2px;
				left: -(variables.$space-xs) * 0.5;
				width: variables.$space-xs;
				cursor: ew-resize;
			}

			.reorder-target {
				position: absolute;
				top: 2px;
				bottom: 2px;
				width: 3px;
				background: common.$sort-indicator;
				z-index: 2;

				&.reorder-left {
					left: -1px;
				}

				&.reorder-right {
					right: -2px;
				}
			}
		}
	}

	.items-table-body {
		padding-top: variables.$space-min * 0.5;
		padding-left: 8px;
		padding-right: 8px;

		> div {
			position: relative;
		}
	}

	.item {
		align-items: center;
		border-radius: 5px;
		display: flex;
		flex-direction: row;
		user-select: none;
		width: 100%;

		@include selectors.state(".items-table.striped") {
			&.odd:not(.active) {
				background-color: var(--material-stripe);
			}

			&.even:not(.active) {
				background-color: var(--material-background);
			}
		}

		&.active {
			border-radius: 0;
			background-color: common.$item-table-active-bg;

			@include selectors.state(".items-table:focus-within") {
				color: var(--primary-on-accent);
				background-color: var(--color-accent);
			}

			&.first-active {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&.last-active {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		&:focus {
			.keyboard & {
				outline: none;
			}
		}

		&.dnd-target:not(.specifity, .specifity) {
			color: var(--material-background);
			background: var(--fill-secondary);
		}

		&.dnd-target-top, &.dnd-target-bottom + .item {
			overflow: visible !important;

			&::before {
				content: "";
				background: var(--fill-secondary);
				position: absolute;
				top: -1px;
				width: 80px;
				left: 10px;
				height: 2px;
			}
		}

		.focused-selected-icon,
		.focused-selected-tag-circles {
			display: none;

			@include selectors.state(".items-table:focus-within .item.active") {
				display: block;
			}
		}

		.unfocused-icon,
		.unfocused-tag-circles {
			display: block;

			@include selectors.state(".items-table:focus-within .item.active") {
				display: none;
			}
		}

		.placeholder-icon {
			width: variables.$space-md;
			height: variables.$space-md;
			margin-right: variables.$space-xs;
			background: var(--color-shade-2);
			border-radius: 4.5px;
		}

		.placeholder {
			margin-top: 1px;
			height: 9px;
			width: 70%;
			background: var(--color-shade-2);
			border-radius: 4.5px;

			@include selectors.state(".metadata:nth-child(even) .placeholder") {
				width: 80%;
			}

			@include selectors.state(".item.odd") {
				width: 90%;

				@include selectors.state(".metadata:nth-child(even) .placeholder") {
					width: 70%;
				}
			}

			@include selectors.state(".item.nth-4n-1") {
				width: 80%;

				@include selectors.state(".metadata:nth-child(even) .placeholder") {
					width: 60%;
				}
			}

			@include selectors.state(".item.nth-4n") {
				width: 60%;

				@include selectors.state(".metadata:nth-child(even) .placeholder") {
					width: 90%;
				}
			}
		}
	}

	.metadata {
		display: flex;
		align-items: center;
		height: variables.$item-table-row-height;
		padding: 0 variables.$space-xs 0 (variables.$space-xs + variables.$border-width);

		&:first-child {
			padding-left: variables.$default-padding-x;
		}

		&:not(.attachment):last-child {
			padding-right: variables.$default-padding-x;
		}

		&.title {
			> .icon {
				margin-right: variables.$space-xs;
			}

			.truncate {
				flex: 1 10000 auto; // Shrink before tag-colors
			}

			.tag-colors {
				align-items: center;
				display: inline-flex;
				flex: 0 1 auto;
				margin-left: auto; // space-between on .metadata breaks placeholders
				min-width: 0;
				overflow: hidden;
				padding-left: variables.$space-xs;

				.emoji {
					margin-left: 4px;
				}

				.tag-circles {
					margin-left: variables.$space-min;
				}
			}
		}
	}
}

.table-cover {
	align-items: center;
	background: var(--color-background);
	display: flex;
	height: 100%;
	height: calc(100% - variables.$item-table-row-height);
	justify-content: center;
	position: absolute;
	width: 100%;
	z-index: 100;
	margin-top: variables.$item-table-row-height;
}
