header .center {
	padding-top: 0px;
	position: relative;
}

.center {
	width: 100%;
	margin: 0;
}

#logohead {
	margin: 0;
	}

#sitenav a:link, #sitenav a:visited {
	color: #333;
	width: 100%;
	}
	
#navbar {
	background-color: transparent;
	border-radius: 0;
	}
	
footer {
	display: none;
	}
	
#login-links span:not(:last-child)::after {
	content: "";
	padding: 0;
}
	
#simple-search {
	clear: both;
	}
	
#content .center {
	padding: 0;
	}
	
#collection-list a.current-collection {
	background: transparent;
	}
	
#collection-list, #collection-list-div ul, #collection-list-div li {
	list-style: inherit;
	}
	
	#collection-list-div li { border: 1px solid transparent; }
	
#collection-list a {
	border: 0;
	padding: 0;
	color: inherit;
	}