.left {
    float:left;
}

.right {
    float:right;
}

body.library {
    max-width:1920px;
    margin:0;
}

.feedlink {
    display:block;
    border:1px dotted #ccc;
    padding: 4px 0;
}

/* == User Library == */

#library {
    float: left;
    padding-bottom: 16px;
}

#library a {
    text-decoration: none;
}

#library .minor-col{
    float:left;
}

#library .major-col{
    float:right;
}

#items-pane {
    min-width:600px;
}

#library td, #library th {
    border-bottom: 1px solid #e7e7e7;
}

#collection-list-div ul {
    list-style:none;
    margin:0;
    padding:0;
}

#collection-list-div ul ul {
    margin-left: 1em;
}

#library-items-div {
    float: left;
    width: 100%;
}

#library-items-div th {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-align: center;
}

#library-items-div th:not(:last-child) {
    border-right:1px dotted rgba(0,0,0,0.2);
}

#library-items-div td * {
    margin-bottom: 0;
}

.sprite-icon {
    float: left;
    margin-right: 5px;
}

#field-table thead:first-child, .edit-checkbox-td {
    text-align: center;
}

#field-table thead:first-child input, .edit-checkbox-td input {
    display: inline-block;
    margin-bottom: 0;
}

.item-select-link {
    position: relative;
}
.item-select-link span.sprite-icon {
    /*position: absolute;*/
    top: 0;
    left: 0;
    margin-right:8px;
}

span.localized-date-span {
    white-space: nowrap;
    display: inline-block;
}

#items-pane td[data-itemkey]:not(.edit-checkbox-td) {
    cursor: pointer;
    max-width: 50%;
    word-wrap:break-word;
}

#control-panel-container {
    padding-bottom:1em;
/*    clear:both;*/
}

#control-panel form{
    margin-bottom:0;
}

#cite-link {
    margin-left: 18px;
    margin-right: 18px;
}

#export-link {
    margin-left: 10px;
}

#move-item-links-buttonset {
    margin-left:1em;
    margin-right:3em;
}

.ui-selectmenu-status {
    font-size:0.9em;
}

/*.remove-from-collection-link .ui-button-text {
    font-size:0.9em;
    padding-top:0.1em !important;
    padding-bottom:0.1em !important;
}*/


.creator-input-div {
    margin:0;
    line-height: 1.5em;
}

.creator-input-div input {
    float:left;
}
.creator-input-div span.creator-separator {
    float:left;
    margin-top:.42857143em;
    margin-right: 4px;
}

.itemDetailForm input {
    margin-right:2px;
}

td.creator * {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.creator-input-div span,
.creator-input-div a,
.add-remove-tag-container a {
    margin: 0 0 0 5px;
    height: 27px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
}

.add-remove-creator-buttons-container.ui-buttonset {
    margin-left: 1px;
}

.add-note-button {
  margin-top: 20px
}

.edit-tag-div {
    margin:0;
    line-height:1.4em;
}

.edit-tag-div:last-child a {
    margin-bottom: 0;
}

.edit-tag-div input {
    float:left;
    margin-right: 10px;
}
.edit-tag-div span {
    float:left;
}
.taginput{
    clear:left;
}

#library-settings-div {
}

#item-pagination-div li {
    float: left;
    margin-left: -1px;
    list-style-type: none;
}

#item-pagination-div li a {
    border-left: 1px solid #dadada;
}

#item-pagination-div li:first-of-type {
    margin-left: 0;
}

#item-pagination-div {
    text-align:center;
    overflow: auto;
}

#item-pagination-div .back-item-pagination {
    float:left;
    padding-left:0px;
    margin: 0;
}

#item-pagination-div .forward-item-pagination {
    float:right;
    margin: 0px 7px 0 0;
}


#item-pagintation-div a.paginator{
    display:inline-block;
}

.notes > span > table {
    margin: 0 0 20px 0 !important;
}
/*
#item-pagination-div li:not(:last-child):after{
    content: " · ";
}
*/

/* library settings dialog */
#library-settings-form label {
    margin-bottom:0.3em;
}

/* == Item Details == */

.item-info-table th {
    width: 15%;
}

#item-details-div button.zform{
    float: right;
    margin: 0 0 0 10px;
}

.itemDetailForm table {
    margin-top: 15px;
    margin-bottom: 20px;
}
.itemDetailForm td, .itemDetailForm th {
    padding: 10px 4px;
}

.itemDetailForm td > *, .itemDetailForm th > * {
    margin: 0;
}

.itemDetailForm td > input[type=text], .itemDetailForm textarea {
    width:80%;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul#notes-and-attachments {
    list-style:none;
    padding-left: 0;
}

ul#notes-and-attachments li {
    margin-top: 5px;
}

#upload-attachment-link {
    margin: 2em 0;
}

#cite-item-link {
    margin-bottom:3px;
}

.ui-button-text {
    text-shadow:none;
}

.cite-item-div form {
    margin: 10px 0 20px;
}

#cite-box-div {
    border:1px solid #d5d5d5;
    margin: 0 0 10px 0;
    padding:10px;
    height:300px;
    overflow: auto;
}

/* == Library styles == */

ul.item-pagination {
    padding-left:0;
    margin-left:0;
}

#notes-and-attachments .item-select-link {
    padding:0;
    display:inline;
    position:inherit;
}

#tag-filter-input,
#show-all-tags-label {
    margin-bottom:1em;
    display:block;
}

#show-all-tags-label input[type="checkbox"] {
    float:none !important;
    display:inline !important;
}

#tags-list,
#selected-tags-list {
    list-style:none;
    margin: 0;
    padding: 0;
    font-weight:normal;
    /*font-size: 0.857142857em;*/
    font-size: 0.8em;
}

#tags-list a,
#selected-tags-list a {
    /*display:block;*/
    text-decoration:none;
    /*border-bottom: 1px dotted #ccc;*/
    padding: 5px 7px;
    color: #16B;
    background-color: #eee;
    border-radius: 3px;
    margin:5px 5px 0 0;
    display: inline-block;
}

#tags-list li,
#selected-tags-list li {
    display:list-item;
    float:left;
    margin-bottom:0;
}
/*
#tags-list a span,
#selected-tags-list a span {
    float:right;
    text-align:right;
}
*/
#tags-list a:hover,
#tags-list a:active {
    background-color: rgba(51,136,204,0.2);
}

#selected-tags-list a:link,
#selected-tags-list a:visited {
    background-color: #fff09e;
    color: #444;
}

#selected-tags-list a:hover,
#selected-tags-list a:active {
    background-color: #fff09e;
    color: #900;
}

label[for='show-all-tags']{
    font-size: 0.8em;
}

#tag-filter-input {
    margin-bottom: 16px;
}

#more-tags-links {
    clear: both;
    margin-bottom: 16px;
}

#more-tags-links a:not(:last-of-type):after {
    content: " · ";
    display: inline;
}

#tag-lists-container {
/*    overflow:scroll;
    max-height:300px;
    */
    overflow: auto;
    margin-bottom: 16px;
}

td.tags ul {
    list-style:none;
    padding:0;
    margin:0;
}
td.tags li {
    display:inline-block;
}
td.tags a {
    text-decoration:none;
}

td.tags li:not(:last-child):after {
    content: " · ";
    color: rgba(0,0,0,0.5);
}

#collection-list-container {
    clear: both;
}

#collection-list-div {
    margin-bottom: 40px;
}

#collection-edit-div {
    padding-bottom:1em;
/*    clear:both;*/
}

#collection-list {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-weight:normal;
    font-size: 0.857142857em;
}

#collection-list a {
    display:block;
    text-decoration:none;
    border-bottom: 1px solid #e7e7e7;
    color: #16B;
    padding: 5px;
}

#collection-list a:hover,
#collection-list a:active {
    background-color: rgba(51,136,204,0.2);
}


#collection-list a.current-collection {
    /*text-decoration: underline;*/
    font-weight: bold;
    background-color: rgba(51,136,204,0.2);
}

#collection-list span{
    margin-top:6px;
}

#collection-list > li > span {
    margin-left: 5px;
}

#library-items-div table {
    margin-left:0;
    padding-left:0;
    font-size: 0.857142857em;
}

#library-items-div a {
    /*display:block;*/
    text-decoration:none;
}
/*
#library-items-div a:hover,
#library-items-div a:active {
    background-color: rgba(51,136,204,0.2);
}
*/
#library-items-div tbody tr:hover {
    background-color: rgba(51,136,204,0.2);
}

#library-items-div th.clickable:hover {
    background-color: rgba(51,136,204,0.2);
}

#library-items-div div.no-results-message {
    text-align:center;
    margin-top:1em;
}

/* == Create Item == */

#itemType {
  
}

/*export section*/
#export-formats-div {
/*    border:1px solid rgba(0,0,0,0.3);
    border-radius:5px;*/
    padding-top:2px;
    margin-top:5px;
    margin-bottom:5px;
    max-width:200px;
}

#export-section-title {
    margin-top:2px;
    margin-bottom:4px;
    text-decoration:none;
}
#export-section-title a{
    text-decoration:none;
}

#export-formats-heading {
    
}

#export-list {
}

.tags div:last-of-type > * { margin-bottom: 0; }

#feed-link-div.ajaxload {
    margin-top:5px;
}

#export-formats-div {
    /*
    border:1px solid rgb(204, 204, 204);
    border-radius:10px 10px 10px 10px;
    */
}

#export-formats-div ul {
    list-style:none;
    padding:0;
}

/* Attachment Upload */

#fileuploadinput {
    font-size: 16px;
    line-height: 100%;
    margin: 0 0 20px 0;
    width: 100%;
}
#fileuploaddroptarget {
    padding-top:50px;
    border: 0;
    background-color: #e7e7e7;
    height:200px;
    text-align:center;
    margin: 0 0 20px 0;
}

#fileuploaddroptarget h3 {
}

#uploadprogressmeter {
    margin: 0;
}

