@media only screen {

div.filterguide-row {
    background-color:#888;
    color:#FFF;
    padding:3px 7px;
    text-shadow: none;
    border-bottom:1px solid #CCC;
}

div.mobile-search-pane {
    background-color:rgba(51, 136, 204, 0.2);
    padding:5px 7px;
    
}

tr.creator th {
    vertical-align:top;
}

.mobile-disabled-nav {
    
}

ul#js-message-list {
    margin:0;
}

span.tag-filter {
    border:1px solid #ccc;
    border-radius:10px;
    margin:5px 0px 5px 2px;
    
    background-color:white;
    color: #16B;
    padding: 5px;
    
}

a.clear-filter-button {
    font-size: 0.8em;
}

body {
    color: #444;
    font:87.5%/1.42857143em;    
    margin: 0;
}

input[type=submit],
input[type=button],
button,
a.button,
input.button {
    border-width: 1px;
    border-style:solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-image: -webkit-gradient(
        linear, 
        0% 0%, 
        0% 100%, 
        color-stop(0, rgba(255, 255, 255, .05)), 
        color-stop(0.5, rgba(255, 255, 255, .25)), 
        color-stop(0.5001, rgba(255, 255, 255, 0)), 
        color-stop(1, rgba(255, 255, 255, 0))
    );
    
    background-image: -webkit-linear-gradient(
        top, 
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: -moz-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    background-image: -o-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: -ms-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    text-shadow:-1px -1px 1px rgba(0,0,0,0.2);
    text-align:center;
    color: #fff;
    font-weight:bold;
    background-color: #800;
    border-color: #800;
    border-radius: 4px;
    padding:4px 8px;
    text-decoration:none;
}

nav ul {
    list-style:none;
    padding:0;
    margin:0;
	}
	
nav li {
    display:inline-block;
	}

nav a {
    text-decoration:none;
	}

ul.plain-list {list-style:none;}

#login-links, #login-form {
	width: 100%;
	background-color: #333;
	box-shadow: 0px 1px 3px #666;
		-webkit-box-shadow: 0px 1px 3px #666;
		-moz-box-shadow: 0px 1px 3px #666;
	font-size: .9em;
	font-weight: bold;
	display: block;
	color: #eee;
	margin: 0 0 1em 0;
	overflow: auto;
	text-align: center;
	text-shadow: transparent 0 0 0;
	}
	
	#login-links a {
		color: #DBFDFF;
		text-decoration: none;
		}
	
	#login-links span {
		width: 49.9%;
		background-color: #363636;	
		border: 1px solid #464646;
		border-width: 1px 1px 1px 0;
		float: left;
		padding: 10px 0;
		}
		
		#login-links .logged-in span {width: 24.9%;}
		
		#login-links .logged-in span:first-child {
			width: 100%;
			border: 0;
			padding: 10px 0;
			}
			
		#login-links span:last-child {
			border-right: 0;
			}
			
	.library #login-links {
		margin-bottom: 0;
		}
		
	#login-submit {
		padding: 5%;
		}
		
	#welcome {display: none;}

#purchase-storage-link  {
	width: 80%;
	background-color: #38c;
    border-color: #38c;
    border-radius: 6px;
	clear: both;
    color: #fff;
    display:block;
	float: none;
    font-size:0.857142857em;
    line-height: 2;
	margin: 0 auto 1em auto;
	text-align: center;
    text-decoration:none;
	}
	
	.library #purchase-storage-link {
		display: none;
		}
		
	#purchase-storage-link img {
		padding-right: 6px;
    	vertical-align: middle;
	    width: 24px;
		}

#navbar {
	padding: 0 5%;
	width: 90%;
	}
		
#sitenav {
	display: block;
	margin: 0 auto 1em;
	}
		
	#sitenav .selected a {
 		background: transparent;
	    color: #333;
    	box-shadow:0;
		}
		
	#sitenav a {
		padding: 1em 0;
		border-radius: 0;
		}

#sitenav li {
	width: 95%;
	display:inherit;
	line-height: 1;
	padding: 0 0 0 5%;
	}
	
#header-search-query {
	width: 96%;
	padding: 2%;
	}
	
#simple-search .ui-btn {
	width: 99%;
	margin: .5em 0 1em 0;
	}

.center .container { 
	padding: 5%; 
	}

#content .center {
    background: #fff;
    padding: 8px 20px 0;
}

#library #content .center {
    background: transparent;
    padding: 0;
}

#breadcrumbs { display: none; }

#zotero-banner, #login {
	padding: 5%;
	background-color: white;
	border-top: 1px solid #CCC;
    margin:-8px -20px 0;
	}
	
#download { display: none; }

#features {
	/*width: 90%;*/
	background-color: #D6E8F6;
	border-top: .5em solid #E9F2FB;
	display: inline-block;
	padding: 5%;
    margin:-8px -20px 0;
	}
	
#features-tabs {
	list-style: none;
	padding: 0;
	}
	
	#features-tabs li {
		display: inline-block;
		width: 47%;
		margin-bottom: 1em;
		}
		
		#features-tabs li:last-child { width: 100%; }
		
	#features-tabs a {
		text-decoration: none;
		padding: 14px;
		line-height: 40px;
		position: relative;
		vertical-align: middle;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		}
		
	#features-tabs a.selected { background: rgba(51, 136, 204, 0.2); }
	
	#features-tabs a img { vertical-align: middle; }
	
#features-lists .container { padding: 0; }

.feature img {
    background-color:rgba(0,0,0,0.1);
    padding: 5px;
    margin-bottom: 10px;
    float:left;
    margin-right: 10px;
}

#features-lists .feature:nth-child(2n) img {
    float:right;
    margin-left: 10px;
    margin-right:0;
}

#media {
	background-color: #fff;
	display: inline-block;
	padding: 0 5%;
	}
	
#media a { text-decoration: none; }

#media ul { 
	list-style: none;
	padding: 0;
	}
	
#connect img { vertical-align: middle; }

footer .container { padding: 5%; }

footer nav { display: none; }

/* general styles */
.left {
    float:left;
}

.right {
    float:right;
}

.spinner {
    display:block;
    clear:both;
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    margin-bottom:2em;
}

/* Table defaults */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
th,
td {
    vertical-align:top;
    text-align:left;
    padding: 4px;
}

th {
    text-transform: capitalize;
    border-bottom: 1px dotted #ccc;
    
}

thead th {
    border-bottom: 2px solid #ccc;
}

td {
    border-bottom: 1px dotted #ccc;
}

td * {
    margin:0 0 1em;
}
tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
}

/* Definition list defaults */
dt {
    font-weight:bold;
}

dd {
    margin-bottom:1em;
    margin-left:0;
}

/* -- Miscellaneous Classes -- */
.container:after,
form:after,
.action-links:after,
.nugget-user:after,
.plugin_translation:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clickable {
    cursor:pointer;
}

.deck {
    font-style:normal;
    font-weight:bold;
    font-size: 0.857142857em;
    color: #999;
}

.paginationControl {
    font-size: 0.857142857em;
}

a#screencast-link {
    display:block;
}
#screencast-link img {
    max-width:100%;
}

.button img {
    vertical-align:middle;
}

.action-links {
    margin-bottom:1.42857143em;
}
.action-links a {
    text-decoration:none;
    border-bottom: 1px dotted #aaa;
    padding-bottom: 3px;
}
.action-links li:not(:last-child):after {
    content: " · ";
    color: rgba(0,0,0,0.5);
    padding: 0 0.2em;
}

.action-links li.selected a {
    border-bottom: 2px solid #555;
    color: #555;
}

.feedlink {
    display:block;
    border:1px dotted #ccc;
    padding: 4px 0;
}

/* Nuggets!!!!!! */

.nugget-full {
    margin-bottom: 1.42857143em;
}

.nugget-full img {
    float:left;
}
.nugget-full .nugget-name {
    font-size:1.42857143em;
    font-weight:bold;
    margin-bottom:0.5em;
}

.nugget-full .nugget-name a {
    text-decoration:none;
}

.nugget-full .nugget-name,
.nugget-full .nugget-affiliation,
.nugget-full .action-links,
.nugget-full dl {
}

.nugget-small img {
    float:left;
}

.nugget-small .nugget-affiliation,
.nugget-small .nugget-name {
    margin-left: 60px;
}

.nugget-small .nugget-affiliation {
    font-size: 0.785714286em;
    color: #999;
}

#group-library-link-nav a {
    font-weight:bold;
}

/* Login page */

#login ol { 
	list-style: none;
	padding: 0;
	}
	
#login legend {
	padding: 0;
	}

/* == User Library == */
#collection-list-div ul {
    list-style:none;
    margin:0;
    padding:0;
}

#collection-list-div ul ul {
    margin-left: 1em;
}

#library-items-div th {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-align: center;
}

#library-items-div th:not(:last-child) {
    border-right:1px dotted rgba(0,0,0,0.2);
}

#library-items-div td * {
    margin-bottom: 0;
}

.sprite-icon {
    float: left;
    margin-right: 5px;
}

.item-select-link {
    position: relative;
}
.item-select-link span.sprite-icon {
    /*position: absolute;*/
    top: 0;
    left: 0;
    margin-right:8px;
}

span.localized-date-span {
    white-space: nowrap;
    display: inline-block;
}

#items-pane td[data-itemkey]:not(.edit-checkbox-td) {
    cursor: pointer;
    max-width: 50%;
    word-wrap:break-word;
}

#control-panel-container {
    padding-bottom:1em;
/*    clear:both;*/
}

#control-panel form{
    margin-bottom:0;
}

#move-item-links-buttonset {
    margin-left:1em;
    margin-right:3em;
}

.ui-selectmenu-status {
    font-size:0.9em;
}

.remove-from-collection-link .ui-button-text {
    font-size:0.9em;
    padding-top:0.1em !important;
    padding-bottom:0.1em !important;
}


.creator-input-div {
    margin:0;
    line-height:1.4em;
}

.creator-input-div input {
    float:left;
}
.creator-input-div span.creator-separator {
    float:none;
    margin-top:.42857143em;
    margin-right: 4px;
}

.itemDetailForm input {
    margin-right:2px;
}

td.creator * {
    margin:0 2px .25em;
}

.edit-tag-div {
    margin:0;
    line-height:1.4em;
}

.edit-tag-div input {
    float:left;
}
.edit-tag-div span {
    float:left;
}
.taginput{
    clear:left;
}

td.tags * {
    margin:0 2px .25em;
}

#library-settings-div {
}

#item-pagination-div li{
    display:inline-block;
}

#item-pagintation-div a.paginator{
    display:inline-block;
}
/*
#item-pagination-div li:not(:last-child):after{
    content: " · ";
}
*/

/* == Item Details == */
ul#notes-and-attachments {
    list-style:none;
}

ul#notes-and-attachments li {
    margin-top: 5px;
}

/* == Library styles == */

ul.item-pagination {
    padding-left:0;
    margin-left:0;
}

#notes-and-attachments .item-select-link {
    padding:0;
    display:inline;
    position:inherit;
}

#tag-filter-input,
#show-all-tags-label {
    margin-bottom:1em;
    display:block;
}

#show-all-tags-label input[type="checkbox"] {
    float:none !important;
    display:inline !important;
}

label[for='show-all-tags']{
    font-size: 0.8em;
}

td.tags ul {
    list-style:none;
    padding:0;
    margin:0;
}
td.tags li {
    display:inline-block;
}
td.tags a {
    text-decoration:none;
    border-bottom: 1px dotted #aaa;
}

td.tags li:not(:last-child):after {
    content: " · ";
    color: rgba(0,0,0,0.5);
}

#collection-list-container {
    clear: both;
}

#collection-edit-div {
    padding-bottom:1em;
/*    clear:both;*/
}

#collection-list {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-weight:normal;
    font-size: 1.1em;
}

#collection-list a {
    display:block;
    text-decoration:none;
    border-bottom: 1px dotted #ccc;
    padding: 8px;
    color: #16B;
    
    background-image: -webkit-gradient(linear,left top,left bottom,from( #E4E4E4 ),to( #FFFFFF ));
    background-image: -webkit-linear-gradient(top,#E4E4E4,#FFFFFF );
    background-image: -moz-linear-gradient(top,#E4E4E4,#FFFFFF );
    background-image: -ms-linear-gradient(top,#E4E4E4,#FFFFFF );
    background-image: -o-linear-gradient(top,#E4E4E4,#FFFFFF );
    background-image: linear-gradient(top,#E4E4E4,#FFFFFF );
}

#collection-list a:hover {
    background-color: rgba(51,136,204,0.2);
    
    background-image: -webkit-gradient(linear,left top,left bottom,from( #FFFFFF ),to( #E0E0E0 ));
    background-image: -webkit-linear-gradient(top,#FFFFFF,#E0E0E0 );
    background-image: -moz-linear-gradient(top,#FFFFFF,#E0E0E0 );
    background-image: -ms-linear-gradient(top,#FFFFFF,#E0E0E0 );
    background-image: -o-linear-gradient(top,#FFFFFF,#E0E0E0 );
    background-image: linear-gradient(top,#FFFFFF,#E0E0E0 );
}


#collection-list a.current-collection {
    /*text-decoration: underline;*/
    font-weight: bold;
    background-color: rgba(51,136,204,0.2);
}

#collection-list span{
    margin-top:6px;
}

#library-items-div table {
    margin-left:0;
    padding-left:0;
    font-size: 0.857142857em;
}

#library-items-div a {
    text-decoration:none;
}

#library-items-div tbody tr:hover {
    background-color: rgba(51,136,204,0.2);
}

#library-items-div th.clickable:hover {
    background-color: rgba(51,136,204,0.2);
}

#library-items-div div.no-results-message {
    text-align:center;
    margin-top:1em;
}

input.itemlist-editmode-checkbox {
    display:none;
}

/*item details*/
.itemDetailForm td input[type=text] {
    width:75%;
}

/* Groups Page */
ul#group-invitations {
    list-style:none;
}

ul#group-invitations form {
    clear:both;
}

div.group-buttons form {
    float:none;
}

/* == Bookmarklet Page == */
ul#bookmarklet-tabs li {
/*    line-height:16px;*/
    border-right: 1px solid #bbb;
    padding-top: 8px;
    padding-bottom: 10px;
    cursor:pointer;
    list-style-position:inside;
}

ul#bookmarklet-tabs li.selected {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-right: 0px;
}

#bookmarklet-div {
    padding-left:10px;
}
