/* Color Palette
----------------------------------------------------------------------------------------------------------------------
Greys (lighter to darker)
    #eee    : Unselected tabs
    #d5d5d5 : Background
    #555    : h3
    #222    : Body Text

Reds
    #F7CBCA    : Light Red (Message bar errors)
    #900    : Bright Red (h1, a)
    #700    : Darker Red (a:visited)
*/
@media screen {
    
body {
    background-color: #e6e6e6;
    color: #444;
    font:87.5%/1.42857143em "Lucida Grande", Verdana, sans-serif; 
    margin:0;
    padding: 0 0 40px;
    background-image: -webkit-gradient(
        linear, 
        0% 0%, 
        0% 100%, 
        color-stop(0, rgba(0, 0, 0, .1)), 
        color-stop(0.15, rgba(0, 0, 0, .1)), 
        color-stop(0.1501, rgba(0, 0, 0, 0)), 
        color-stop(1, rgba(0, 0, 0, 0))
    );
    
    background-image: -webkit-linear-gradient(
        top, 
        rgba(0, 0, 0, .1),
        rgba(0, 0, 0, .1) 200px,
        rgba(0, 0, 0, 0) 201px,
        rgba(0, 0, 0, 0)
    );
    
    background-image: -moz-linear-gradient(
        top, 
        rgba(0, 0, 0, .1),
        rgba(0, 0, 0, .1) 200px,
        rgba(0, 0, 0, 0) 201px,
        rgba(0, 0, 0, 0)
    );
    background-image: -o-linear-gradient(
        top, 
        rgba(0, 0, 0, .1),
        rgba(0, 0, 0, .1) 200px,
        rgba(0, 0, 0, 0) 201px,
        rgba(0, 0, 0, 0)
    );
    
    background-image: -ms-linear-gradient(
        top, 
        rgba(0, 0, 0, .1),
        rgba(0, 0, 0, .1) 200px,
        rgba(0, 0, 0, 0) 201px,
        rgba(0, 0, 0, 0)
    );
    
    background-image: linear-gradient(
        top, 
        rgba(0, 0, 0, .1),
        rgba(0, 0, 0, .1) 200px,
        rgba(0, 0, 0, 0) 201px,
        rgba(0, 0, 0, 0)
    );
}

body {
    max-width:1060px;
    margin:auto;
}

body.library {
    max-width:1920px;
    margin:0;
}

h2 {
    color: #666;
}

a:link {color: #38c;}
a:visited {color: #38c;}
a:hover {color: #369;}
a:active {color: #333;}

a img {border:none;}

/* Navigation defaults */
nav ul {
    list-style:none;
    padding:0;
    margin:0;
}
nav li {
    display:inline-block;
}

nav a {
    text-decoration:none;
}

/* Table defaults */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
th,
td {
    vertical-align:top;
    text-align:left;
    padding: 4px;
}

th {
    text-transform: capitalize;
    border-bottom: 1px dotted #ccc;
    
}

thead th {
    border-bottom: 2px solid #ccc;
}

td {
    border-bottom: 1px dotted #ccc;
}

td * {
    margin:0 0 1em;
}
tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
}

/* Definition list defaults */
dt {
    font-weight:bold;
}

dd {
    margin-bottom:1em;
    margin-left:0;
}

/* -- Forms -- */
form {
    margin-bottom: 1.6em;
}

fieldset {
    border:none;
    padding:0;
    margin:0;
}

legend {
    margin:0;
    padding:0 0 1em;
    text-indent:0;
    font-weight:bold;
}

form ol,
form ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

form li {
    margin-bottom:1em;
}

label,
input,
select {
    display:block;
}
input[type=text],
input[type=password] {
    display:block;
    padding: 4px;
    border-radius: 4px;
    border:1px solid rgba(0,0,0,0.2);
}

label input[type=checkbox],
label input[type=radio] {
    float:left;
    margin-left:0;
}

form .hint,
#slugpreview {
    font-size: 0.785714286em;
    color: rgba(0,0,0,0.6);
    margin:0;
    display:inline;
}

/**
 * Added because of iframe showing up on registration form, supposedly
 * because of the ReCaptcha field.
 */
iframe[src="about:blank"]{
    display:none;
}

meter {
    width:100%;
}

/* -- Notifications -- */
.messages { 
    font-weight:bold; padding:18px 18px 3px 18px; text-align:center; margin:9px 0px;
}

.messages ul{
    list-style:none;
}

#confirm {background:#CBF7CA;}
#notice {background:#F7F7CA;}
#error {background:#F7CBCA;}

ul#js-message-list {
    list-style:none;
}

li.jsNotificationMessage-confirm {
    background-color:#CBF7CA;
}
li.jsNotificationMessage-notice {
    background-color:#F7F7CA;
}
li.jsNotificationMessage-error {
    background-color:#F7CBCA;
}

/* -- Miscellaneous Classes -- */
.container:after,
form:after,
.action-links:after,
.nugget-user:after,
.plugin_translation:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.center {
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}

.deck {
    font-style:normal;
    font-weight:bold;
    font-size: 0.857142857em;
    color: #999;
}

.paginationControl {
    font-size: 0.857142857em;
}

.sticky-note ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

.sticky-note li {
    margin-bottom:1em;
}

a#screencast-link {
    display:block;
}
#screencast-link img {
    max-width:100%;
}

input[type=submit],
input[type=button],
button,
a.button,
input.button {
    border-width: 1px;
    border-style:solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-image: -webkit-gradient(
        linear, 
        0% 0%, 
        0% 100%, 
        color-stop(0, rgba(255, 255, 255, .05)), 
        color-stop(0.5, rgba(255, 255, 255, .25)), 
        color-stop(0.5001, rgba(255, 255, 255, 0)), 
        color-stop(1, rgba(255, 255, 255, 0))
    );
    
    background-image: -webkit-linear-gradient(
        top, 
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: -moz-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    background-image: -o-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: -ms-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    text-shadow:-1px -1px 1px rgba(0,0,0,0.2);
    text-align:center;
    color: #fff;
    font-weight:bold;
    background-color: #800;
    border-color: #800;
    border-radius: 4px;
    padding:4px 8px;
    text-decoration:none;
}

a.button:link,
a.button:visited {
    color:#fff;
}

input[type=submit]:hover,
button:hover,
a.button:hover,
input.button:hover {
    background-color: #900;
    border-color: #900;
    color: #fff;
    cursor:pointer;
}

input[type=submit]:active,
button:active,
a.button:active,
input.button:active {
    background-color: #a00;
    border-color: #a00;
    color: #fff;
}

.button img {
    vertical-align:middle;
}

.action-links {
    margin-bottom:1.42857143em;
}
.action-links a {
    text-decoration:none;
    border-bottom: 1px dotted #aaa;
    padding-bottom: 3px;
}
.action-links li:not(:last-child):after {
    content: " · ";
    color: rgba(0,0,0,0.5);
    padding: 0 0.2em;
}

.action-links li.selected a {
    border-bottom: 2px solid #555;
    color: #555;
}

.clickable {
    cursor:pointer;
}

/* Nuggets!!!!!! */

.nugget-full {
    margin-bottom: 1.42857143em;
}

.nugget-full img {
    float:left;
}
.nugget-full .nugget-name {
    font-size:1.42857143em;
    font-weight:bold;
    margin-bottom:0.5em;
}

.nugget-full .nugget-name a {
    text-decoration:none;
}

.nugget-full .nugget-name,
.nugget-full .nugget-affiliation,
.nugget-full .action-links,
.nugget-full dl {
}

.nugget-small img {
    float:left;
}

.nugget-small .nugget-affiliation,
.nugget-small .nugget-name {
    margin-left: 60px;
}

.nugget-small .nugget-affiliation {
    font-size: 0.785714286em;
    color: #999;
}

#group-library-link-nav a {
    font-weight:bold;
}

/* == Header == */
header .center {
    padding-top: 20px;
    position:relative;
}

#logohead {
    float:left;
    clear:left;
    margin:0 0 1em;
}

#logohead {
}

#logohead img {
    max-width: 100%;
}

#purchase-storage-link,
#login-links {
    float:right;
    text-align:right;
    clear:right;
}

#purchase-storage-link {
    background-color: #38c;
    border-color: #38c;
    color: #fff;
    text-decoration:none;
    border-radius: 6px;
    display:block;
    line-height: 2;
    font-size:0.857142857em;
}

#purchase-storage-link img {
    vertical-align:middle;
    width: 24px;
    padding-right: 6px;
}

#login-links {
    font-size:0.857142857em;
    margin-bottom:10px;
}

#login-links a {
    text-decoration:none;
    font-weight:bold;
}

#login-links a:not(:last-child):after {
    content: " · ";
    color: #999;
    text-decoration:none;
    padding: 0 2px;
}

#navbar {
    list-style:none;
    background: #333;
    padding:0 10px;
    font-size:0.857142857em;
    font-weight:bold;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    clear:both;
}

#sitenav {
    float:left;
}

#sitenav ul {
    margin:0;
    padding:0;
    word-spacing:0;
    line-height:3;
}
#sitenav li {
    display:inline-block;
    margin:0;        
}

*:first-child+html #sitenav li {
    display:inline;
}

#sitenav a {
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    padding: 15px 12px 12px;
}

#sitenav a:link,
#sitenav a:visited {
    color: #eee;
}
#sitenav a:hover,
#sitenav a:active {
    color: #fff;
}

#sitenav .selected a {
    background: #fff;
    color: #333;
    box-shadow:0 -1px 1px rgba(0,0,0,0.1);
}

#simple-search {
    float:right;
    text-align:right;
    clear:right;
    line-height: 3;
    margin:0;
}

#simple-search input {
    display:inline;
    margin:0;
}

#simple-search .button {
    background-color: #aaa !important;
    border-color: #aaa !important;
}

/* == Content == */
#content .center {
    background: #fff;
    padding: 16px 40px 0;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.major-col {
    float:left;
    width: 66%;
}

.minor-col {
    float:right;
    width: 31%;
}

#breadcrumbs,
.action-links {
    font-size:0.857142857em;
}

/* == Homepage, not logged in == */
#zotero-banner {
    font-size:115%;
    float:left;
    width: 65%;
    margin-bottom: 40px;
    line-height: 150%;
}

#download {
    width: 31%;
    float:right;
    display:block;
    text-decoration:none;
    padding: 20px 0;
    font-size: 1.8em;
    font-weight:bold;
    color: #fff;
    border-radius: 10px;
}

#download:link,
#download:visited {
    border-color: #a00;
    background-color: #a00;
}

#download:hover,
#download:active {
    border-color: #c00;
    background-color: #c00;
}
#features {
    clear:both;        
    padding: 40px;
    margin: 0 -40px;
    border: 5px solid rgba(255,255,255, 0.5);
    background:rgba(51,136,204,0.2);
    border-width: 5px 0 0;
}

#features h3 {
    font-size:1.5em;
    text-align:center;
}

#features-tabs {
    list-style:none;
    text-align:center;
    margin: 0 0 1em;
    padding:0;
    font-size:1.14285714em;
    font-weight:bold;
}

#features-tabs li {
    display:inline-block;
    margin:0;
}

#features-tabs a {
    text-decoration:none;
    padding: 14px;
    line-height: 40px;
    position:relative;
    vertical-align:middle;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

*:first-child+html #features-tabs li {
    display:inline;
}

#features-tabs a:link,
#features-tabs a:visited {
    color:rgba(51,136,204,0.8);
    background-color: transparent;
}

#features-tabs a:hover,
#features-tabs a:active {
    background:rgba(51,136,204,0.1);
}

#features-tabs a.selected {
    background:rgba(51,136,204,0.2);
}

#features-tabs a img {
    vertical-align:middle;
}

#features-lists {
    max-width: 960px;
    margin-left:auto;
    margin-right:auto;
}

.feature h3 {
    font-weight:bold;
    margin-bottom:1em;
}

.feature img {
    background-color:rgba(0,0,0,0.1);
    padding: 5px;
    margin-bottom: 10px;
    float:left;
    margin-right: 10px;
}

#features-lists .feature:nth-child(2n) img {
    float:right;
    margin-left: 10px;
    margin-right:0;
}

#media {
    padding: 40px 0;
}

#media h2 {
    margin-top:0;
}

#media > div {
    float:left;
    width: 31%;
    margin-right: 3%;
    padding-bottom: 1em;
}

.news-list {
    list-style:none;
    margin:0;
    padding:0;
}

#connect ul {
    list-style:none;
    line-height: 2;
    margin:0;
    padding:0;
}

#connect li {
    margin-bottom:1em;
}
#connect a {
    text-decoration:none;
    font-weight:bold;
}

#connect a img {
    vertical-align:middle;
    margin-right: 8px;
    opacity: 0.75;
    width: 40px;
    height: 40px;
}

#connect a:hover img,
#connect a:active img {
    opacity:1;
}

#get-involved {
    margin-right: 0 !important;
}

/* == Homepage, logged in == */
#download-logged-in {
    float:right;
    display:block;
    margin-left: 5%;
}

#profile-widget .nugget-user {
    float:left;
    margin-right: 10px;
}

#profile-widget h1 {
    margin-bottom:0.25em;
}

.home-widget {
    background: rgba(0,0,0,0.035);
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2em;
    word-wrap: break-word;
}

#widgets-form,
#news-feed-form {
    float:left;
    width: 48%;
}

#news-feed-form {
    float:right;
}
.home-widget form li {
    list-style:none;
    padding-left:0;
}

.home-widget table,
.home-widget p,
.home-widget ul,
.home-widget ol,
.home-widget meter {
    font-size: 0.857142857em;
    margin: 1.66666667em 0;
}

.home-widget table {
    margin: 1em 0;
}

.home-widget h2 {
    margin:-10px -10px 0;
    padding: 10px;
    background: rgba(0,0,0,0.05);
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    font-size:1em;
    line-height:1em;
}

.home-widget-title .widget-title-text {
    vertical-align:middle;
}

h2 .ui-button {
    height: 1.4em !important;
    width: 1.4em !important;
    float:right;
}

.home-widget-edit {
    margin: 0 -10px !important;
    padding: 10px 10px 0;
    background: rgba(0,0,0,0.05);
}

.home-widget-edit .widget-actions {
    padding-bottom:1em;
}
.home-widget ul {
    list-style:none;
    padding-left:0;
}

.home-widget li {
    padding: 8px 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
}

.home-widget li:last-child {
    border:none;
}

.home-widget li img {
    vertical-align:middle;
    margin-right: 4px;
}

/* == User Pages == */
#profile-picture {
    float:left;
    width: 50px;
    margin-right: 8px;
}

#profile-picture img {
    max-width: 100%;
}

/* == User Library == */
#library .minor-col{
    float:left;
}

#library .major-col{
    float:right;
}

#collection-list-div ul {
    list-style:none;
    margin:0;
    padding:0;
}

#collection-list-div ul ul {
    margin-left: 1em;
}

#library-items-div th {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-align: center;
}

#library-items-div th:not(:last-child) {
    border-right:1px dotted rgba(0,0,0,0.2);
}

#library-items-div td * {
    margin: 0;
}

.sprite-icon {
    float: left;
    margin-right: 5px;
}

.item-select-link {
    position: relative;
    padding-left: 20px;
    /*display: block;*/
}
.item-select-link span.sprite-icon {
    position: absolute;
    top: 0;
    left: 0;
}

span.localized-date-span {
    white-space: nowrap;
    display: inline-block;
}

#items-pane td[data-itemkey]:not(.edit-checkbox-td) {
    cursor: pointer;
    max-width: 50%;
    word-wrap:break-word;
}

#control-panel-container {
    padding-bottom:1em;
/*    clear:both;*/
}

#control-panel form{
    margin-bottom:0;
}

.creator-input-div {
    margin:0;
    line-height:1.4em;
}

.creator-input-div input {
    float:left;
}
.creator-input-div span.creator-separator {
    float:left;
    margin-top:.42857143em;
    margin-right: 4px;
}

.itemDetailForm input {
    margin-right:2px;
}

td.creator * {
    margin:0 2px .25em;
}

.edit-tag-div {
    margin:0;
    line-height:1.4em;
}

.edit-tag-div input {
    float:left;
}
.edit-tag-div span {
    float:left;
}
.taginput{
    clear:left;
}

td.tags * {
    margin:0 2px .25em;
}

#library-settings-div {
}

#item-pagination-div li{
    display:inline-block;
}

#item-pagintation-div a.paginator{
    display:inline-block;
}
#item-pagination-div li:not(:last-child):after{
    content: " · ";
}

/* == Item Details == */
ul#notes-and-attachments {
    list-style:none;
}

ul#notes-and-attachments li {
    margin-top: 5px;
}


/* == Login page == */
#login fieldset {
    display:block;
    float: left;
    width: 48%;
}

#login fieldset:not(:last-child) {
    margin-right: 4%;
}

/* == Registration page == */
#register #form-description {
    float:right;
    width: 48%;
}

#register form {
    margin-right: 52%;
}

#register input[type=text] {
    width: 50%;
    min-width: 200px;
}

/* == Library styles == */

#tags-list,
#selected-tags-list {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-weight:normal;
    /*font-size: 0.857142857em;*/
    font-size: 0.8em;
}

#selected-tags-list {
    margin-bottom:-1em;
}

#tags-list a,
#selected-tags-list a {
    /*display:block;*/
    text-decoration:none;
    /*border-bottom: 1px dotted #ccc;*/
    padding: 5px;
    color: #16B;
    
    border:1px solid #ccc;
    border-radius:10px;
    margin:5px 0px 5px 2px;
}

#tags-list li,
#selected-tags-list li {
    display:list-item;
    float:left;
    margin-bottom:8px;
}
/*
#tags-list a span,
#selected-tags-list a span {
    float:right;
    text-align:right;
}
*/
#tags-list a:hover,
#tags-list a:active {
    background-color: rgba(51,136,204,0.2);
}

#selected-tags-list a:link,
#selected-tags-list a:visited {
    background-color: #fff09e;
    color: #444;
}

#selected-tags-list a:hover,
#selected-tags-list a:active {
    background-color: #fff09e;
    color: #900;
}

label[for='show-all-tags']{
    font-size: 0.8em;
}

#more-tags-links {
    clear: both;
}

#tag-lists-container {
/*    overflow:scroll;
    max-height:300px;
    */
}

td.tags ul {
    list-style:none;
    padding:0;
    margin:0;
}
td.tags li {
    display:inline-block;
}
td.tags a {
    text-decoration:none;
    border-bottom: 1px dotted #aaa;
}

td.tags li:not(:last-child):after {
    content: " · ";
    color: rgba(0,0,0,0.5);
}

#collection-list-container {
    clear: both;
}

#collection-edit-div {
    padding-bottom:1em;
/*    clear:both;*/
}

#collection-list {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-weight:normal;
    font-size: 0.857142857em;
}

#collection-list a {
    display:block;
    text-decoration:none;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    color: #16B;
}

#collection-list a:hover,
#collection-list a:active {
    background-color: rgba(51,136,204,0.2);
}


#collection-list a.current-collection {
    /*text-decoration: underline;*/
    font-weight: bold;
    background-color: rgba(51,136,204,0.2);
}

#collection-list span{
    margin-top:6px;
}

#library-items-div table {
    margin-left:0;
    padding-left:0;
    font-size: 0.857142857em;
}

#library-items-div a {
    /*display:block;*/
    text-decoration:none;
}
/*
#library-items-div a:hover,
#library-items-div a:active {
    background-color: rgba(51,136,204,0.2);
}
*/
#library-items-div tbody tr:hover {
    background-color: rgba(51,136,204,0.2);
}

#library-items-div th.clickable:hover {
    background-color: rgba(51,136,204,0.2);
    cursor:pointer;
}

#library-items-div div.no-results-message {
    text-align:center;
    margin-top:1em;
}

/* == Settings styles == */

/* == People page == */

#user-follow-list {
    list-style:none;
    padding-left:0;
}

.people-tiny-nuggets .nugget-user {
    float:left;
    margin-right: 5px;
}

#people-discipline ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-weight:bold;
    font-size: 0.857142857em;
    float:left;
    width: 48%;
}

#people-discipline ul.last {
    float:right;
}
#people-discipline a {
    display:block;
    text-decoration:none;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}

#people-discipline a:hover,
#people-discipline a:active {
    background-color: rgba(51,136,204,0.2);
}

.people-in-disciplines {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

.people-in-disciplines li {
    padding: 0 0 9px;
    border-bottom: 1px dotted #ccc;
    margin-bottom:10px;
}

.people-in-disciplines li:last-child {
    border:none;
    margin-bottom:0;
}

/* == Groups pages == */

ul#groups {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

ul#groups > li {
    margin-bottom: 1.42857143em;
}

ul#groups th {
    width: 25%;
}

/* New Group Form */
.group-select {
    border-radius: 10px;
    width:27%;
    float:left;
    margin-right: 3%;
    padding: 2%;
    background-color: rgba(0,0,0,0.05);
}

.group-select:last-child {
    margin-right:0;
}

.group-select h2 {
    font-size:1em;
    color: #333;
    margin: 0 0 1em;
}

.group-select p,
.group-select label {
    font-size: 0.857142857em;
}

.group-select input,
.group-select label {
    display:inline;
    font-weight:bold;
}

/* Messages Page */
#contact-section { padding-top:100px}
#contact-list { width:150px }
#inbox-spinner {display:none}

.message-row  {font-weight:bold;}
.message-body { background-color:#FFF; padding:10px; display:none;}
.read-message { background-color:#EAEAEA; font-weight:normal}

.group-message-body {margin-left:5px; margin-top:10px; margin-bottom:10px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; overflow:auto}
.author-link {margin-right:30px; font-weight:bold}

/* Admin Dashboard */
.admin-message-type-emerg  {background-color:#3000ff;}
.admin-message-type-alert  {background-color:#9300ae;}
.admin-message-type-crit   {background-color:#d90042;}
.admin-message-type-err    {background-color:#ff1009;}
.admin-message-type-warn   {background-color:#fbd438;}
.admin-message-type-notice {background-color:#84de40;}
.admin-message-type-info   {background-color:#79d6aa;}
.admin-message-type-debug  {background-color:#c0ecd8;}
.admin-quicklink {width:100%; padding:5px; display:block; color:#FFF !important; text-align:center; font-size:14px; font-weight:bold;}
.admin-message { padding:5px; position:relative; min-height:7px; margin-bottom:3px; }
.admin-message-date { position:absolute; top:6px; right:15px; overflow:none; width:125px; text-align:right;}
.admin-message-title { overflow:hidden; white-space:nowrap; width:435px; font-weight:bold; margin-bottom:2px; cursor: pointer;}
.admin-message-body { background-color:#FFF; padding:10px; display:none;}
.admin-trace {overflow: auto; white-space:nowrap; }
.admin-value { font-family: monospace;}
.admin-message-body tr {border-bottom:1px solid #eee;}
.admin-message-body th { width:175px; }
.admin-message-body th, .admin-message-body td { border:0px; padding:0px;}
.admin-noresults {text-align:center; padding:100px;}
.admin-search-form {margin:18px 0px;}
.admin-pagination { text-align:center; position:relative; width:100%; margin:9px 0px;}
.admin-pagination-next {position:absolute; right:0px; bottom:0px;}
.admin-pagination-prev {position:absolute; left:0px; bottom:0px;}

/* Admin User Storage */
.checkout-notification {border:1px solid #ccc; margin-top:7px; background-color:#ddd}

.Role_2 {background-color:#fcc}






/* == Footer == */
footer .center {
    background: #555;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    color: #fff;
    border-top: 5px solid #777;
}

footer p,
footer ul {
    color: #ccc;
    color: rgba(255,255,255,0.5);
    font-size:0.857142857em;
}

footer a:link,
footer a:visited {
    color: #ccc;
    color: rgba(255,255,255, 0.5);
}

footer a:hover,
footer a:active {
    color: #ddd;
    color: rgba(255,255,255, 0.75);
}

#chnm-logo {
    float:right;
}

footer nav,
footer p {
    float:left;
    clear:left;
    width: 60%;
}

footer nav a {
    font-weight:bold;
}
/*
footer nav li {
    padding: 0 0.2em;
}*/
footer nav li:not(:last-child):after {
    content: " · ";
    color: rgba(255,255,255,0.25);
}

.left {
    float:left;
}

.right {
    float:right;
}

.spinner {
    display:block;
    clear:both;
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    margin-bottom:2em;
}

/* == IE7 Hacks == */
*:first-child+html .container,
*:first-child+html form,
*:first-child+html .action-links {
    min-height:1px;
}

*:first-child+html nav a {
    display:inline;
}

}

@media screen and (max-width: 920px) {
    body {
        background-image:none;
    }
    
    #sitenav ul {
    }
    
    #sitenav a {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 1040px) {
    body {
        background-image:none;
        min-width: 840px;
    }
    
    header {
        margin-left:10px;
        margin-right: 10px;
    }
    .center {
        width: auto !important;
        margin-left:0;
        margin-right:0;
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        border-radius:0 !important;
        min-width:0 !important;;
    }
}






@media screen and (max-width: 480px) {
  #minor-panel {
    display:none;
  }
  
  #major-panel {
    width:100%;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
  }
  
  body {
    min-width:300px;
  }
}

@media screen and (min-width: 481px) {
  #minor-panel {
    width: 33%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
  }

  #major-panel {
    width:67%;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
  }
  
  body {
    min-width:300px;
  }
}

div.dialogPanel {
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  z-index:1000;
}

div.minorPanelActive{
  display:block !important;
}

div.majorPanelActive{
  display:block !important;
}

body {
  visibility: hidden;
}

.ui-mobile body {
  visibility: visible;
}

.ui-panel-left {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
}

.ui-panel-right {
  position:absolute;
  right:0;
  top:0;
  bottom:0;
}

.ui-border-right {
  border-right: 1px solid;
  z-index: 100;
}

.ui-crumbs {
  max-width: 25%;
}

.splitview .ui-splitview-hidden {
  display:none;
}

.splitview.min-width-480px body {
  margin: 0;
}

.splitview.min-width-480px .ui-page{
  bottom: 0;
}

.splitview.min-width-480px .ui-header {
  position:absolute;
  top:0;
  bottom:auto; 
  left:0;
  right:0;
}

.splitview.min-width-480px .ui-footer {
  position:absolute;
  top:auto;
  bottom:0;
  left:0;
  right:0;
}

.splitview.min-width-480px .ui-content {
  position:absolute;
  top:40px;   /*TODO: need to dynamically set this and bottom when we use dynamic toolbars later*/
  bottom:0;
  left:0;
  right:0;
  overflow: auto;
}
