/* Color Palette
----------------------------------------------------------------------------------------------------------------------
Greys (lighter to darker)
    #eee    : Unselected tabs
    #d5d5d5 : Background
    #555    : h3
    #222    : Body Text

Reds
    #F7CBCA    : Light Red (Message bar errors)
    #900    : Bright Red (h1, a)
    #700    : Darker Red (a:visited)
*/
/*
ul.plain-list {list-style:none;}
*/
/* Table defaults */
/*
table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
th,
td {
    vertical-align:top;
    text-align:left;
    padding: 4px;
}

th {
    text-transform: capitalize;
    border-bottom: 1px dotted #ccc;
    
}

thead th {
    border-bottom: 2px solid #ccc;
}

td {
    border-bottom: 1px dotted #ccc;
}

td * {
    margin:0 0 1em;
}
tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
}
*/
/* -- Notifications -- */
.messages { 
    font-weight:bold; padding:18px 18px 3px 18px; text-align:center; margin:9px 0px;
}

.messages ul{
    list-style:none;
}

#confirm {background:#CBF7CA;}
#notice {background:#F0F079;}
#error {background:#F7CBCA;}

ul#js-message-list {
    list-style:none;
}

li.jsNotificationMessage-confirm {
    background-color:#CBF7CA;
}
li.jsNotificationMessage-notice {
    background-color:#F7F7CA;
}
li.jsNotificationMessage-error {
    background-color:#F7CBCA;
}

.clickable {
    cursor:pointer;
}


.left {
    float:left;
}

.right {
    float:right;
}
.spinner {
    display:block;
    clear:both;
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    margin-bottom:2em;
}
