//
// Variables
// --------------------------------------------------


// Typography
// --------------------------------------------------


$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif; // todo: BlinkMacSystemFont
$font-family-base:       $font-family-sans-serif;

$font-size-base: 14px;

$line-height-base: 1.429;


// Dimensions
// --------------------------------------------------

$space-min:    4px;
$space-xs:     8px;
$space-sm:    12px;
$space-md:    16px;
$space-thumb: 42px;


// Grid breakpoints
// --------------------------------------------------

$grid-breakpoints: (
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px
);


// Z-index master list

$z-index-mobile-nav:  0;
$z-index-navbar-bg:  10;
$z-index-main:       10;
$z-index-navbar:     20;


// Navbbar
// --------------------------------------------------

$navbar-height-xs:          $space-thumb;
$navbar-height-sm:          64px;
$navbar-font-size:          16px;
$navbar-margin-bottom:      $space-min;
$navbar-padding-horizontal: $space-md;
$navbar-padding-top:        21px;
$navbar-padding-bottom:     21px;
$navbar-active-indicator:   3px;
$navbar-breakpoint:         map-get($grid-breakpoints, sm);
$navbar-nav-mobile-width:   240px;
$icon-bar-width:            24px;
$icon-bar-height:           2px;
$icon-bar-spacing:          6px;


// Navbbar brand
// --------------------------------------------------

$navbar-brand-width-xs:  72px;
$navbar-brand-height-xs: 17px;
$navbar-brand-width-sm:  96px;
$navbar-brand-height-sm: 22px;


// Sidebar
// --------------------------------------------------

$sidebar-width-sm: 320px;
$sidebar-width-md: 25%;
$sidebar-width-lg: 280px;


// Item details
// --------------------------------------------------

$item-details-width-lg: 360px;