//
// Variables
// --------------------------------------------------


// Dimensions
// --------------------------------------------------

$space-min:    4px;
$space-xs:     8px;
$space-sm:    12px;
$space-md:    16px;
$space-lg:    24px;
$space-xl:    32px;
$space-xxl:   48px;
$space-max:   64px;

$space-thumb: 42px;


// Typography
// --------------------------------------------------

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:  Menlo, Consolas, monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-small:  12px;
$font-size-base:   13px;
$font-size-mobile: 16px;

$font-size-lg: 16px;

$font-size-h1: 20px;
$font-size-h2: 16px;
$font-size-h3: 14px;

$line-height-base:            1.539;
$line-height-computed:        round($font-size-base * $line-height-base);

$line-height-base-mobile:     1.5;
$line-height-computed-mobile: floor($font-size-mobile * $line-height-base);

// todo: line-height-small
$line-height-large: 26px;
$line-height-large-touch: $space-thumb;

$link-hover-decoration: underline;

$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.2;


// Components
// --------------------------------------------------

$padding-x-sm: $space-sm;
$padding-x-md: $space-md;

$default-padding-x:       $space-sm;
$default-padding-x-touch: $space-md;

$border-radius:    4px;
$border-radius-sm: 3px;
$border-radius-lg: 6px;

$border-width: 1px;

$separator-width: 1px;


// Transitions
// --------------------------------------------------

$nav-transition-duration: 0.5s;

$mobile-navbar-nav-transition: $nav-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
$nav-transition: $nav-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
$twisty-transition: 0.1s ease;
$fade-transition-duration: 0.25s;
$fade-transition: $fade-transition-duration ease-in-out;
$nav-fade-transition: $nav-transition;
$creator-color-transition: .5s cubic-bezier(1,0,.5,.5);
$creator-color-transition-delay: .1s;

// Grid
// --------------------------------------------------

$grid-columns: 12;


// Grid breakpoints
// --------------------------------------------------

$grid-breakpoints: (
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px
);


// Z-index master list

$z-index-mobile-nav:          0;
$z-index-rich-editor-touch:  20;
$z-index-details-drilldown:  20;
$z-index-search-backdrop:    20;
$z-index-hairline:           20;
$z-index-search-bar:         30;
$z-index-touch-side-footer:  30;
$z-index-touch-tag-selector: 40;
$z-index-level:              30;
$z-index-level-active:       40;
$z-index-navbar:             40;
$z-index-menu:               50;
$z-index-popover:			 60;
$z-index-modal:              60;
$z-index-errors:             70;
$z-index-loading-cover:      80;
$z-index-drag-layer:        100;


// Navbbar
// --------------------------------------------------

$navbar-height-xs:            $space-thumb;
$navbar-height-sm:            $space-max;
$navbar-font-size:            $space-md;
$navbar-margin-bottom:        $space-min;
$navbar-padding-x:            $space-sm;
$navbar-padding-x-touch:      $space-xl;
$navbar-padding-y:            $space-sm;
$navbar-padding-y-touch:      $space-sm;
$navbar-padding-top:          21px;
$navbar-padding-bottom:       21px;
$navbar-breakpoint:           map-get($grid-breakpoints, lg);
$navbar-toggle-padding-x:     $space-md;
$icon-bar-width:              $space-lg;
$icon-bar-height:             2px;
$icon-bar-spacing:            6px;
$navbar-nav-mobile-width:     280px;
$content-transform:           -$navbar-nav-mobile-width;
$mobile-navbar-nav-transform: translate3d(25%, 0, 0);
$search-width:                240px;


// Navbbar brand
// --------------------------------------------------

$navbar-brand-width-xs:  84px; // 7/8 of full size
$navbar-brand-height-xs: 22px;
$navbar-brand-width-sm:  96px;
$navbar-brand-height-sm: 26px;


// Sidebar
// --------------------------------------------------

$sidebar-width-sm:       320px;
$sidebar-width-md:       25%;
$sidebar-width-md-touch: 320px;
$sidebar-width-lg:       280px;
$sidebar-width-lg-touch: 25%;


// Collection tree
// --------------------------------------------------

$collection-tree-padding-left:         $space-md;
$collection-tree-padding-x:            $space-sm;
$collection-tree-padding-x-touch:      $space-md;
$collection-tree-indent:               $space-sm;
$collection-tree-max-levels:           10;
$collection-tree-section-spacing:      20px;
$collection-tree-picker-padding-left:  $space-lg;


// Items & item list/table
// --------------------------------------------------

$item-list-row-height:     61px;
$item-list-padding-top:    ($space-sm - 5px); // Hairline
$item-list-padding-bottom: ($space-sm - 6px);
$item-list-padding-x:      $default-padding-x-touch;
$item-list-padding-right:  39px;

$item-table-head-height: $space-lg;
$item-table-row-height:  $line-height-large;


// Toolbar
// --------------------------------------------------

$toolbar-height:       $line-height-large + $space-min;
$toolbar-height-touch: $line-height-large-touch;


// Item details
// --------------------------------------------------

$item-details-width-lg:       360px;
$item-details-width-lg-touch: 33vw;
$info-view-font-size:         20px;


// Tabs
// --------------------------------------------------

$tabs-height:            $line-height-large + $space-min;
$tabs-height-touch:      $space-thumb;
$tabs-padding-x:         $space-md;
$tabs-compact-padding-x: $default-padding-x;


// Metadata list
// --------------------------------------------------

$metadata-list-margin-x-touch:     20px; // todo
$metadata-list-line-height:        $space-lg; // Define in px
$metadata-list-line-height-sm:     28px;
$metadata-list-gutter:             $space-sm;
$metadata-list-gutter-mobile:      $space-md;
$metadata-list-offset:             33%;
$metadata-handle-offset:           20px;


// Creators
// --------------------------------------------------
$creators-last-name-max-width:       67%;
$creators-value-padding-right-touch: 31px;


// Note list
// --------------------------------------------------

$note-list-padding-top:    ($space-sm - 5px); // Hairline
$note-list-padding-bottom: ($space-sm - 6px);


// Icon
// --------------------------------------------------

$icon-spin-size-sm: $space-md;
$icon-spin-size-md: $space-lg;
$icon-spin-size-lg: $space-xl;


// Buttons & forms
// --------------------------------------------------

$input-btn-height-touch:    $line-height-large-touch;
$input-btn-padding-x:       $space-xs;
$input-btn-padding-x-touch: $space-xs;
$input-btn-padding-y:       2px;
$input-btn-padding-y-touch: $space-xs;
$input-btn-padding-x-lg:    $space-sm;
$input-btn-padding-y-lg:    5px;
//$input-btn-padding-x-lg:    $space-md;
//$input-btn-padding-y-lg:    11px;
//$input-btn-padding-x-sm:    $space-sm;
//$input-btn-padding-y-sm:    3px;

$input-border-width: $border-width;

$input-btn-focus-width: 2px;

$input-btn-border-radius: $border-radius-sm;

$input-btn-transition: 0.15s ease;


// Forms
// --------------------------------------------------

$form-group-margin:       $space-sm;
$form-group-margin-touch: 20px; // todo
$input-border-radius:     $input-btn-border-radius;

$form-grid-gutter-width: $space-xs;

$icon-spin-spacing-lg:
	(
		floor($font-size-lg * $line-height-base)
		+ 2 * $input-btn-padding-y-lg
		+ 2 * $input-border-width
		- $icon-spin-size-sm
	) * 0.5;

$input-transition: 0.15s ease;


// Outline
// --------------------------------------------------

$outline-width:  $input-btn-focus-width + $border-width;
$outline-offset: 2px;


// Editable
// --------------------------------------------------

$editable-border-width:  $outline-width;
$editable-padding:       2px;
$editable-border-radius: 3px;


// Dropdown
// --------------------------------------------------

$menu-border-radius: $border-radius-sm;
$dropdown-item-padding-x-touch: $space-md;
$dropdown-item-padding-y-touch: 9px;

// Auto resizer
// --------------------------------------------------

$auto-resizer-vertical-rows: 1;


// Modal
// --------------------------------------------------

$modal-header-height:        $space-thumb;
$modal-header-padding:       $space-md;
$modal-inner-padding:        $space-md;
$modal-md:                   444px;
$modal-lg:                   800px;
$modal-xl:                   1140px;
$modal-title-font-size:      $font-size-h1;
$modal-border-radius:        $border-radius-lg;
$modal-exit-transition-xs:   0.2s linear;


// Abstract
// --------------------------------------------------

$abstract-margin-x-touch: $metadata-list-margin-x-touch;


// Touch header & footer
// --------------------------------------------------

$touch-header-height: $line-height-large-touch + 2 * $border-width;
$touch-footer-height: $touch-header-height;


// Errors
// --------------------------------------------------

$error-width: 320px;
$error-spacing: $space-xs;
$permanent-scrollbar-width: 15px;


// Rich editor
// --------------------------------------------------

$bp-sub-sup-sm:         874px;
$bp-sub-sup-lg:         1678px;
$bp-remove-format-lg:   1270px;
$bp-blockquote-link-sm: 830px;
$bp-blockquote-link-lg: 1544px;
$bp-lists-sm:           815px;
$bp-lists-lg:           1500px;


// Note styles
// --------------------------------------------------

$note-h1-font-size: 1.5em;  /* h1–h3 sizing is interpolated */
$note-h2-font-size: 1.28em;
$note-h3-font-size: 1.1em;  /* h4–h6 sizing is linear */
$note-h4-font-size: 1em;
$note-h5-font-size: 0.9em;
$note-h6-font-size: 0.8em;

$note-h1-margin: 0.79em;
$note-h2-margin: 0.98em;
$note-h3-margin: 1.19em;
$note-h4-margin: 1.31em;
$note-h5-margin: 1.53em;
$note-h6-margin: 1.72em;

$note-line-height-base: 1.33;

$note-headings-font-weight: 700;


// Tag selector
// --------------------------------------------------

$tag-selector-height:           33%;
$tag-selector-collapsed-height: 9px;
$tag-padding-x:                 6px;
$tag-border-radius:             $border-radius-sm;


// Popover
// --------------------------------------------------

$popover-max-width:        400px;
$popover-header-padding-y: $space-xs;
$popover-header-padding-x: $space-sm;
$popover-body-padding-y:   $space-xs;
$popover-body-padding-x:   $space-sm;
$popover-header-font-size: 14px;
$popover-border-radius:    $border-radius-sm;
$popover-arrow-width:      $space-md;
$popover-arrow-height:     $space-xs;
$popover-border-width:     $border-width;


// Badge
// --------------------------------------------------

$badge-font-size:        75%;
$badge-font-size-mobile: 100%;
$badge-font-weight:      700;
$badge-padding-y:        0.25em;
$badge-padding-y-mobile: 0.1em;
$badge-padding-x:        0.4em;
$badge-padding-x-mobile: 0.4em;
$badge-border-radius:    $border-radius;

$badge-pill-padding-x:     0.5em;
$badge-pill-border-radius: 10rem;


// Scrollbar
// --------------------------------------------------

$scrollbar-size: $space-sm;


// Identifier picker
// --------------------------------------------------

$result-padding:      $space-md;

// match popups from reader
$reader-popup-border-radius: 5px;
$reader-popup-padding: 5px 0;

$tagColorsLookup: (
	'#ff6666': --tag-red,
	'#ff8c19': --tag-orange,
	'#999999': --tag-gray,
	'#5fb236': --tag-green,
	'#009980': --tag-teal,
	'#2ea8e5': --tag-blue,
	'#576dd9': --tag-indigo,
	'#a28ae5': --tag-purple,
	'#a6507b': --tag-plum,
);

// When a color with an alpha channel is used as `fill` in an SVG, it doesn't
// seem to be mixed correctly with the HTML background. Instead, we're using
// these pre-calculated opaque colors.
$tagColorsLookupItemsTable: (
	'#ff6666': --tag-red-on-background,
	'#ff8c19': --tag-orange-on-background,
	'#999999': --tag-gray-on-background,
	'#5fb236': --tag-green-on-background,
	'#009980': --tag-teal-on-background,
	'#2ea8e5': --tag-blue-on-background,
	'#576dd9': --tag-indigo-on-background,
	'#a28ae5': --tag-purple-on-background,
	'#a6507b': --tag-plum-on-background,
);
