//
// Variables
// --------------------------------------------------


// Dimensions
// --------------------------------------------------

$space-min:    4px;
$space-xs:     8px;
$space-sm:    12px;
$space-md:    16px;
$space-lg:    24px;
$space-xl:    32px;
$space-xxl:   48px;
$space-max:   64px;

$space-thumb: 42px;


// Typography
// --------------------------------------------------

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;

$font-size-small:  12px;
$font-size-base:   13px;
$font-size-mobile: 16px;

$font-size-lg: 16px;

$font-size-h1: 20px;
$font-size-h2: 16px;


$line-height-base:            1.539;
$line-height-computed:        round($font-size-base * $line-height-base);
$line-height-computed-mobile: floor($font-size-mobile * $line-height-base);

// todo: line-height-small
$line-height-large: 26px;
$line-height-large-touch: $space-thumb;

$link-hover-decoration: underline;

$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.2;


// Components
// --------------------------------------------------

$padding-x-sm: $space-sm;
$padding-x-md: $space-md;

$default-padding-x:       $space-sm;
$default-padding-x-touch: $space-md;

$border-radius:    4px;
$border-radius-sm: 3px;
$border-radius-lg: 6px;

$border-width: 1px;

$separator-width: 1px;


// Transitions
// --------------------------------------------------

$nav-transition-duration: 0.6s;

$mobile-navbar-nav-transition: $nav-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
$nav-transition: $nav-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
$twisty-transition: 0.1s ease;
$fade-transition-duration: 0.25s;
$fade-transition: $fade-transition-duration ease-in-out;


// Grid
// --------------------------------------------------

$grid-columns: 12;


// Grid breakpoints
// --------------------------------------------------

$grid-breakpoints: (
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px
);


// Z-index master list

$z-index-mobile-nav:         0;
$z-index-rich-editor-touch: 10;
$z-index-hairline:          20;
$z-index-search-bar:        30;
$z-index-main:              30;
$z-index-level:             30;
$z-index-level-active:      40;
$z-index-navbar:            40;
$z-index-menu:              50;
$z-index-modal:             60;
$z-index-drag-layer:        70;
$z-index-errors:            80;
$z-index-loading-cover:     90;


// Navbbar
// --------------------------------------------------

$navbar-height-xs:            $space-thumb;
$navbar-height-sm:            $space-max;
$navbar-font-size:            $space-md;
$navbar-margin-bottom:        $space-min;
$navbar-padding-x:            $space-sm;
$navbar-padding-x-touch:      $space-xl;
$navbar-padding-y:            $space-sm;
$navbar-padding-y-touch:      $space-sm;
$navbar-padding-top:          21px;
$navbar-padding-bottom:       21px;
$navbar-breakpoint:           map-get($grid-breakpoints, lg);
$navbar-toggle-padding-x:     $space-md;
$icon-bar-width:              $space-lg;
$icon-bar-height:             2px;
$icon-bar-spacing:            6px;
$navbar-nav-mobile-width:     280px;
$content-transform:           -$navbar-nav-mobile-width;
$mobile-navbar-nav-transform: translate3d(25%, 0, 0);
$search-width:                240px;


// Navbbar brand
// --------------------------------------------------

$navbar-brand-width-xs:  72px;
$navbar-brand-height-xs: 20px;
$navbar-brand-width-sm:  96px;
$navbar-brand-height-sm: 26px;


// Sidebar
// --------------------------------------------------

$sidebar-width-sm:       320px;
$sidebar-width-md:       25%;
$sidebar-width-md-touch: 320px;
$sidebar-width-lg:       280px;
$sidebar-width-lg-touch: 25%;


// Collection tree
// --------------------------------------------------

$collection-tree-padding-left:    $space-md;
$collection-tree-padding-x:       $space-sm;
$collection-tree-padding-x-touch: $space-md;
$collection-tree-padding-y:       $space-xs;
$collection-tree-indent:          $space-sm;
$collection-tree-max-levels:      10;
$collection-tree-section-spacing: 20px;


// Items & item list/table
// --------------------------------------------------

$item-list-row-height:     61px;
$item-list-padding-top:    ($space-sm - 5px); // Hairline
$item-list-padding-bottom: ($space-sm - 6px);
$item-list-padding-x:      $default-padding-x-touch;
$item-list-padding-right:  39px;

$item-table-head-height: $space-lg;
$item-table-row-height:  $line-height-large;


// Toolbar
// --------------------------------------------------

$toolbar-height:       $line-height-large + $space-min;
$toolbar-height-touch: $line-height-large-touch;


// Item details
// --------------------------------------------------

$item-details-width-lg:       360px;
$item-details-width-lg-touch: 33vw;
$info-view-font-size:         20px;


// Tabs
// --------------------------------------------------

$tabs-height:            $line-height-large + $space-min;
$tabs-height-touch:      $space-thumb;
$tabs-padding-x:         $space-md;
$tabs-compact-padding-x: $space-xs;


// Metadata list
// --------------------------------------------------

$metadata-list-margin-x-touch:     20px; // todo
$metadata-list-line-height:        $space-lg; // Define in px
$metadata-list-line-height-sm:     28px;
$metadata-list-gutter:             $space-sm;
$metadata-list-gutter-mobile:      $space-md;
$metadata-list-offset:             33%;
$metadata-handle-offset:           20px;


// Creators
// --------------------------------------------------
$creators-last-name-max-width:       67%;
$creators-value-padding-right-touch: 31px;


// Note list
// --------------------------------------------------

$note-list-padding-top:    ($space-sm - 5px); // Hairline
$note-list-padding-bottom: ($space-sm - 6px);


// Icon
// --------------------------------------------------

$icon-spin-size-sm: $space-md;
$icon-spin-size-md: $space-lg;
$icon-spin-size-lg: $space-xl;


// Buttons & forms
// --------------------------------------------------

$input-btn-height-touch:    $line-height-large-touch;
$input-btn-padding-x:       $space-xs;
$input-btn-padding-x-touch: $space-xs;
$input-btn-padding-y:       2px;
$input-btn-padding-y-touch: 8px;
$input-btn-padding-x-lg:    $space-sm;
$input-btn-padding-y-lg:    5px;
//$input-btn-padding-x-lg:    $space-md;
//$input-btn-padding-y-lg:    11px;
//$input-btn-padding-x-sm:    $space-sm;
//$input-btn-padding-y-sm:    3px;

$input-border-width: $border-width;

$input-btn-focus-width: 2px;

$input-btn-border-radius: $border-radius-sm;

$input-btn-transition: 0.15s ease;


// Forms
// --------------------------------------------------

$form-group-margin:       $space-sm;
$form-group-margin-touch: 20px; // todo
$input-border-radius:     $input-btn-border-radius;

$form-grid-gutter-width: $space-xs;

$icon-spin-spacing-lg:
	(
		floor($font-size-lg * $line-height-base)
		+ 2 * $input-btn-padding-y-lg
		+ 2 * $input-border-width
		- $icon-spin-size-sm
	) / 2;

$input-transition: 0.15s ease;


// Outline
// --------------------------------------------------

$outline-width:  $input-btn-focus-width + $border-width;
$outline-offset: 2px;


// Editable
// --------------------------------------------------

$editable-border-width:  $outline-width;
$editable-padding:       2px;
$editable-border-radius: 3px;


// Dropdown
// --------------------------------------------------

$menu-border-radius: $border-radius-sm;


// Auto resizer
// --------------------------------------------------

$auto-resizer-vertical-rows: 3;


// Modal
// --------------------------------------------------

$modal-header-height:        $space-thumb;
$modal-header-padding:       $space-md;
$modal-inner-padding:        $space-md;
$modal-md:                   444px;
$modal-lg:                   800px;
$modal-xl:                   1140px;
$modal-title-font-size:      $font-size-h1;
$modal-border-radius:        $border-radius-lg;
$modal-exit-transition-xs:   0.2s linear;


// Abstract
// --------------------------------------------------

$abstract-margin-x-touch: $metadata-list-margin-x-touch;


// Touch header & footer
// --------------------------------------------------

$touch-header-height: $line-height-large-touch + 2 * $border-width;
$touch-footer-height: $touch-header-height;


// Errors
// --------------------------------------------------

$error-width: 320px;
$error-spacing: $space-xs;
$permanent-toolbar-width: 15px;


// Rich editor
// --------------------------------------------------

$bp-sub-sup-sm:         874px;
$bp-sub-sup-lg:         1678px;
$bp-remove-format-lg:   1270px;
$bp-blockquote-link-sm: 830px;
$bp-blockquote-link-lg: 1544px;
$bp-lists-sm:           815px;
$bp-lists-lg:           1500px;


// Tag selector
// --------------------------------------------------

$tag-selector-height:           33%;
$tag-selector-collapsed-height: 9px;
$tag-padding-x:                 6px;
$tag-border-radius:             $border-radius-sm;
