/*===== collections ===== */
#collection-list-div {
    padding:5px;
}

#collection-list-div ul {
    list-style:none;
    margin:0;
    padding:0;
}

#collection-list-div ul ul {
    margin-left: 1em;
}

#collection-list-container {
    padding-top:5px;
    clear: both;
}

#collection-edit-div {
    padding-bottom:1em;
}

#collection-list {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-weight:normal;
}

#collection-list a {
    display:block;
    text-decoration:none;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    color: #16B;
}

#collection-list a:hover,
#collection-list a:active {
    background-color: rgba(51,136,204,0.2);
}


#collection-list a.current-collection {
    font-weight: bold;
    background-color: rgba(51,136,204,0.2);
}

#collection-list span{
    margin-top:6px;
}

