//
// TinyMCE forms
// --------------------------------------------------

.tox.tox.tox {
	.tox-form {
		@include touch-or-bp-down(sm) {
			margin: -$modal-inner-padding;
			padding: $form-group-margin-touch 0;
		}
	}

	.tox-form__group {
		@extend .form-group;
		display: flex;

		// Nest for specificity
		.tox-label {
			@extend .col-form-label;
			@include text-truncate;

			@include touch-or-bp-down(sm) {
				font-size: $font-size-mobile;
				flex: 0 0 33%;
			}

			@include mouse-and-bp-up(md) {
				flex: 0 0 25%;
				color: $text-color;
				text-align: right;
			}
		}
	}

	.tox-form__grid--2col {
		flex-direction: column;

		@include touch-or-bp-down(sm) {
			background-color: $input-bg;
		}

		@include mouse-and-bp-up(md) {
			margin-left: 25%;

			.tox-checkbox:not(:last-child) {
				margin-bottom: $form-group-margin;
			}
		}
	}

	.tox-label,
	.tox-textfield,
	select {
		@include mouse-and-bp-up(md) {
			font-size: $font-size-base;
			line-height: $line-height-base;
		}
	}

	.tox-form__controls-h-stack,
	.tox-selectfield {
		flex: 1 1 auto;
	}

	.tox-textfield {
		@extend .form-control;
	}

	select {
		@extend .form-control;

		@include mouse-and-bp-up(md) {
			background-image: image-url("icons/chevron-7.svg");
			background-repeat: no-repeat;
			background-position: right #{$space-min} center;
		}
	}

	.tox-selectfield__icon-js {
		display: none;
	}

	.tox-checkbox {
		@extend .checkbox;
		align-items: flex-start;
		cursor: auto;
		height: auto;
		min-width: 0;
		line-height: $line-height-base;

		.tox-checkbox__input {
			@extend [type="checkbox"];
			height: auto;
			left: auto;
			overflow: auto;
			position: static;
			top: auto;
			width: auto;

			// Chrome & Edge do not render the auto outline because of the negative tabindex
			@include mouse-keyboard-and-bp-up(md) {
				&:focus {

					// Target Chrome only
					@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
						and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none))
					{
						outline: $outline-width solid $focus-color;
						outline-offset: $outline-offset;
					}

					// Target Edge only
					@supports (-ms-ime-align: auto) {
						outline: $outline-width solid $focus-color;
						outline-offset: $outline-offset;
					}
				}
			}
		}

		.tox-checkbox__icons {
			display: none;
		}

		.tox-checkbox__label {
			color: $text-color;
			margin-left: 0;

			@include touch-or-bp-down(sm) {
				line-height: $input-btn-height-touch;
				padding: 0 $input-btn-padding-x-touch;
				flex: 1 1 auto;
				order: -1;
			}

			@include mouse-and-bp-up(md) {
				font-size: $font-size-base;
			}
		}
	}
}
