//
// TinyMCE forms
// --------------------------------------------------

.tox.tox.tox {
	.tox-form {
		@include touch-or-bp-down(sm) {
			margin: -$modal-inner-padding;
			padding: $form-group-margin-touch 0;
		}
	}

	.tox-form__group {
		@extend .form-group;
		display: flex;

		// Nest for specificity
		.tox-label {
			@extend .col-form-label;
			@include text-truncate;

			@include touch-or-bp-down(sm) {
				font-size: $font-size-mobile;
				flex: 0 0 33%;
			}

			@include mouse-and-bp-up(md) {
				flex: 0 0 25%;
				color: $text-color;
				text-align: right;
			}
		}
	}

	.tox-label,
	.tox-textfield,
	select {
		@include mouse-and-bp-up(md) {
			font-size: $font-size-base;
			line-height: $line-height-base;
		}
	}

	.tox-form__controls-h-stack,
	.tox-selectfield {
		flex: 1 1 auto;
	}

	.tox-textfield {
		@extend .form-control;
	}

	select {
		@extend .form-control;

		@include mouse-and-bp-up(md) {
			background-image: image-url("icons/chevron-7.svg");
			background-repeat: no-repeat;
			background-position: right #{$space-min} center;
		}
	}

	.tox-selectfield__icon-js {
		display: none;
	}
}
