//
// TinyMCE menu
// --------------------------------------------------

.tox.tox.tox {
	.tox-menu {
		border: 0;
		border-radius: $menu-border-radius;
		box-shadow: $menu-box-shadow;

		.tox-collection__item {
			@include touch-or-bp-down(sm) {
				padding: $dropdown-item-padding-y-touch $dropdown-item-padding-x-touch;
			}

			@include mouse-and-bp-up(md) {
				padding: ($input-btn-padding-y + $input-border-width) $input-btn-padding-x;
			}

			&--active {
				background-color: $menu-item-hover-bg;
			}

			.tox-collection__item-icon {
				@include touch-or-bp-down(sm) {
					width: $space-lg;
					height: $space-lg;
				}

				@include mouse-and-bp-up(md) {
					width: $space-md;
					height: $space-md;
				}

				svg {
					display: none;
				}
			}

			&[title="Link..."] {
				.tox-collection__item-icon {
					@include touch-or-bp-down(sm) {
						background-image: image-url("icons/24/link.svg");
					}

					@include mouse-and-bp-up(md) {
						background-image: image-url("icons/link.svg");
					}
				}
			}

			&[title="Remove link"] {
				.tox-collection__item-icon {
					@include touch-or-bp-down(sm) {
						background-image: image-url("icons/24/unlink.svg");
					}

					@include mouse-and-bp-up(md) {
						background-image: image-url("icons/unlink.svg");
					}
				}
			}

			&[title="Open link"] {
				.tox-collection__item-icon {
					@include touch-or-bp-down(sm) {
						background-image: image-url("icons/24/open-link.svg");
					}

					@include mouse-and-bp-up(md) {
						background-image: image-url("icons/open-link.svg");
					}
				}
			}

			&-label,
			&-accessory {
				@include touch-or-bp-down(sm) {
					font-size: $font-size-mobile;
					line-height: $line-height-base-mobile;
				}

				@include mouse-and-bp-up(md) {
					font-size: $font-size-base;
					line-height: $line-height-base;
				}
			}

			&-label {
				color: $text-color;
			}

			&-accessory {
				color: $shade-6;
			}
		}
	}
}
