//
// Rich editor
// --------------------------------------------------

.rich-editor-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: $touch-header-height;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $z-index-rich-editor-touch;
	background-color: $panel-bg;
	transform: translate3d(100%, 0, 0);
	transition: transform $nav-transition;

	@include bp-down(xs) {
		top: 0;
		transform: translate3d(125%, 0, 0);
	}

	@include bp-only(md) {
		top: calc(50% + #{$touch-header-height});
	}

	@include bp-up(lg) {
		left: auto;
		width: $item-details-width-lg-touch;
	}

	.view-note-active & {
		transform: translate3d(0, 0, 0);

		@include bp-down(xs) {
			transform: translate3d(25%, 0, 0);
		}
	}

	&.editing {
		background-color: $body-bg;
	}
}

.rich-editor {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;

	@include mouse-and-bp-up(md) {
		background-color: $editor-bg;
	}

	&:not(:only-child) {
		@include mouse-and-bp-only(md) {
			border-left: $border-width solid $editor-border-color;
		}

		@include mouse-and-bp-up(lg) {
			border-top: $border-width solid $editor-border-color;
		}
	}

	.editor-container,
	.tox-tinymce,
	.tox-edit-area {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
	}

	.tox-tinymce {
		border: none;
	}

	.tox-edit-area {
		@include touch-or-bp-down(sm) {
			border-top: none !important;
		}

		.editing & {
			@include touch-or-bp-down(sm) {
				border-top: $border-width solid $tox-edit-area-border-color !important;
			}
		}

		@include mouse-and-bp-up(md) {
			border-top-color: $tox-edit-area-border-color !important;
		}
	}

	.tox-edit-area__iframe {
		background-color: transparent !important;
	}

	.toolbar-container {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;

		@include variant(".rich-editor:only-child") {
			@include mouse-and-bp-only(md) {
				flex-direction: row;
			}
		}
	}

	.toolbar {
		@include touch-or-bp-down(sm) {
			height: $line-height-large-touch + $space-min;
			padding-top: $space-min / 2;
			padding-bottom: $space-min / 2;

			& + .toolbar {
				padding-top: 0;
				height: $line-height-large-touch + $space-min / 2;
			}
		}

		@include variant(".rich-editor:only-child") {
			@include mouse-and-bp-only(md) {
				&:first-child {
					padding-right: 0;
				}

				&:nth-child(2) {
					padding-left: 0;

					.tool-group {
						&:first-child {
							margin-left: $space-min / 2;
							padding-left: $space-min / 2 + $border-width;

							&::before {
								content: "";
							}
						}
					}
				}
			}
		}
	}

	.btn-icon {
		@include state(".btn-icon:hover", ".btn-group:hover .btn-icon") {
			background-color: $btn-icon-hover-bg;
		}
	}

	.btn-group {
		.btn-icon {
			&:last-of-type {
				margin-left: 0;

				@include state(".btn-group:hover") {
					&::before {
						content: "";
						position: absolute;
						top: 2px - $input-border-width;
						bottom: 2px - $input-border-width;
						left: 0;
						width: $input-border-width;
						background: $btn-icon-separator-color;
					}
				}
			}
		}

		[class*="icon-chevron"] {
			@include touch-or-bp-down(sm) {
				margin: 0 -3px;
			}

			@include mouse-and-bp-up(md) {
				margin: 0 -4px;
			}
		}
	}

	// Keep stable width
	.dropdown-toggle.format-block {
		text-align: left;

		@include touch-or-bp-down(sm) {
			min-width: 130px;
		}

		@include mouse-and-bp-up(md) {
			min-width: 106px;
		}

		.icon {
			position: absolute;

			@include touch-or-bp-down(sm) {
				right: $input-btn-padding-x-touch;
			}

			@include mouse-and-bp-up(md) {
				top: auto;
				right: $space-min;
			}
		}
	}

	.dropdown-menu {
		@include touch-or-bp-down(sm) {
			font-size: $font-size-mobile;
		}

		@include mouse-and-bp-up(md) {
			font-size: $font-size-base;
		}

		button {
			* {
				margin: 0;
			}

			h1, h2, h3, h4, h5, h6 {
				color: $note-headings-color;
				font-weight: $note-headings-font-weight;
			}

			h1 {
				font-size: $note-h1-font-size;
			}

			h2 {
				font-size: $note-h2-font-size;
			}

			h3 {
				font-size: $note-h3-font-size;
			}

			h4 {
				font-size: $note-h4-font-size;
			}

			h5 {
				font-size: $note-h5-font-size;
			}

			h6 {
				font-size: $note-h6-font-size;
			}
		}
	}

	.icon {
		@include touch-or-bp-down(sm) {
			color: $icon-color;
		}
	}

	.icon-color-swatch {
		@include touch-or-bp-down(sm) {
			position: absolute;
			left: $space-xs;
			top: $space-xs;
			color: transparent;
		}

		@include mouse-and-bp-up(md) {
			position: absolute;
			left: $space-min;
			top: $space-min;
			color: transparent;
		}

		&[style*="rgb(255, 255, 255)"] {
			opacity: 0.75;
		}
	}
}
