//
// Rich editor
// --------------------------------------------------

.rich-editor {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;

	@include touch-or-bp-down(sm) {
		@include state(".editing .rich-editor") {
			background-color: $editor-bg;
		}
	}

	@include mouse-and-bp-up(md) {
		background-color: $editor-bg;
	}

	.editor-container {
		width: 100%;
		height: 100%;
	}

	iframe {
		border: none;
		width: 100%;
		height: 100%;
	}
}
