//
// TinyMCE link context toolbar
// --------------------------------------------------

.tox.tox.tox {
	.tox-pop__dialog {
		border: 0;
		box-shadow: $menu-box-shadow;

		.tox-toolbar {
			height: $toolbar-height;
			align-items: center;
			margin-bottom: 0;
		}

		.tox-toolbar__group {
			border-right: 0;
			padding: 0 2px;
			position: relative;

			& + .tox-toolbar__group {
				padding-left: 3px;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 2px;
					bottom: 2px;
					width: $border-width;
					background-color: $tool-group-separator-color;
				}
			}
		}

		.tox-toolbar-textfield {
			width: 192px;
			font-size: $font-size-base;
			line-height: $line-height-base;
			color: $text-color;
			padding: $input-btn-padding-y $input-btn-padding-x;
			margin: 0;
		}

		.tox-tbtn {
			@extend .btn;
			@extend .btn-icon;
			width: $line-height-large;
			height: $line-height-large;
			background-repeat: no-repeat;
			background-position: center center;
			margin: 0;
			cursor: pointer;
			background-origin: border-box; // Fixes jumping icon on focus in Chrome

			&:hover {
				background-color: $btn-icon-hover-bg;
			}

			&.tox-tbtn--enabled {
				background-color: $btn-icon-active-bg;
			}

			&:not(:first-child) {
				margin-left: $space-min / 2;
			}

			&[title="Link"] {
				background-image: image-url("icons/link.svg");

				&:active {
					background-image: image-url("icons/link-active.svg");
				}

				&.tox-tbtn--enabled {
					background-image: image-url("icons/link-enabled.svg");
				}
			}

			&[title="Remove link"] {
				background-image: image-url("icons/unlink.svg");

				&:active {
					background-image: image-url("icons/unlink-active.svg");
				}
			}

			&[title="Open link"] {
				background-image: image-url("icons/open-link.svg");

				&:active {
					background-image: image-url("icons/open-link-active.svg");
				}
			}
		}

		.tox-icon {
			display: none;
		}
	}
}
