//
// Toolbar overflow
// --------------------------------------------------

// Handle toolbar overflow on touch devices
.rich-editor {
	.toolbar {
		&:first-child {
			.tool-group {
				&:nth-child(2) {
					@include bp-up(sm) {
						display: none;
					}

					@media (min-width: $bp-sub-sup-sm) {
						display: block;
					}

					@include touch-and-bp-up(lg) {
						display: none;
					}

					html.touch & {
						@media (min-width: $bp-sub-sup-lg) {
							display: block;
						}
					}
				}

				&:nth-child(4) {
					@include touch-and-bp-up(lg) {
						display: none;
					}

					html.touch & {
						@media (min-width: $bp-remove-format-lg) {
							display: block;
						}
					}
				}

				&:nth-child(5) {
					@include bp-up(sm) {
						display: none;
					}

					@media (min-width: $bp-blockquote-link-sm) {
						display: block;
					}

					@include touch-and-bp-up(lg) {
						display: none;
					}

					html.touch & {
						@media (min-width: $bp-blockquote-link-lg) {
							display: block;
						}
					}
				}

				&:last-child {
					@include mouse-and-bp-up(md) {
						display: none;
					}

					@include bp-only-normalized(md) {
						display: none;
					}

					@media (min-width: $bp-sub-sup-sm) {
						display: none;
					}

					@include touch-and-bp-up(lg) {
						display: block;
					}

					html.touch & {
						@media (min-width: $bp-sub-sup-lg) {
							display: none;
						}
					}

					.remove-format,
					.dropdown-divider:first-of-type {
						@include bp-only-normalized(sm) {
							display: none;
						}

						@media (min-width: $bp-remove-format-lg) {
							display: none;
						}
					}

					.blockquote,
					.link,
					.dropdown-divider:last-of-type {
						@media (min-width: $bp-blockquote-link-sm) {
							display: none;
						}

						@include touch-and-bp-up(lg) {
							display: block;
						}

						@media (min-width: $bp-blockquote-link-lg) {
							display: none;
						}
					}
				}
			}
		}

		&:nth-child(2) {
			.tool-group {
				&:nth-child(3) {
					@include bp-up(sm) {
						display: none;
					}

					@media (min-width: $bp-lists-sm) {
						display: block;
					}

					@include touch-and-bp-up(lg) {
						display: none;
					}

					html.touch & {
						@media (min-width: $bp-lists-lg) {
							display: block;
						}
					}
				}

				&:last-child {
					@include mouse-and-bp-up(md) {
						display: none;
					}

					@include bp-only-normalized(md) {
						display: none;
					}

					@media (min-width: $bp-lists-sm) {
						display: none;
					}

					@include touch-and-bp-up(lg) {
						display: block;
					}

					html.touch & {
						@media (min-width: $bp-lists-lg) {
							display: none;
						}
					}
				}
			}
		}
	}
}
