//
// Creators entry
// --------------------------------------------------

// Creators field
.creators-entry {
	position: relative;

	@include state(".editing .creators-entry") {
		@include touch-or-bp-down(sm) {
			$handle-width: 2 * $default-padding-x-touch + $space-lg + $input-border-width;

			padding-left: 2 * $default-padding-x-touch + $space-lg;
			padding-right: $handle-width;
			background: image-url("icons/chevron-13.svg") no-repeat right ($handle-width + 4px) center $input-bg;

			&.single,
			&.virtual {
				padding-right: 0;
				background-position: right 12px center; // 16px
			}

			&::before {
				left: 2 * $default-padding-x-touch + $space-lg;
			}
		}

		@include variant(".title + .creators-entry") {
			@include bp-up(sm) {
				padding-top: 0;
				border-top-left-radius: $input-border-radius;
				border-top-right-radius: $input-border-radius;
			}

			&::before {
				@include touch-or-bp-down(xs) {
					left: 0;
				}

				@include bp-up(sm) {
					content: none;
				}
			}
		}
	}

	@include touch-or-bp-down(sm) {
		select {
			color: $key-color;
			padding: 0;
			background-color: transparent;
		}
	}

	@include bp-only(sm) {
		.select {
			flex-grow: 0;
		}
	}

	@include mouse-and-bp-up(md) {
		.key {
			justify-content: flex-end;

			.input-group {
				flex: 0 0 auto;
				max-width: 100%;
			}

			.Select {
				padding: 0;
				border: none;
				background-color: transparent;
				line-height: normal;
				color: $key-color;

				.Select-control {
					justify-content: flex-end;
					background-color: transparent;
					border: none;
					padding: 0;
					cursor: pointer;
					box-shadow: none;

					@include state(".Select:hover", ".Select.is-focused") {
						color: $link-color;
					}
				}

				.Select-multi-value-wrapper {
					flex: 0 0 auto;
					max-width: 100%;
				}

				.Select-value {
					flex: 0 0 auto;
					position: static;
					padding: 0;
					max-width: 100%;
				}

				.Select-input {
					position: absolute;
				}

				.Select-arrow-zone {
					order: -1;
				}

				.Select-arrow {
					background-image: image-url("icons/chevron-7-777.svg");
					display: none;

					@include state(".creators-entry:hover") {
						display: block;
					}

					@include state(".Select:hover") {
						background-image: image-url("icons/chevron-7-secondary.svg");
					}

					@include state(".Select.is-focused") {
						display: block;
						background-image: image-url("icons/chevron-7-secondary.svg");
					}
				}

				.Select-menu-outer {
					text-align: left;
					width: auto;
					white-space: nowrap;
					right: auto;
				}
			}
		}
	}

	.value {
		.editable,
		.input-group {
			flex: 1 1 0;

			::placeholder {
				color: transparent; // Hide
			}

			.placeholder {
				color: $placeholder-color;
			}
		}

		> :first-child {
			@include state(".creators-entry.creators-twoslot:not(.creators-modal-trigger)") {

				display: flex;
				flex: 0 1 auto;
				margin-right: $space-xs;

				&::after {
					content: ",";
					flex: 0 0 auto;
				}
			}
		}

		@include touch-or-bp-down(sm) {
			@include state(".editing .creators-entry") {
				padding-right: 31px;
			}

			@include state(".editing .creators-entry.single, .editing .creators-entry.virtual") {
				padding-right: 39px;
			}

			> :first-child {
				@include state(".creators-entry.creators-twoslot") {
					max-width: calc(#{$creators-last-name-max-width-touch} - 2px); // Substract margin
				}
			}

			.input-group {
				align-items: center; // Align comma in edit mode
			}

			.auto-resizer {
				max-width: calc(100% - 4.5px); // Substract comma
			}

			.form-control {
				text-overflow: ellipsis;
			}
		}

		@include mouse-and-bp-up(md) {
			> *:not(:first-child) {
				margin-left: 2px;
			}

			> *:not(:last-child) {
				margin-right: 2px;
			}

			.editable {
				flex: 1 1 0;

				&:first-child {
					@include state(".creators-entry.creators-twoslot") {
						display: flex;
						flex: 0 1 auto;
						max-width: calc(#{$creators-last-name-max-width} - 30px); // Substract buttons and margins / 2

						.editable-content {
							position: relative;
							z-index: 1; // Higher than comma
						}

						.input-group {
							flex: 1 1 auto;
						}
					}
				}

				&:last-of-type {
					margin-right: 6px; // 8px
				}
			}
		}

		.btn {
			padding: 0;
			border: none;
			width: $space-md;
			height: $space-md;
			flex: 0 0 auto;

			@include touch-or-bp-down(sm) {
				display: none;
			}

			@include state(".creators-entry:not(:focus-within)") {
				@include mouse-and-bp-up(md) {
					visibility: hidden;
				}
			}

			@include state(".creators-entry:hover", ".creators-entry:focus-within") {
				@include mouse-and-bp-up(md) { // Repeat for specifity
					visibility: visible;
				}
			}

			&:focus {
				@include touch-or-bp-down(sm) {
					outline-offset: -$outline-width;
				}
			}

			.icon {
				display: none;
			}
		}

		.btn-single-dual {
			width: 17px;
			margin-left: $space-min + $input-btn-focus-width + $input-border-width;

			@include state(".creators-entry.creators-twoslot") {
				background: image-url("icons/input-single.svg") no-repeat center center;

				&:active {
					background-image: image-url("icons/input-single-active.svg");
				}
			}

			@include state(".creators-entry.creators-oneslot") {
				background: image-url("icons/input-dual.svg") no-repeat center center;

				&:active {
					background-image: image-url("icons/input-dual-active.svg");
				}
			}
		}

		.btn-minus {
			width: 14px;
			background: image-url("icons/minus-circle.svg") no-repeat center center;

			@include touch-or-bp-down(sm) {
				@include state(".editing .creators-entry") {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					margin: 0;
					width: 2 * $default-padding-x-touch + $space-lg;
					height: 100%;
					background: image-url("icons/minus-circle-touch.svg") no-repeat center center;
				}
			}

			&:active {
				background-image: image-url("icons/minus-circle-active.svg");
			}
		}

		.btn-plus {
			width: 14px;
			background: image-url("icons/plus-circle.svg") no-repeat center center;

			&:active {
				background-image: image-url("icons/plus-circle-active.svg");
			}
		}
	}

	.handle {
		cursor: move;
		display: none;

		@include touch-or-bp-down(sm) {
			align-self: stretch;
			align-items: center;
			flex: 0 0 auto;
			padding: 0 $default-padding-x-touch;
			border-left: 1px solid $input-border-color;
			margin-right: -(2 * $default-padding-x-touch + $space-lg + $input-border-width);
			touch-action: manipulation;

			@include state(".editing .creators-entry") {
				display: flex;
			}

			.icon-grip {
				color: $handle-color-touch;
			}
		}

		@include mouse-and-bp-up(md) {
			align-items: center;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;

			@include state(".metadata-list:not(.dnd-in-progress) .creators-entry:hover") {
				display: flex;
			}

			.icon-grip {
				color: $handle-color-mouse;
			}
		}
	}
}
