//
// Metadata list
// --------------------------------------------------

.metadata-list {
	margin: $metadata-list-margin;
	margin-top: 23px - 12px;

	@include bp-only(md) {
		margin-top: -3px;
	}

	.metadata {
		display: flex;
		align-items: flex-start;

		@include touch-or-bp-down(sm) {
			padding: 0 $default-padding-x-touch;
		}

		@include mouse-and-bp-up(md) {
			padding: 0 $default-padding-x;
		}

		@include bp-only(md) {
			padding-right: ($metadata-list-gutter + 1px);
		}
	}

	.key,
	.value {
		min-height: $metadata-list-line-height;
		overflow: visible;
		min-width: 0; // Fix truncation
		display: flex;
	}

	.key {
		color: $key-color;
		margin-top: $space-xs;
		flex: 0 0 $metadata-list-offset;
		margin-top: 0;
		align-items: center;

		a {
			color: inherit;
			text-decoration: none;

			&[href]:hover {
				color: $link-color;
			}
		}
	}

	.value {
		flex: 0 0 calc(100% - #{$metadata-list-offset});
	}

	@include bp-only(sm) {
		.key,
		.value {
			min-height: $metadata-list-line-height-sm;
		}
	}

	@include bp-up(sm) {
		.key {
			padding-right: $metadata-list-gutter-mobile / 2;
		}

		.value {
			padding-left:
				$metadata-list-gutter-mobile / 2
				- $editable-border-width
				- $editable-padding-x;

		}
	}

	@include mouse-and-bp-up(md) {
		.key {
			padding-right: $metadata-list-gutter / 2;
			justify-content: flex-end;
		}

		.value {
			display: flex;
			align-items: center;
			padding-left: $metadata-list-gutter / 2;
		}

		.extra {
			.value {
				align-items: flex-start;
			}
		}
	}

	// Edit mode
	&.editing {
		@include touch-or-bp-down(sm) {
			.metadata {
				position: relative;
				background-color: $input-bg;

				@include touch-or-bp-down(sm) {
					padding-right: 0;
				}

				&::before {
				 content: "";
				 position: absolute;
				 left: $space-md;
				 right: 0;
				 bottom: calc(100% - 1px);
				 height: $input-border-width;
				 background: $separator-color;
				 z-index: 1;
				}

				// Editable focus state
				&.editing {
					z-index: 2;

					&::before,
					&::after {
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						height: $outline-width;
						background-color: $focus-color;
					}

					&::before {
						bottom: calc(100% - 1px);
					}

					&::after {
						top: calc(100% - 1px);
					}
				}
			}

			.key,
			.value {
				min-height: $line-height-large-touch + 1px;
			}
		}
	}

	@include mouse-and-bp-up(md) {
		.editable {
			line-height: normal;

			.editable-content {
				padding: 2px;
				border: 1px solid transparent;
				width: calc(100% + 6px);
				margin: -3px;
				border-radius: 3px;
				cursor: pointer;
			}

			&:hover {
				.editable-content {
					background-color: $editable-hover-bg;
					border-color: $editable-hover-bg;
				}
			}

			&.textarea {
				.editable-content {
					margin-top: 1px; // Align vertically with label
					padding-top: 0;
					padding-bottom: 0;
				}

				.editable-control {
					margin-top: -1px; // Align vertically with label
				}
			}
		}
	}

	.empty {
		.editable-content {
			&:before {
				content: "\00a0";
			}
		}

		@include touch-or-bp-down(md) {
			display: none;
		}
	}

	label {
		@include text-truncate;
		line-height: normal; // Flex alignment is more stable

		&[for="url"] {
			overflow: inherit;
			text-overflow: inherit;
			white-space: inherit;
		}
	}

	// Creators field
	.creators-entry {
		.value {
			> *:not(:first-child) {
				margin-left: 2px;
			}

			> *:not(:last-child) {
				margin-right: 2px;
			}

			.editable {
				min-width: $space-lg;

				&:first-child {
					flex: 0 1 auto;

					&.editing {
						flex: 1 1 auto;
					}
				}

				&:last-of-type {
					margin-right: auto;
				}
			}

			.btn {
				padding: 0;
				border: none;
				width: $space-md;
				height: $space-md;
				flex: 0 0 auto;
				display: none;

				@include mouse-and-bp-up(md) {
					display: block;
				}

				&:focus {
					.keyboard & {
						box-shadow: none;
						outline: $outline-width solid $focus-color;
					}
				}

				.icon {
					display: none;
				}
			}

			.btn:nth-last-child(3) {
				width: 17px;
				margin-left: $space-min + $input-btn-focus-width + $input-border-width;
			}

			.btn:nth-last-child(2) {
				background: image-url("icons/minus-circle.svg") no-repeat center center;
			}

			.btn:last-child {
				background: image-url("icons/plus-circle.svg") no-repeat center center;
			}
		}

		&.creators-twoslot {
			.value {
				.editable:first-child {
					display: flex;

					.input-group {
						flex: 1 1 auto;
					}

					&::after {
						content: ",";
						flex: 0 0 auto;
					}
				}
			}

			.btn:nth-last-child(3) {
				background: image-url("icons/input-single.svg") no-repeat center center;
			}
		}

		&.creators-oneslot {
			.btn:nth-last-child(3) {
				background: image-url("icons/input-dual.svg") no-repeat center center;
			}
		}
	}

	.extra {
		label {
			line-height: $line-height-base;
		}
	}
}
