@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/mixins/selectors";
@use "../../abstracts/variables";
@use "../../themes/common";

.info {
	.read-only & {
		user-select: text;
		cursor: auto;
	}

	@include breakpoints.touch-or-bp-down(md) {
		padding-bottom: variables.$space-lg - 14px;
	}

	@include breakpoints.mouse-and-bp-only(md) {
		position: relative;
		min-height: 100%;

		&:not(.loading) {
			&::after {
				content: "";
				position: absolute;
				width: variables.$border-width;
				height: 100%;
				left: calc(50% - #{variables.$border-width});
				top: 0;
				background: #ddd;
			}
		}
	}

	.item-title,
	.tab-pane-heading {
		@include breakpoints.mouse-and-bp-up(md) {
			display: none;
		}
	}

	.item-title {
		border-bottom: variables.$separator-width solid common.$separator-color;
		padding-bottom: 11px; // metadata-list spacing
		margin: (variables.$space-lg - 5px) variables.$default-padding-x-touch 8px; // 8px: metadata-list spacing

		&.placeholder {
			color: common.$placeholder-color;
		}
	}

	.tab-pane-heading {
		padding: 0 variables.$default-padding-x;
	}
}
