//
// Metadata (info) pane
// --------------------------------------------------

.info {
	//.info-wrapper {
	//	align-items: center;
	//	display: flex;
	//	flex-direction: column;
	//	height: 100%;
	//	justify-content: center;
	//
	//	.info {
	//		flex: 0 0 content;
	//	}
	//}

	@include bp-only(md) {
		position: relative;
		min-height: 100%;

		&::after {
			content: "";
			position: absolute;
			width: $border-width;
			height: calc(100% - #{ 2 * $default-padding-x - $space-min});
			left: calc(50% - #{$border-width});
			top: $default-padding-x;
			background: #ddd;
		}
	}

	.item-title,
	.tab-pane-heading {
		@include mouse-and-bp-up(md) {
			display: none;
		}
	}

	.item-title {
		//border-bottom: $separator-width solid $separator-color;
		padding-bottom: 10px;
		margin: 10px $default-padding-x-touch 9px;
	}

	.tab-pane-heading {
		padding: 0 $default-padding-x;
	}

	.abstract {
		@include touch-or-bp-down(sm) {
			padding: 0 $default-padding-x-touch;
		}

		@include mouse-and-bp-up(md) {
			padding: 0 $default-padding-x;
		}
	}

	.abstract-heading {
		@include mouse-and-bp-up(md) {
			font-size: $font-size-base;
			line-height: $line-height-base;
			color: $key-color;
			margin-top: 0;
			padding-top: 0;
			margin-bottom: 0;
		}

		@include mouse-and-bp-only(lg) {
			margin-top: 15px - 7px;
			padding-top: 15px - 6px;
			border-top: 1px solid $metadata-separator-color;
		}

		//@include touch-or-bp-down(sm) {
		//	margin-top: 9px;
		//	border-top: $separator-width solid $separator-color;
		//	padding-top: 11px;
		//}
		//
		//@include bp-down-normalized(xs) {
		//	display: none;
		//}
		//
		//@include mouse-and-bp-up(md) {
		//	margin-top: 23px - 7px;
		//	border-top: $separator-width solid $separator-color;
		//	padding-top: 23px - 4px;
		//}
	}

	.abstract-body {
		margin-bottom: 1em;
	}
}
