//
// Metadata (info) pane
// --------------------------------------------------

.info {
	.read-only & {
		user-select: text;
		cursor: auto;
	}

	@include touch-or-bp-down(sm) {
		padding-bottom: $space-lg - 14px;
	}

	@include touch-and-bp-only(md) {
		padding-bottom: 0;
	}

	@include bp-only(md) {
		position: relative;
		min-height: 100%;

		&:not(.loading) {
			&::after {
				content: "";
				position: absolute;
				width: $border-width;
				height: 100%;
				left: calc(50% - #{$border-width});
				top: 0;
				background: #ddd;
			}
		}
	}

	.item-title,
	.tab-pane-heading {
		@include mouse-and-bp-up(md) {
			display: none;
		}
	}

	.item-title {
		border-bottom: $separator-width solid $separator-color;
		padding-bottom: 11px; // metadata-list spacing
		margin: ($space-lg - 5px) $default-padding-x-touch 8px; // 8px: metadata-list spacing

		&.placeholder {
			color: $placeholder-color;
		}
	}

	.tab-pane-heading {
		padding: 0 $default-padding-x;
	}
}
