//
// Metadata (info) pane
// --------------------------------------------------

.info {
	@include bp-only(md) {
		position: relative;
		min-height: 100%;

		&::after {
			content: "";
			position: absolute;
			width: $border-width;
			height: 100%;
			left: calc(50% - #{$border-width});
			top: 0;
			background: #ddd;
		}
	}

	.item-title,
	.tab-pane-heading {
		@include mouse-and-bp-up(md) {
			display: none;
		}
	}

	.item-title {
		border-bottom: $separator-width solid $separator-color;
		padding-bottom: 11px; // metadata-list spacing
		margin: ($space-lg - 5px) $default-padding-x-touch 8px; // 8px: metadata-list spacing
	}

	.tab-pane-heading {
		padding: 0 $default-padding-x;
	}

	.abstract {
		@include touch-or-bp-down(sm) {
			margin: 0 $default-padding-x-touch;
		}

		@include mouse-and-bp-up(md) {
			margin: 0 $default-padding-x;
		}

		@include mouse-and-bp-only(lg) {
			margin-top: 15px - 7px;
			border-top: 1px solid $metadata-separator-color;
		}

		&.empty-abstract {
			@include mouse-and-bp-only(md) {
				padding-top: 14px;
			}

			@include mouse-and-bp-only(lg) {
				padding-top: 9px; // metadata-list spacing
			}
		}
	}

	.abstract-heading {
		color: $key-color;

		@include touch-or-bp-down(sm) {
			margin-top: 8px; // metadata-list spacing
			border-top: $separator-width solid $separator-color;
			padding-top: 10px; // metadata-list spacing
			margin-bottom: 4px; // metadata-list spacing
			line-height: $line-height-base;
		}

		@include bp-down-normalized(xs) {
			margin-top: 0;
			border-top: 0;
			padding-top: 0;
			margin-bottom: 0;
		}

		@include touch-and-bp-only(md) {
			margin-top: 0;
			border-top: 0;
			padding-top: $space-lg - 6px;
		}

		@include mouse-and-bp-up(md) {
			font-size: $font-size-base;
			line-height: $metadata-list-line-height;
			margin-top: $space-sm;
			margin-bottom: 0;
			padding-bottom: 2px;
		}

		@include mouse-and-bp-only(lg) {
			margin-top: 15px - 8px;
			margin-bottom: 0;
			padding-bottom: 2px;
		}

		@include state(".empty-abstract .abstract-heading") {
			display: none;
		}
	}

	.abstract-body {
		margin-bottom: 1em;
	}
}
