$-colors: (
	accent-azure: #66adffd9,
	accent-blue: #4072e5,
	accent-blue10: #4072e54d,
	accent-blue30: #4072e573,
	accent-blue50: #4072e599,
	accent-gold: #cc9200d9,
	accent-green: #39bf68d9,
	accent-orange: #ff794cd9,
	accent-red: #db2c3ae5,
	accent-teal: #59adc4e5,
	accent-white: #fff,
	accent-wood-dark: #996b6f,
	accent-wood: #cc7a52e5,
	accent-yellow: #faa700cc,
	accent-highlight: #ffd40026,
	fill-primary: #ffffffe5,
	fill-secondary: #ffffff8c,
	fill-tertiary: #ffffff4d,
	fill-quarternary: #ffffff1f,
	fill-quinary: #ffffff0f,
	fill-senary: #ffffff08,
	color-background: #1e1e1e,
	color-background50: #1e1e1e80,
	color-background70: #1e1e1eb2,
	color-border: #ffffff2e,
	color-border50: #ffffff17,
	color-button: #404040,
	color-control: #ccc,
	color-menu: #28282894,
	color-panedivider: #404040,
	color-sidepane: #303030,
	color-tabbar: #1e1e1e,
	color-toolbar: #272727,
	color-scrollbar: rgb(117, 117, 117),
	color-scrollbar-hover: rgb(158, 158, 158),
	color-scrollbar-background: transparent,
	color-stripe: #ffffff0d,
	tag-blue: #2ea8e5d9,
	tag-gray: #aaac,
	tag-green: #5fb236d9,
	tag-indigo: #576dd9,
	tag-magenta: #e56eeed9,
	tag-orange: #f19837cc,
	tag-plum: #a6507b,
	tag-purple: #a28ae5e5,
	tag-red: #ff6666e5,
	tag-teal: #009980,
	tag-yellow: #ffd400bf,

	// web-library-specific colors
	accent-blue-dark: #333c66,
	accent-asphalt: #7a8799,

	// TODO: these might need to be adjusted
	color-shade-0: #1e1e1e, // same as color-tabbar
	color-shade-1: #303030, // same as color-sidepane
	color-shade-2: #333,
	color-shade-3: #444,
	color-shade-4: #555,
	color-shade-5: #777,
	color-shade-6: #8c8c8c,
	color-shade-7: #aaa,
	color-shade-8: #ccc,
	color-shade-9: #eee,
	color-shade-10: #fff,

	color-dnd-target-outline: #cfdcf9,
	color-collection-tree-shadow: #e3e3e3, //mix($touch-collection-tree-border, $sidebar-bg, 50%)
	touch-tag-placelhoder: #f3f3f3, //tint($shade-2, 50%)
	color-tab-headings-bg: #f0f0f0, //shade($shade-1, 4%);
	color-item-list-second-row: #888, //mix($body-bg, $text-color, 50%);
	color-panel-backdrop-bg: rgba(0, 0, 0, 0.1), //rgba($shade-10, 0.1)
	color-editable-hover-bg: rgba(0, 0, 0, 0.04),
	color-editable-backdrop-hover-bg: #f0f0f0, // darken($shade-1, ($editable-hover-percent * 100%));, $editable-hover-percent = 0.04
	color-shade-1-darker: #292929, // shade($shade-1, 2%) or mix($shade-10, $shade-1, 2%) or html whitesmoke
	color-button-active-bg: #f0f0f0,
	color-button-shadow: rgba(0, 0, 0, 0.2),
	color-button-shadow-lighter: rgba(0, 0, 0, 0.06),
	color-drag-preview-shadow: rgba(0, 0, 0, 0.2),
	tag-color-border: rgba(0, 0, 0, 0.08),
	color-text-disabled: #9a9a9a,
	color-nav-sidebar-border: #252525,
	color-identifier-badge-hover-border: #b9b8b5,
	color-backdrop: rgba(0, 0, 0, 0.6),
	accent-red-on-shade-1: #c52f37,
	primary-on-shade-1: #e3e3e3,
	color-nav-sidebar: #111,
	color-nav-sidebar-link: #fff,
);

@media (prefers-color-scheme: dark) {
	:root {
		@include derive-colors($-colors);
	}
}
