//
// Light theme
// --------------------------------------------------


// Colors
// --------------------------------------------------


// Shades
// --------------------------------------------------

$shade-0: #fff;
$shade-1: #f6f6f6;


// Text shades
// --------------------------------------------------

$text-shade-0: #000;
$text-shade-1: #222;
$text-shade-2: #444;


// Mapping
// --------------------------------------------------

$body-bg: $shade-0;
$text-color: $text-shade-1;