@use 'sass:color';
@use "sass:map";

$-colors: (
	accent-azure: #66adff,
	accent-blue: #4072e5,
	accent-blue10: #4072e51a,
	accent-blue30: #4072e54d,
	accent-blue50: #4072e580,
	accent-gold: #cc9200,
	accent-green: #39bf68,
	accent-orange: #ff794c,
	accent-red: #db2c3a,
	accent-teal: #59adc4,
	accent-white: #fff,
	accent-wood-dark: #996b6f,
	accent-wood: #cc7a52,
	accent-yellow: #faa700,
	accent-highlight: #ffea0080,
	fill-primary: #000000d9,
	fill-secondary: #00000080,
	fill-tertiary: #00000040,
	fill-quarternary: #0000001a,
	fill-quinary: #0000000d,
	fill-senary: #00000005,
	color-background: #fff,
	color-background50: #ffffff80,
	color-background70: #ffffffb2,
	color-border: #00000026,
	color-border50: #00000014,
	color-button: #fff,
	color-control: #fff,
	color-menu: #f6f6f6b8,
	color-panedivider: #dadada,
	color-sidepane: #f2f2f2,
	color-tabbar: #f2f2f2,
	color-toolbar: #f9f9f9,
	color-scrollbar: rgb(194, 194, 194),
	color-scrollbar-hover: rgb(125, 125, 125),
	color-scrollbar-background: transparent,
	color-stripe: #0000000a,
	tag-blue: #2ea8e5,
	tag-gray: #aaa,
	tag-green: #5fb236,
	tag-indigo: #576dd9,
	tag-magenta: #e56eee,
	tag-orange: #f19837,
	tag-plum: #a6507b,
	tag-purple: #a28ae5,
	tag-red: #ff6666,
	tag-teal: #009980,
	tag-yellow: #ffd400,

	// web-library-specific colors
	accent-blue-dark: #333c66,
	accent-asphalt: #7a8799,

	color-shade-0: #fff,
	color-shade-1: #fafafa,
	color-shade-2: #e6e6e6,
	color-shade-3: #ddd,
	color-shade-4: #ccc,
	color-shade-5: #bbb,
	color-shade-6: #737373,
	color-shade-7: #555,
	color-shade-8: #333,
	color-shade-9: #111,
	color-shade-10: #000,

	color-dnd-target-outline: #393939,
	color-collection-tree-shadow: #e3e3e3, //mix($shade-4, $sidebar-bg, 50%)
	touch-tag-placelhoder: #f3f3f3, //tint($shade-2, 50%)
	color-tab-headings-bg: #f0f0f0, //shade($shade-1, 4%);
	color-item-list-second-row: #888, //mix($body-bg, $text-color, 50%);
	color-panel-backdrop-bg: rgba(0, 0, 0, 0.1), //rgba($shade-10, 0.1)
	color-editable-hover-bg: rgba(0, 0, 0, 0.04),
	color-editable-backdrop-hover-bg: #f0f0f0, // darken($shade-1, ($editable-hover-percent * 100%));, $editable-hover-percent = 0.04
	color-shade-1-darker: #f5f5f5, // shade($shade-1, 2%) or mix($shade-10, $shade-1, 2%) or html whitesmoke
	color-button-active-bg: #f0f0f0,
	color-button-shadow: rgba(0, 0, 0, 0.2),
	color-button-shadow-lighter: rgba(0, 0, 0, 0.06),
	color-drag-preview-shadow: rgba(0, 0, 0, 0.2),
	tag-color-border: rgba(0, 0, 0, 0.08),
	color-text-disabled: #656565, // lighten($text-color, 33%);
	color-nav-sidebar-border: #252525,
	color-identifier-badge-hover-border: #b9b8b5,
	color-backdrop: rgba(0, 0, 0, 0.4),
);

@media (prefers-color-scheme: light) {
	:root {
		@include derive-colors($-colors);
	}
}
