//
// Light theme
// --------------------------------------------------


// Colors
// --------------------------------------------------

$red:           #db2c3a; // 355° 80 86
$blue:          #4072e6; // 222° 72 90
$asphalt:       #7a8799;
$asphalt-light: #dadee3;

$primary:   $red;
$secondary: $blue;
$success:   #3abd57;

$blue-dark:    #333c66;
$blue-darkest: #3d4466;

$transparent: transparent;


// Grays
// --------------------------------------------------

$shade-0:  #fff;
$shade-1:  #fafafa;
$shade-2:  #e6e6e6;
$shade-3:  #ddd;
$shade-4:  #ccc;
$shade-5:  #bbb;
$shade-6:  #737373;
$shade-7:  #555;
$shade-8:  #333;
$shade-9:  #111;
$shade-10: #000;


// Scaffolding
// --------------------------------------------------

$body-bg:    $shade-0;
$text-color: $shade-9;

$headings-color: $shade-8;

$link-color:       $blue;
$link-hover-color: $blue;

$focus-color: $secondary;


// Typography
// --------------------------------------------------

$text-selection-color: inherit;
$text-selection-bg: rgba($secondary, 0.2);

// Separator
$separator-color: $shade-3;


// Partials
// --------------------------------------------------

// Main
$main-bg: $shade-0;

// Sidebar
$sidebar-bg:           $shade-1;
$sidebar-border-color: $shade-4;

// Details list
$details-list-link-color:    $text-color;
$details-list-border-color:  $shade-4;
$details-list-selected-bg:   $shade-3;
$details-list-focus-color:   $shade-0;
$details-list-focus-bg:      $focus-color;

// Scrollbar
$scrollbar-bg:    transparent;
$scrollbar-color: $shade-4;


// Components
// --------------------------------------------------

// Icon
$icon-color:        $shade-6;
$icon-color-touch:  $link-color;
$icon-active-color: $shade-9;
$icon-circle-color: $shade-5;

// Navbar
$navbar-bg:                           $body-bg;
$navbar-nav-mobile-bg:                $shade-9;
$navbar-border-color:                 $shade-0;
$navbar-link-color:                   $shade-9;
$navbar-link-mobile-color:            $shade-0;
$navbar-link-active-color:            $secondary;
$navbar-link-mobile-active-color:     rgba($shade-0, 0.5);
$navbar-dropdown-toggle-active-color: $shade-6;
$icon-bar-bg:                         $shade-8;


// Collection tree
$collection-tree-headings-color:          $shade-6;
$collection-tree-color:                   $shade-8;
$collection-tree-active-color:            $shade-9;
$collection-tree-active-icon-color:       $shade-7;
$collection-tree-active-bg:               $shade-2;
$collection-tree-focus-color:             $asphalt;
$collection-tree-icon-color:              $shade-6;
$touch-collection-tree-headings-bg:       shade($shade-1, 4%);
$touch-collection-tree-active-color:      $shade-0;
$touch-collection-tree-active-bg:         $blue;
$touch-collection-tree-border:            $shade-4;
$touch-collection-tree-separator:         $body-bg;

// Items
$items-bg:                    $shade-0;
$item-placeholder-color:      $shade-2;

// Item list
$item-border-color:              $shade-4;
$item-active-color:              $shade-0;
$item-active-bg:                 $secondary;
$item-creator-date-color:        mix($body-bg, $text-color, 50%);
$item-list-chevron-color:        $shade-4;
$creator-date-placeholder-color: rgba($item-placeholder-color, 0.5);

// Item table
$item-table-head-color:     $shade-8;
$item-table-head-border:    $shade-2;
$item-table-head-active-bg: $shade-1;
$item-table-odd-bg:         mix($shade-10, $shade-1, 2%);
$item-table-active-bg:      $shade-3;
$item-table-focus-color:    $shade-0;
$item-table-focus-bg:       $secondary;
$sort-indicator:            $secondary;
$item-table-dnd-target-bg:  $shade-5;

// Item details
$item-details-bg:        $shade-1;
$item-details-border:    $shade-4;
$item-details-border-1x: $shade-3;
$info-view-color:        $shade-5;

// Panel
$panel-bg:           $shade-1;
$panel-header-color: $shade-8;
$panel-backdrop-bg:  rgba($shade-10, 0.1);

// Tabs
$tabs-border-color:             $shade-3;
$tab-active-color:              $secondary;
$tab-inactive-color:            $headings-color;
$tab-pane-heading-border-color: $shade-4;
$tab-pane-heading-bg:           shade($shade-1, 4%);

// Metadata list
$key-color:                $shade-6;
$handle-color-touch:       $shade-4;
$handle-color-mouse:       $shade-6;
$metadata-heading-color:   $shade-5;
$metadata-separator-color: $shade-3;

// Notes list
$notes-toolbar-border-color: $shade-3;
$note-active-bg:             $shade-3;
$note-focus-color:           $shade-0;
$note-focus-bg:              $blue;
$note-border-color:          $shade-3;
$note-border-color-touch:    $shade-4;
$note-list-chevron-color:    $shade-4;
$note-placeholder-color:     $shade-5;

// Attachment list
$attachments-toolbar-border-color: $shade-3;
$attachment-details-border-color:  $shade-3;
$attachment-placeholder-color:     $shade-5;
$no-link-opacity:                  0.5;

// Rich editor
$editor-bg: $shade-0;
$editor-border-color:        $shade-3;
$tox-edit-area-border-color: $shade-2;

// Note
$note-headings-color:     $headings-color;
$blockquote-border-color: $shade-3;

// Button
$btn-primary-color:           $primary;
$btn-secondary-color:         $secondary;
$btn-light-color:             $shade-6;
$btn-default-color:           $shade-9;
$btn-default-hover-bg:        $shade-0;
$btn-default-border-color:    $shade-3;
$btn-box-shadow-color:        rgba($shade-10, 0.2);
$btn-success-color:           $success;
$btn-icon-hover-bg:           shade($shade-1, 2%);
$btn-icon-active-color:       $shade-7;
$btn-icon-active-bg:          $shade-2;
$btn-icon-separator-color:    $shade-3;
$twisty-color:                $shade-6;
$twisty-focus-color:          $asphalt;
$twisty-selected-color:       $shade-7;
$twisty-dnd-target-color:     $shade-0;

// Forms
$form-bg-touch:             $shade-1;
$input-color:               $text-color;
$input-bg:                  $body-bg;
$input-border-color:        $shade-3;
$input-border-color-touch:  $shade-5;
$input-focus-color:         $secondary;
$placeholder-color:         $shade-5;
$checkbox-border-touch:     $shade-4;
$checkbox-checked-bg-touch: $secondary;
$label-color:               $shade-6;

// Spinner
$spinner-color: $secondary;

// Touch header
$touch-header-color:      $shade-8; // Better than $shade-6 to link color
$touch-header-link-color: $blue;
$touch-header-bg:         $shade-1;
$touch-header-darker-bg:  shade($shade-1, 2%);
$touch-header-border:     $shade-4;
$btn-options-color:       $secondary;
$btn-options-bg:          $transparent;
$btn-options-focus-color: rgba($btn-options-color, 0.5);

// Touch footer
$touch-footer-color:     $shade-8;
$touch-footer-bg:        $shade-1;
$touch-footer-darker-bg: shade($shade-1, 2%);
$touch-footer-border:    $shade-4;

// Editable
$editable-color:             $text-color;
$editable-bg:                $shade-0;
$editable-border-color:      $secondary;
$editable-hover-percent:     0.04;
$editable-hover-bg:          rgba($shade-10, $editable-hover-percent);
$editable-backdrop-bg:       $shade-1;
$editable-backdrop-hover-bg: darken($shade-1, ($editable-hover-percent * 100%));

// Menu (select, dropdown, …)
$menu-color:                  $text-color;
$menu-color-disabled:         lighten($text-color, 33%);
$menu-bg:                     $body-bg;
$menu-box-shadow:             0 0 0 1px rgba(0, 0, 0, 0.08), 0 3px 8px rgba(0, 0, 0, 0.2);
$menu-item-hover-bg:          mix($shade-10, $shade-1, 2%);
$menu-item-selected-bg:       $shade-2;
$menu-item-selected-hover-bg: $shade-3;
$menu-devider:                $shade-2;
$menu-no-results-color:       $shade-5;

// Drag layer
$creator-drag-preview-shadow: rgba($shade-10, 0.2);
$items-drag-indicator-color:  $item-active-color;
$items-drag-indicator-bg:     lighten($item-active-bg, 5%);

// Modal
$modal-backdrop-bg:           rgba($shade-10, 0.4);
$modal-content-bg:            $body-bg;
$modal-content-bg-touch:      $shade-1;
$modal-header-bg:             $shade-0;
$modal-touch-header-bg:       $shade-1;
$modal-form-header-bg:        shade($shade-1, 2%);
$modal-border-color:          $shade-2;
$modal-border-color-touch:    $shade-4;
$modal-icon-spin-color:       $shade-0;

// Toolbar
$toolbar-color:              $icon-color;
$tool-group-separator-color: $shade-2;

// Messages
$message-bg: $body-bg;
$error:      $red;
$info:       $blue;

// Tag selector
$tag-selector-border-color: 		$shade-3;
$tag-selector-color:        		$shade-8;
$tag-hover-bg:              		$shade-2;
$tag-selected-color:        		$shade-0;
$tag-selected-bg:           		$shade-6;
$tag-selected-active-bg:    		$shade-7;
$tag-selector-grip-color:   		$shade-4;
$tag-selector-grip-color-active: 	$blue;

// Touch tag selector
$touch-tag-selector-pane-bg:      $shade-0;
$touch-tag-selector-border-color: $shade-4;
$touch-tag-selected-bg:           $shade-3;
$tag-color-border-color:          $shade-4;
$touch-tag-placeholder-bg:        tint($shade-2, 50%);

// Popover
$popover-bg:                  $body-bg;
$popover-body-color:          $text-color;
$popover-header-bg:           $body-bg;
$popover-header-color:        $shade-8;
$popover-header-border-color: $shade-2;
$popover-box-shadow:          0 0 0 1px rgba(0, 0, 0, 0.08), 0 3px 8px rgba(0, 0, 0, 0.2);
$popover-arrow-color:         $body-bg;
$popover-arrow-outer-color:   rgba(0, 0, 0, 0.2);

// Oncoing
$ongoing-border-color: $shade-3;
$ongoing-color: $shade-8;

// Drag and drop target
$dnd-target-color: rgba($secondary, 0.25);
