//
// Light theme
// --------------------------------------------------


// Colors
// --------------------------------------------------


// Shades
// --------------------------------------------------

$shade-0: #fff;
$shade-1: #f6f6f6;


// Text shades
// --------------------------------------------------

$text-shade-0: #000;
$text-shade-1: #222;
$text-shade-2: #444;


// Scaffolding
// --------------------------------------------------

$body-bg: $shade-0;
$text-color: $text-shade-1;


// Partials
// --------------------------------------------------

// Sidebar
$sidebar-bg: $shade-1;


// Components
// --------------------------------------------------

// Title bar
$title-bar-bg: $shade-1;

// Item details
$item-details-bg: $shade-1;