//
// Light theme
// --------------------------------------------------


// Colors
// --------------------------------------------------

$zotero-red: #900;
$tropy-blue: hsl(216, 60, 90);
$asphalt:    hsl(216, 20, 60);

$brand-primary:   $zotero-red;
$brand-secondary: $tropy-blue;


// Grays
// --------------------------------------------------

$white:  #fff;
$smoke:  #f6f6f6;
$silver: #e6e6e6;
$slate:  #777;
$iron:   #444;
$coal:   #222;
$black:  #000;

// snow, dove, fog, pepper, silver, ash, (deep) cavern, (castle) rock, pewter,
// shadow, graphite


// Scaffolding
// --------------------------------------------------

$body-bg:    $white;
$text-color: $coal;


// Partials
// --------------------------------------------------


// Main
$main-bg: $white;

// Sidebar
$sidebar-bg: $smoke;


// Components
// --------------------------------------------------

// Navbar
$navbar-bg:                       $smoke;
$navbar-nav-mobile-bg:            $silver;
$navbar-border:                   $white;
$navbar-link-color:               $iron;
$navbar-link-active-color:        $asphalt;
$navbar-link-mobile-active-color: $white;
$icon-bar-bg:                     $iron;
$icon-bar-bg-focus:               $asphalt;

// Item details
$item-details-bg: $smoke;