//
// Note pane
// --------------------------------------------------

.tab-pane.notes {
	@include mouse-and-bp-only(md) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content auto;
		grid-auto-flow: column;
		height: 100%;

		&.active:not(.loading) {
			display: grid;
		}
	}

	@include mouse-and-bp-up(lg) {
		height: 100%; // Fix rich-editor height in Safari
	}

	> .toolbar {
		height: $toolbar-height-touch;

		@supports not (-webkit-font-smoothing: subpixel-antialiased) {
			.scrollbar-style-permanent & {
				height: $toolbar-height-touch + $border-width;
				border-bottom: $border-width solid $notes-toolbar-border-color;
			}
		}

		.counter {
			margin-right: $space-xs;
		}
	}

	.scroll-container-mouse {
		display: flex;
		flex-direction: column;
	}

	.no-selection-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $note-placeholder-color;
		font-size: $font-size-h1;

		@include mouse-and-bp-only(md) {
			border-left: $border-width solid $editor-border-color;
			grid-column: 2;
			grid-row: 1 / 3;
		}

		@include mouse-and-bp-up(lg) {
			flex: 0 0 calc(50% + 16px);
			border-top: $border-width solid $editor-border-color;
		}
	}

	.rich-editor {
		@include mouse-and-bp-only(md) {
			grid-column: 2;
			grid-row: 1 / 3;

			&:not(:only-child) {
				border-left: $border-width solid $editor-border-color;
			}

			&:only-child {
				grid-column: 1 / 3;
			}
		}

		@include mouse-and-bp-up(lg) {
			&:not(:only-child) {
				flex: 0 0 calc(50% + #{$space-md});
			}

			&:only-child {
				flex: 1 1 0;
			}
		}

		.autoresize {
			.tox-tinymce {
				@include touch-or-bp-down(sm) {
					min-height: calc(50vh - 77px);
				}

				.editing & {
					@include touch-or-bp-down(sm) {
						min-height: calc(50vh - 167px);
					}
				}

				&,
				.editing & {
					@include bp-down-normalized(xs) {
						min-height: calc(50vh - (#{$navbar-height-xs * 0.5 + $touch-header-height}));
					}
				}
			}
		}
	}
}
