//
// Note pane
// --------------------------------------------------

.tab-pane.notes {
	@include mouse-and-bp-only(md) {
		flex-direction: row;
		height: 100%;
	}

	@include mouse-and-bp-up(lg) {
		height: 100%; // Fix rich-editor height in Safari
	}

	.toolbar-list-container {
		display: flex;
		flex-direction: column;

		@include mouse-and-bp-up(lg) {
			flex: 1 1 auto;
			&:not(:last-child) {
				flex: 0 0 50%;
			}
		}

		@include mouse-and-bp-only(md) {
			flex: 0 0 50%;
		}

		.toolbar {
			height: $toolbar-height-touch;

			.counter {
				margin-right: $space-xs;
			}
		}
	}

	.scroll-container-mouse {
		display: flex;
		flex-direction: column;
	}

	.no-selection-placeholder {
		align-items: center;
		color: $note-placeholder-color;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		font-size: $font-size-h1;
		justify-content: center;

		@include mouse-and-bp-only(md) {
			border-left: $border-width solid $editor-border-color;
		}

		@include mouse-and-bp-up(lg) {
			border-top: $border-width solid $editor-border-color;
		}
	}

	.rich-editor {
		@include mouse-and-bp-only(md) {
			flex: 0 0 50%;

			&:not(:only-child) {
				border-left: $border-width solid $editor-border-color;
			}
		}

		@include bp-down-normalized(xs) {
			min-height: calc(50vh - (#{$navbar-height-xs + $touch-header-height}));
		}

		@include mouse-and-bp-up(md) {
			&:only-child {
				flex: 1 1 auto;
			}
		}

		@include mouse-and-bp-up(lg) {
			flex: 0 0 calc(50% + #{$space-md});
		}

		.tox-edit-area {
			@include touch-or-bp-down(sm) {
				border-top: $border-width solid $tox-edit-area-border-color !important;
			}
		}
	}
}
