//
// Note pane
// --------------------------------------------------

.tab-pane.notes {
	@include mouse-and-bp-only(md) {
		flex-direction: row;
		height: 100%;
	}

	@include mouse-and-bp-up(lg) {
		height: 100%; // Fix rich-editor height in Safari
	}

	.scroll-container-mouse {
		display: flex;
		flex-direction: column;

		@include mouse-and-bp-only(md) {
			flex: 0 0 50%;
		}

		.toolbar {
			position: sticky;
			top: 0;
			z-index: 1;
			height: $toolbar-height-touch;
			background-color: $panel-bg;
		}

		.counter {
			margin-right: $space-xs;
		}
	}

	.rich-editor {
		@include mouse-and-bp-only(md) {
			flex: 0 0 50%;
		}

		@include mouse-and-bp-up(lg) {
			flex: 0 0 calc(50% + #{$space-md});
		}
	}
}
