//
// Asset URLs
// --------------------------------------------------

$staticPath: '/static/web-library';

@function asset-url($type, $path) {
	@return url($staticPath + unquote("/#{$type}/#{$path}"));
}

@function image-url($path) {
	@return asset-url("images", $path);
}

@function font-url($path) {
	@return asset-url("fonts", $path);
}
