//
// Zotero Web Library
// --------------------------------------------------


// Abstracts
// --------------------------------------------------

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/utilities";


// Theme
// --------------------------------------------------

@import "themes/light";


// Base
// --------------------------------------------------

@import "base/normalize";
@import "base/base";
@import "base/type";
@import "base/utilities";


// Partials
// --------------------------------------------------

@import "partials/sidebar";
@import "partials/navs";
@import "partials/focus";
@import "partials/forms";
@import "partials/loading-cover";
@import "partials/transitions";
@import "partials/flex";
@import "partials/grid";


// Components
// --------------------------------------------------

@import "components/button";
@import "components/bibliography";
@import "components/collection-tree";
@import "components/details-list";
@import "components/dropdown";
@import "components/select";
@import "components/editable";
@import "components/icon";
@import "components/inline-feedback";
@import "components/navbar";
@import "components/notes";
@import "components/panel";
@import "components/rich-editor";
@import "components/tabs";
@import "components/tag-selector";
@import "components/toolbar";
@import "components/touch-header";
@import "components/touch-footer";
@import "components/touch-nav";
@import "components/auto-resizer";
@import "components/style-installer";

@import "components/library";

@import "components/item/list";
@import "components/item/table";
@import "components/item/details";

@import "components/metadata/list";
@import "components/metadata/pane";
@import "components/metadata/abstract";
@import "components/metadata/title";
@import "components/metadata/creators";
@import "components/metadata/standalone-attachment.scss";

@import "components/modal/react-modal";
@import "components/modal/collection-select";
@import "components/modal/bibliography";

@import "components/drag-layer";
