//
// Zotero Web Library
// --------------------------------------------------


$scope: ".zotero-wle";

// Abstracts
// --------------------------------------------------

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";


@import "abstracts/utilities/visibility";
@import "abstracts/utilities/text";
@import "abstracts/utilities/flex";

// Theme
// --------------------------------------------------

@import "themes/light";
@import "themes/dark";
@import "themes/common";

// Base
// --------------------------------------------------

@import "base/fonts";
@import "embedded/normalize";
@import "embedded/base";
@import "embedded/type";


// Partials
// --------------------------------------------------

@import "partials/focus";

#{$scope} {
	@import "partials/navs";
	@import "partials/forms";
	@import "partials/loading-cover";
	@import "partials/transitions";
	@import "partials/grid";
	@import "partials/inline-feedback";
	@import "partials/scroll-container";
	@import "partials/badge";
	@import "partials/details-list";
	@import "partials/scrollbar";
	@import "partials/common";
}

// Components
// --------------------------------------------------

#{$scope} {
	@import "components/button";
	@import "components/bibliography";
	@import "components/collection-tree";
	@import "components/dropdown";
	@import "../../modules/web-common/scss/select";
	@import "components/editable";
	@import "../../modules/web-common/scss/icon";
	@import "components/icon-extra";
	@import "components/panel";
	@import "components/tabs";
	@import "components/toolbar";
	@import "components/touch-header";
	@import "components/touch-footer";
	@import "components/touch-nav";
	@import "components/search";
	@import "components/searchbar";
	@import "components/auto-resizer";
	@import "components/library";
	@import "components/item/list";
	@import "components/item/table";
	@import "components/item/details";
	@import "components/item/drilldown";
	@import "components/metadata/list";
	@import "components/metadata/pane";
	@import "components/metadata/abstract";
	@import "components/metadata/title";
	@import "components/metadata/creators";
	@import "components/note/pane";
	@import "components/note/list";
	@import "components/tag/pane";
	@import "components/tag/list";
	@import "components/tag/selector";
	@import "components/tag/touch-selector";
	@import "components/tag/tag-color-manager";
	@import "components/attachment/pane";
	@import "components/attachment/list";
	@import "components/modal/react-modal";
	@import "components/drag-layer";
	@import "components/dropzone";
	@import "components/popover";
	@import "components/crash-handler";
}

@import "embedded/library";
@import "embedded/header";
@import "embedded/footer";
@import "embedded/libraries-tree";
@import "embedded/overrides";
